Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-merge-conflict

  # Quick syntax checkers
  - id: check-xml
  - id: check-yaml
  - id: check-toml
  - id: check-json
    exclude: "tsconfig\\.json$"

- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: 2.3.54
  hooks:
  - id: editorconfig-checker
    args: ['-disable-indentation']
    exclude: "^(.*\\.(bat)|LICENSE)$"

- repo: local
  hooks:
  - id: license
    name: Spotless
    files: ".*\\.(java|kt|kts)$"
    language: system
    entry: ./gradlew spotlessApply
    pass_filenames: false
    require_serial: true
  - id: checkstyle
    name: Check Java codestyle
    files: ".*\\.java$"
    language: system
    entry: ./gradlew checkstyleMain checkstyleTest
    pass_filenames: false
    require_serial: true
  - id: illuaminate
    name: Check Lua code
    files: ".*\\.(lua|java|md)"
    language: system
    entry: ./gradlew lintLua
    pass_filenames: false
    require_serial: true

exclude: |
  (?x)^(
    projects/[a-z]+/src/generated|
    projects/core/src/test/resources/test-rom/data/json-parsing/|
    .*\.dfpwm
  )

Allow turtle to interact with adjacent blocks (eg. cauldrons when holding a bucket or bottle, or buttons/levers if holding a bucket...)
  projects/common/src/main/java/dan200/computercraft/shared/turtle/apis/TurtleAPI.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtlePlaceCommand.java
Due: license, checkstyle, illuaminate

Some event typo fixes
  doc/events/alarm.md
  doc/events/char.md
  doc/events/file_transfer.md
  doc/events/http_check.md
  doc/events/http_failure.md
  doc/events/http_success.md
  doc/events/modem_message.md
  doc/events/monitor_resize.md
  doc/events/rednet_message.md
  doc/events/term_resize.md
  doc/events/timer.md
  projects/common/src/main/java/dan200/computercraft/shared/turtle/apis/TurtleAPI.java
Due: license, checkstyle, illuaminate

Bump Kotlin version to 1.8
  gradle/libs.versions.toml
Due: none

Enforce version bounds for the Kotlin stdlib
  gradle/libs.versions.toml
  projects/core/build.gradle.kts
  projects/forge/build.gradle.kts
Due: license

Log internal Cobalt VM errors
  gradle/libs.versions.toml
  projects/core/src/main/java/dan200/computercraft/core/Logging.java
  projects/core/src/main/java/dan200/computercraft/core/lua/CobaltLuaMachine.java
Due: license, checkstyle, illuaminate

Change how we do vararg events
  doc/events/computer_command.md
  doc/events/task_complete.md
Due: illuaminate

Update event docs (#1304)
  doc/events/computer_command.md
  doc/events/redstone.md
  doc/events/task_complete.md
  doc/events/term_resize.md
  doc/events/terminate.md
  doc/events/turtle_inventory.md
Due: illuaminate

Make errors messages in edit more obvious
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
Due: illuaminate

Added translation for Toki Pona
  projects/common/src/main/resources/assets/computercraft/lang/tok.json
Due: none

[WIP] Better Lua parse errors
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/errors.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/init.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/lexer.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/parser.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/report.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/parser_spec.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/syntax_helpers.lua
Due: illuaminate

Send the original rednet message to the current computer
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/rednet.lua
  projects/core/src/test/resources/test-rom/spec/apis/rednet_spec.lua
Due: illuaminate

Send the original rednet message to the current computer
  src/main/resources/data/computercraft/lua/rom/apis/rednet.lua
  src/test/resources/test-rom/spec/apis/rednet_spec.lua
Due: illuaminate

Attach a speaker peripheral inside its docs
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/SpeakerPeripheral.java
Due: license, checkstyle, illuaminate

Print fancy parse errors in the REPL and edit too
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/error_printer.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/errors.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/init.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/parser.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/lua.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
Due: illuaminate

Import our test suite from lua_menhir
  projects/core/src/test/resources/test-rom/mcfly.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/init_spec.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/lexer_spec.md
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/parser_exhaustive_spec.md
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/parser_spec.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/parser_spec.md
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/syntax_helpers.lua
  projects/core/src/test/resources/test-rom/spec/test_helpers.lua
Due: illuaminate

Rewrite the error printer
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/error_printer.lua
Due: illuaminate

Translations for Toki Pona
  projects/common/src/main/resources/assets/computercraft/lang/it_it.json
  projects/common/src/main/resources/assets/computercraft/lang/tok.json
Due: none

Switch to a more compact representation of the error DFA
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/error_printer.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/parser.lua
Due: illuaminate

Fix incorrect error printing
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
Due: illuaminate

Fix a few typos
  buildSrc/src/main/kotlin/cc/tweaked/gradle/CheckChangelog.kt
  doc/guides/local_ips.md
  projects/common-api/src/main/java/dan200/computercraft/api/turtle/TurtleUpgradeDataProvider.java
  projects/common-api/src/main/java/dan200/computercraft/api/upgrades/UpgradeDataProvider.java
  projects/common/src/main/java/dan200/computercraft/shared/network/client/UpgradesLoadedMessage.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/apis/TurtleAPI.java
  projects/common/src/main/java/dan200/computercraft/shared/util/WorldUtil.java
  projects/core/src/main/java/dan200/computercraft/core/apis/RedstoneAPI.java
  projects/core/src/main/java/dan200/computercraft/core/apis/handles/EncodedWritableHandle.java
  projects/core/src/main/resources/data/computercraft/lua/bios.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/help.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/parallel.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/textutils.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/io.txt
  projects/core/src/main/resources/data/computercraft/lua/rom/help/programming.txt
  projects/core/src/main/resources/data/computercraft/lua/rom/help/turtle.txt
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/fun/advanced/paint.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/fun/adventure.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/gps.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/pocket/falling.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/turtle/excavate.lua
  projects/core/src/test/resources/test-rom/data/json-parsing/README.md
Due: license, checkstyle, illuaminate

Fix a couple of lexer issues
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/error_printer.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/errors.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/init.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/lexer.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/parser.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/init_spec.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/lexer_spec.md
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/parser_spec.md
  projects/core/src/test/resources/test-rom/spec/test_helpers.lua
Due: illuaminate

Add errors for missing ends
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/errors.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/parser.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/parser_exhaustive_spec.md
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/parser_spec.md
Due: illuaminate

Always expose nbt from turtle.getItemDetail
  projects/common-api/src/main/java/dan200/computercraft/api/detail/DetailRegistry.java
  projects/common-api/src/main/java/dan200/computercraft/api/detail/VanillaDetailRegistries.java
  projects/common-api/src/main/java/dan200/computercraft/api/turtle/ITurtleAccess.java
  projects/common/src/main/java/dan200/computercraft/shared/details/ItemDetails.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/apis/TurtleAPI.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/TurtleBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtleAccessInternal.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtleBrain.java
Due: license, checkstyle, illuaminate

Bump Cobalt for even more verbose VM logging
  gradle/libs.versions.toml
  projects/core/src/main/java/dan200/computercraft/core/lua/CobaltLuaMachine.java
Due: license, checkstyle, illuaminate

Always use the compact form for errors
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/error_printer.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/errors.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/parser.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/parser_exhaustive_spec.md
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/parser_spec.md
  projects/core/src/test/resources/test-rom/spec/test_helpers.lua
Due: illuaminate

Custom parse errors for Lua (#1298)
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/error_printer.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/errors.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/init.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/lexer.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/parser.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/lua.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/init_spec.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/lexer_spec.md
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/parser_exhaustive_spec.md
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/parser_spec.md
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/syntax_helpers.lua
  projects/core/src/test/resources/test-rom/spec/test_helpers.lua
Due: illuaminate

Update Cobalt to fix yielding inside __len
  gradle/libs.versions.toml
Due: none

Copy pocket upgrades items before dropping them
  projects/common/src/main/java/dan200/computercraft/shared/pocket/apis/PocketAPI.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtleEquipCommand.java
Due: license, checkstyle, illuaminate

Fix word error in rednet documentation
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/rednet.lua
Due: illuaminate

Translations for Toki Pona
  projects/common/src/main/resources/assets/computercraft/lang/tok.json
Due: none

Fix a few typos in the documentation
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/ModemPeripheral.java
  projects/core/src/main/java/dan200/computercraft/core/apis/handles/BinaryWritableHandle.java
Due: license, checkstyle, illuaminate

Add `id` to the GPS response packet
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/gps.lua
Due: illuaminate

Fix spelling mistake
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/gps.lua
Due: illuaminate

Various improvements to our Lua parser
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/parser.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/parser_exhaustive_spec.md
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/parser_spec.md
Due: illuaminate

Use tags to what items turtle.place() can .use()
  projects/common-api/src/main/java/dan200/computercraft/api/ComputerCraftTags.java
  projects/common/src/main/java/dan200/computercraft/data/TagProvider.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtlePlaceCommand.java
  projects/fabric/src/generated/resources/data/computercraft/tags/items/turtle_can_place.json
  projects/forge/src/generated/resources/data/computercraft/tags/items/turtle_can_place.json
Due: license, checkstyle, illuaminate

[WIP] Fancy runtime error messages
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  gradle/libs.versions.toml
  projects/core/src/main/resources/data/computercraft/lua/bios.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/parallel.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/exception.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/exception.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/lua.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
Due: license, illuaminate

Clarify Minecraft' shift+right click behaviour
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/peripheral.lua
Due: illuaminate

Fxi teh spolling of handshakder
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/NoOriginWebSocketHandshaker.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/Websocket.java
Due: license, checkstyle, illuaminate
