Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

license:
  name: Spotless
  language: system
  entry: ./gradlew spotlessApply
  pass_filenames: false
  require_serial: true

checkstyle:
  name: Check Java codestyle
  language: system
  entry: ./gradlew checkstyleMain checkstyleTest
  pass_filenames: false
  require_serial: true

illuaminate:
  name: Check Lua code
  language: system
  entry: ./gradlew lintLua
  pass_filenames: false
  require_serial: true

Update project paths in our utility build scripts
  .gitattributes
  .github/workflows/main-ci.yml
  projects/web/src/export/index.json
  tools/language.py
  tools/parse-reports.py
Due: none

Minor fixes and cleanup
  projects/common-api/src/main/java/dan200/computercraft/impl/ComputerCraftAPIService.java
  projects/common/src/client/java/dan200/computercraft/client/ClientHooks.java
  projects/common/src/client/java/dan200/computercraft/client/ClientRegistry.java
  projects/common/src/client/java/dan200/computercraft/mixin/client/LocalPlayerMixin.java
  projects/common/src/client/resources/computercraft-client.mixins.json
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
  projects/common/src/main/java/dan200/computercraft/shared/command/CommandComputerCraft.java
  projects/common/src/main/java/dan200/computercraft/shared/command/UserLevel.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/inventory/AbstractComputerMenu.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/inventory/ComputerMenuWithoutInventory.java
  projects/common/src/main/java/dan200/computercraft/shared/media/items/TreasureDiskItem.java
  projects/common/src/main/java/dan200/computercraft/shared/platform/PlatformHelper.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/inventory/TurtleMenu.java
  projects/common/src/test/java/dan200/computercraft/TestPlatformHelper.java
  projects/forge/build.gradle.kts
  projects/forge/src/client/java/dan200/computercraft/client/ForgeClientHooks.java
  projects/forge/src/client/java/dan200/computercraft/mixin/client/BlockRenderDispatcherMixin.java
Due: license, checkstyle, illuaminate

Various improvements to packaging
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  buildSrc/src/main/kotlin/cc/tweaked/gradle/CCTweakedExtension.kt
  buildSrc/src/main/kotlin/cc/tweaked/gradle/CCTweakedPlugin.kt
  buildSrc/src/main/kotlin/cc/tweaked/gradle/Extensions.kt
  buildSrc/src/main/kotlin/cc/tweaked/gradle/MavenDependencySpec.kt
  buildSrc/src/main/kotlin/cc/tweaked/gradle/XmlUtil.kt
  gradle.properties
  projects/ARCHITECTURE.md
  projects/common/src/client/java/dan200/computercraft/client/sound/SpeakerSound.java
  projects/common/src/main/java/dan200/computercraft/annotations/FabricOverride.java
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
  projects/fabric-api/build.gradle.kts
  projects/fabric/build.gradle.kts
  projects/forge/build.gradle.kts
Due: license, checkstyle, illuaminate

Add a system for client-side tests
  .github/workflows/main-ci.yml
  buildSrc/src/main/kotlin/cc/tweaked/gradle/CCTweakedExtension.kt
  buildSrc/src/main/kotlin/cc/tweaked/gradle/CheckChangelog.kt
  buildSrc/src/main/kotlin/cc/tweaked/gradle/CheckLicense.kt
  buildSrc/src/main/kotlin/cc/tweaked/gradle/ClientJavaExec.kt
  buildSrc/src/main/kotlin/cc/tweaked/gradle/Extensions.kt
  buildSrc/src/main/kotlin/cc/tweaked/gradle/IdeaRunConfigurations.kt
  buildSrc/src/main/kotlin/cc/tweaked/gradle/ProcessHelpers.kt
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/shared/platform/Registries.java
  projects/common/src/testMod/java/dan200/computercraft/gametest/api/GameTestHolder.java
  projects/common/src/testMod/java/dan200/computercraft/gametest/core/CCTestCommand.java
  projects/common/src/testMod/java/dan200/computercraft/gametest/core/TestAPI.java
  projects/common/src/testMod/java/dan200/computercraft/gametest/core/TestHooks.java
  projects/common/src/testMod/java/dan200/computercraft/mixin/gametest/SharedConstantsMixin.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Computer_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/CraftOs_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Disk_Drive_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Loot_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Modem_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Monitor_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Printer_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Recipe_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Turtle_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/api/ClientGameTest.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/api/ClientTestExtensions.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/api/TestExtensions.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/api/TestTags.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/ClientTestHooks.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/TestHooks.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/TestReporters.kt
  projects/common/src/testMod/resources/computercraft-gametest.mixins.json
  projects/common/src/testMod/resources/data/cctest/structures/computer_test.open_on_client.snbt
  projects/common/src/testMod/resources/data/cctest/structures/monitor_test.render_monitor.snbt
  projects/fabric/build.gradle.kts
  projects/fabric/src/testMod/java/dan200/computercraft/gametest/core/TestMod.java
  projects/fabric/src/testMod/resources/fabric.mod.json
  projects/forge/build.gradle.kts
  projects/forge/src/testMod/java/dan200/computercraft/gametest/core/ClientHooks.java
  projects/forge/src/testMod/java/dan200/computercraft/gametest/core/TestMod.java
Due: license, checkstyle, illuaminate

Fix sidedness in tests
  projects/common/src/testMod/java/dan200/computercraft/mixin/gametest/SharedConstantsMixin.java
  projects/fabric/src/testMod/java/dan200/computercraft/gametest/core/TestMod.java
  projects/forge/src/testMod/java/dan200/computercraft/gametest/core/TestMod.java
Due: license, checkstyle, illuaminate

Extract failures from gametest JUnit reports
  projects/fabric/build.gradle.kts
  projects/forge/build.gradle.kts
  tools/parse-reports.py
Due: license

Some additional debugging in parse-reports
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/api/ClientTestExtensions.kt
  tools/parse-reports.py
Due: license

Be even noiser in our logging
  tools/parse-reports.py
Due: none

Why are the test reports empty? :(
  tools/parse-reports.py
Due: none

Oh
  tools/parse-reports.py
Due: none

Add a small utility for viewing screenshots
  tools/parse-reports.py
  tools/screenshots.py
Due: none

Fix some issues with parsing gametest dumps
  tools/parse-reports.py
Due: none

Print how many ticks computers were running for
  projects/common/src/testMod/java/dan200/computercraft/mixin/gametest/GameTestSequenceAccessor.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/api/TestExtensions.kt
Due: license, checkstyle, illuaminate

Bring a hammer to our test timeout problems
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/TestHooks.kt
Due: license

Only run one gametest task at the same time too
  buildSrc/src/main/kotlin/cc/tweaked/gradle/MinecraftExec.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/TestHooks.kt
  projects/fabric/build.gradle.kts
  projects/forge/build.gradle.kts
Due: license

*sigh*
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Turtle_Test.kt
Due: license

Fix several issues with the Fabric API jar
  projects/fabric-api/build.gradle.kts
  projects/fabric-api/src/main/modJson/fabric.mod.json
Due: license

Generate en_us.json via datagen
  CONTRIBUTING.md
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/data/DataProviders.java
  projects/common/src/main/java/dan200/computercraft/data/LanguageProvider.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/metrics/basic/AggregatedMetric.java
  projects/common/src/main/java/dan200/computercraft/shared/config/AddressRuleConfig.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigSpec.java
  projects/common/src/main/java/dan200/computercraft/shared/platform/Registries.java
  projects/common/src/main/resources/assets/computercraft/lang/da_dk.json
  projects/common/src/main/resources/assets/computercraft/lang/de_de.json
  projects/common/src/main/resources/assets/computercraft/lang/en_us.json
  projects/common/src/main/resources/assets/computercraft/lang/es_es.json
  projects/common/src/main/resources/assets/computercraft/lang/fr_fr.json
  projects/common/src/main/resources/assets/computercraft/lang/it_it.json
  projects/common/src/main/resources/assets/computercraft/lang/ja_jp.json
  projects/common/src/main/resources/assets/computercraft/lang/ko_kr.json
  projects/common/src/main/resources/assets/computercraft/lang/nb_no.json
  projects/common/src/main/resources/assets/computercraft/lang/nl_nl.json
  projects/common/src/main/resources/assets/computercraft/lang/pl_pl.json
  projects/common/src/main/resources/assets/computercraft/lang/pt_br.json
  projects/common/src/main/resources/assets/computercraft/lang/ru_ru.json
  projects/common/src/main/resources/assets/computercraft/lang/sv_se.json
  projects/common/src/main/resources/assets/computercraft/lang/uk_ua.json
  projects/common/src/main/resources/assets/computercraft/lang/vi_vn.json
  projects/common/src/main/resources/assets/computercraft/lang/zh_cn.json
  projects/fabric/src/generated/resources/assets/computercraft/lang/en_us.json
  projects/forge/src/generated/resources/assets/computercraft/lang/en_us.json
  tools/language.py
Due: license, checkstyle, illuaminate

Translations for Russian (ru_ru)
  projects/common/src/main/resources/assets/computercraft/lang/fr_fr.json
  projects/common/src/main/resources/assets/computercraft/lang/ru_ru.json
  projects/common/src/main/resources/assets/computercraft/lang/sv_se.json
Due: none

Update to latest Fabric
  gradle/libs.versions.toml
  projects/common/src/main/resources/computercraft-common.accesswidener
  projects/common/src/main/resources/computercraft.accesswidener
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
  projects/fabric/src/main/resources/fabric.mod.json
Due: license, checkstyle, illuaminate

Fix path to Fabric mod icon
  projects/fabric/src/main/resources/fabric.mod.json
  projects/forge/src/testMod/resources/META-INF/mods.toml
Due: none

Add a couple of tests for inventory transfer
  projects/common/src/testFixtures/java/dan200/computercraft/test/shared/platform/ContainerTransferContract.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Inventory_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/TestHooks.kt
  projects/common/src/testMod/resources/data/cctest/structures/inventory_test.checks_valid_item.snbt
  projects/common/src/testMod/resources/data/cctest/structures/inventory_test.fails_on_full.snbt
Due: license, checkstyle, illuaminate

Fix computer upgrade recipes
  projects/common/src/main/java/dan200/computercraft/data/RecipeProvider.java
  projects/fabric/src/generated/resources/data/computercraft/recipes/computer_advanced_upgrade.json
  projects/fabric/src/generated/resources/data/computercraft/recipes/turtle_advanced_upgrade.json
  projects/forge/src/generated/resources/data/computercraft/recipes/computer_advanced_upgrade.json
  projects/forge/src/generated/resources/data/computercraft/recipes/turtle_advanced_upgrade.json
Due: license, checkstyle, illuaminate

Add a couple of tests for pocket computers
  buildSrc/src/main/kotlin/cc/tweaked/gradle/MinecraftExec.kt
  projects/common/src/main/java/dan200/computercraft/shared/pocket/items/PocketComputerItem.java
  projects/common/src/testMod/java/dan200/computercraft/gametest/core/MinecraftExtensions.java
  projects/common/src/testMod/java/dan200/computercraft/mixin/gametest/client/MinecraftMixin.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Inventory_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Pocket_Computer_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/api/ClientTestExtensions.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/TestHooks.kt
  projects/common/src/testMod/resources/computercraft-gametest.mixins.json
  tools/screenshots.py
Due: license, checkstyle, illuaminate

Move some functions out of bios into their own APIs
  doc/stub/fs.lua
  doc/stub/http.lua
  projects/core/src/main/resources/data/computercraft/lua/bios.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/fs.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/http/http.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/turtle/turtle.lua
  projects/forge/build.gradle.kts
Due: license, illuaminate

Check the filesystem for isReadOnly
  projects/core-api/src/main/java/dan200/computercraft/api/filesystem/IMount.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/FileMount.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/FileSystemWrapperMount.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/MountWrapper.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/SubMount.java
Due: license, checkstyle, illuaminate

Check isReadOnly recursively
  projects/core-api/src/main/java/dan200/computercraft/api/filesystem/IMount.java
  projects/core-api/src/main/java/dan200/computercraft/api/filesystem/IWritableMount.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/FileMount.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/SubMount.java
Due: license, checkstyle, illuaminate

Update projects/core-api/src/main/java/dan200/computercraft/api/filesystem/IWritableMount.java
  projects/core-api/src/main/java/dan200/computercraft/api/filesystem/IWritableMount.java
Due: license, checkstyle, illuaminate

Better isReadOnly check
  projects/core/src/main/java/dan200/computercraft/core/filesystem/FileMount.java
Due: license, checkstyle, illuaminate

A couple of tests
  projects/core/src/test/java/dan200/computercraft/core/filesystem/FileMountTest.java
Due: license, checkstyle, illuaminate

Trim spaces from filesystem paths
  projects/core/src/main/java/dan200/computercraft/core/filesystem/FileSystem.java
  projects/core/src/test/java/dan200/computercraft/core/filesystem/FileSystemTest.java
Due: license, checkstyle, illuaminate

Check the filesystem for isReadOnly (#1226)
  projects/core-api/src/main/java/dan200/computercraft/api/filesystem/IWritableMount.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/FileMount.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/FileSystemWrapperMount.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/MountWrapper.java
  projects/core/src/test/java/dan200/computercraft/core/filesystem/FileMountTest.java
Due: license, checkstyle, illuaminate

Allow client tests to fail
  .github/workflows/main-ci.yml
Due: none

Pass project root to cct-javadoc
  gradle/libs.versions.toml
  projects/forge/build.gradle.kts
Due: license

Resolve a few TODOs
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/impl/AbstractComputerCraftAPI.java
  projects/common/src/main/java/dan200/computercraft/shared/CommonHooks.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/core/ServerContext.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigSpec.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wireless/WirelessNetwork.java
  projects/core/src/main/java/dan200/computercraft/core/apis/handles/ByteBufferChannel.java
  projects/core/src/main/java/dan200/computercraft/core/computer/ComputerThread.java
  projects/fabric/build.gradle.kts
  projects/forge-api/src/main/java/dan200/computercraft/api/peripheral/IPeripheralProvider.java
Due: license, checkstyle, illuaminate

Path conditions:
  license: any of: .*\.(java|kt|kts)$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  checkstyle: any of: .*\.java$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  illuaminate: any of: .*\.(lua|java|md), but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

