Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

license:
  name: Spotless
  language: system
  entry: ./gradlew spotlessApply
  pass_filenames: false
  require_serial: true

checkstyle:
  name: Check Java codestyle
  language: system
  entry: ./gradlew checkstyle
  pass_filenames: false
  require_serial: true

illuaminate:
  name: Check Lua code
  language: system
  entry: ./gradlew lintLua
  pass_filenames: false
  require_serial: true

New translations en_us.json (Portuguese, Brazilian)
  projects/common/src/main/resources/assets/computercraft/lang/pt_br.json
Due: none

Persistence of shell aliases/completions, settings definitions.
  projects/core/src/main/resources/data/computercraft/lua/bios.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/settings.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/startup.lua
Due: illuaminate

New translations en_us.json (French)
  projects/common/src/main/resources/assets/computercraft/lang/fr_fr.json
Due: none

New translations en_us.json (Spanish)
  projects/common/src/main/resources/assets/computercraft/lang/es_es.json
Due: none

New translations en_us.json (Czech)
  projects/common/src/main/resources/assets/computercraft/lang/cs_cz.json
Due: none

New translations en_us.json (Danish)
  projects/common/src/main/resources/assets/computercraft/lang/da_dk.json
Due: none

New translations en_us.json (German)
  projects/common/src/main/resources/assets/computercraft/lang/de_de.json
Due: none

New translations en_us.json (Italian)
  projects/common/src/main/resources/assets/computercraft/lang/it_it.json
Due: none

New translations en_us.json (Korean)
  projects/common/src/main/resources/assets/computercraft/lang/ko_kr.json
Due: none

New translations en_us.json (Dutch)
  projects/common/src/main/resources/assets/computercraft/lang/nl_nl.json
Due: none

New translations en_us.json (Polish)
  projects/common/src/main/resources/assets/computercraft/lang/pl_pl.json
Due: none

New translations en_us.json (Russian)
  projects/common/src/main/resources/assets/computercraft/lang/ru_ru.json
Due: none

New translations en_us.json (Swedish)
  projects/common/src/main/resources/assets/computercraft/lang/sv_se.json
Due: none

New translations en_us.json (Ukrainian)
  projects/common/src/main/resources/assets/computercraft/lang/uk_ua.json
Due: none

New translations en_us.json (Chinese Simplified)
  projects/common/src/main/resources/assets/computercraft/lang/zh_cn.json
Due: none

New translations en_us.json (Vietnamese)
  projects/common/src/main/resources/assets/computercraft/lang/vi_vn.json
Due: none

New translations en_us.json (Toki Pona)
  projects/common/src/main/resources/assets/computercraft/lang/tok.json
Due: none

New translations en_us.json (Norwegian Bokmal)
  projects/common/src/main/resources/assets/computercraft/lang/nb_no.json
Due: none

New translations en_us.json (Turkish)
  projects/common/src/main/resources/assets/computercraft/lang/tr_tr.json
Due: none

New translations en_us.json (Japanese)
  projects/common/src/main/resources/assets/computercraft/lang/ja_jp.json
Due: none

Show error in wget on http.get error
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/http/wget.lua
Due: illuaminate

fix: wget error handling print() wraps, I'm braindead
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/http/wget.lua
Due: illuaminate

Use printError(..) to display the message
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/http/wget.lua
Due: illuaminate

Added notify function to pocket api, it makes the led blink green and then return to previous color, and beeps 3 times, only to the player that is holding it and broadcast if no player is holding it
  projects/common/src/main/java/dan200/computercraft/shared/pocket/apis/PocketAPI.java
Due: license, checkstyle, illuaminate

Propagate exceptions from parallel where possible
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/parallel.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/textutils.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/exception.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/tiny_require.lua
  projects/core/src/test/java/dan200/computercraft/core/ComputerTestDelegate.java
  projects/core/src/test/resources/test-rom/mcfly.lua
  projects/core/src/test/resources/test-rom/spec/apis/parallel_spec.lua
Due: license, checkstyle, illuaminate

Pocket computer lecterns
  projects/common/src/client/java/dan200/computercraft/client/render/CustomLecternRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/PocketItemRenderer.java
  projects/common/src/main/java/dan200/computercraft/shared/lectern/CustomLecternBlock.java
  projects/common/src/main/java/dan200/computercraft/shared/lectern/CustomLecternBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/media/items/PrintoutItem.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/core/PocketHolder.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/core/PocketServerComputer.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/items/PocketComputerItem.java
Due: license, checkstyle, illuaminate

Use a model for rendering pocket computers
  projects/common/src/client/java/dan200/computercraft/client/model/LecternPocketModel.java
  projects/common/src/client/java/dan200/computercraft/client/render/CustomLecternRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/text/FixedWidthFontRenderer.java
  projects/common/src/datagen/java/dan200/computercraft/data/DataProviders.java
  projects/common/src/generated/resources/assets/minecraft/atlases/blocks.json
  projects/common/src/main/java/dan200/computercraft/shared/pocket/core/PocketServerComputer.java
  projects/common/src/main/resources/assets/computercraft/textures/entity/pocket_computer_advanced.png
  projects/common/src/main/resources/assets/computercraft/textures/entity/pocket_computer_colour.png
  projects/common/src/main/resources/assets/computercraft/textures/entity/pocket_computer_normal.png
Due: license, checkstyle, illuaminate

Finish off rendering
  projects/common/src/client/java/dan200/computercraft/client/model/LecternPocketModel.java
  projects/common/src/client/java/dan200/computercraft/client/render/CustomLecternRenderer.java
  projects/common/src/datagen/java/dan200/computercraft/data/DataProviders.java
  projects/common/src/generated/resources/assets/minecraft/atlases/blocks.json
  projects/common/src/main/java/dan200/computercraft/shared/pocket/items/PocketComputerItem.java
  projects/common/src/main/resources/assets/computercraft/textures/entity/pocket_computer_advanced.png
  projects/common/src/main/resources/assets/computercraft/textures/entity/pocket_computer_colour.png
  projects/common/src/main/resources/assets/computercraft/textures/entity/pocket_computer_frame.png
  projects/common/src/main/resources/assets/computercraft/textures/entity/pocket_computer_light.png
  projects/common/src/main/resources/assets/computercraft/textures/entity/pocket_computer_normal.png
Due: license, checkstyle, illuaminate

Revert changes to PocketItemRenderer
  projects/common/src/client/java/dan200/computercraft/client/render/PocketItemRenderer.java
Due: license, checkstyle, illuaminate

Suggest alternative table keys on nil errors
  projects/core/src/main/java/dan200/computercraft/core/lua/CobaltLuaMachine.java
  projects/core/src/main/java/dan200/computercraft/core/lua/errorinfo/DebugHelpers.java
  projects/core/src/main/java/dan200/computercraft/core/lua/errorinfo/ErrorInfoLib.java
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/error_hints.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/exception.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/lua.lua
  projects/core/src/test/java/dan200/computercraft/core/lua/errorinfo/ErrorInfoLibTest.java
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/error_hints_spec.lua
Due: license, checkstyle, illuaminate

chore: split CreateIntegration by forge/fabric for 6.0.0 update.
  gradle/libs.versions.toml
  projects/common/build.gradle.kts
  projects/common/src/main/java/dan200/computercraft/shared/integration/ExternalModTags.java
  projects/fabric/src/main/java/dan200/computercraft/shared/integration/CreateIntegration.java
  projects/forge/build.gradle.kts
  projects/forge/src/main/java/dan200/computercraft/shared/integration/CreateIntegration.java
Due: license, checkstyle, illuaminate

hack: temporary addition of https://maven.createmod.net to buildSrc as it is not yet mirrored at https://maven.squiddev.cc/mirror
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
Due: license, illuaminate

Switch back to maven.squiddev.cc mirror
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  gradle/libs.versions.toml
  projects/forge/build.gradle.kts
  projects/forge/src/main/java/dan200/computercraft/shared/integration/CreateIntegration.java
Due: license, checkstyle, illuaminate

Allow GPS to use modems connected through a hub
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/gps.lua
Due: illuaminate

Fix comments
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/gps.lua
Due: illuaminate

Fixed tests
  projects/core/src/test/resources/test-rom/spec/apis/gps_spec.lua
Due: illuaminate

Fixed CI
  projects/core/src/test/resources/test-rom/spec/support/fake_computer.lua
Due: illuaminate

Path conditions:
  license: any of: .*\.(java|kt|kts)$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  checkstyle: any of: .*\.java$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  illuaminate: any of: .*\.(lua|java|md), but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

