Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-merge-conflict

  # Quick syntax checkers
  - id: check-xml
  - id: check-yaml
  - id: check-toml
  - id: check-json
    exclude: "tsconfig\\.json$"

- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: 2.3.54
  hooks:
  - id: editorconfig-checker
    args: ['-disable-indentation']
    exclude: "^(.*\\.(bat)|LICENSE)$"

- repo: local
  hooks:
  - id: license
    name: Spotless
    files: ".*\\.(java|kt|kts)$"
    language: system
    entry: ./gradlew spotlessApply
    pass_filenames: false
    require_serial: true
  - id: checkstyle
    name: Check Java codestyle
    files: ".*\\.java$"
    language: system
    entry: ./gradlew checkstyleMain checkstyleTest
    pass_filenames: false
    require_serial: true
  - id: illuaminate
    name: Check Lua code
    files: ".*\\.(lua|java|md)"
    language: system
    entry: ./gradlew lintLua
    pass_filenames: false
    require_serial: true

exclude: |
  (?x)^(
    projects/[a-z]+/src/generated|
    projects/core/src/test/resources/test-rom/data/json-parsing/|
    .*\.dfpwm
  )

Fix bug where turtle drops inventory when moving (#1276)
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/TurtleBlock.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/TurtleBlockEntity.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Turtle_Test.kt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.move_preserves_state.snbt
Due: license, checkstyle, illuaminate

Add a quick test instead
  projects/common/src/main/java/dan200/computercraft/shared/util/InventoryUtil.java
  projects/common/src/test/java/dan200/computercraft/shared/util/InventoryUtilTest.java
Due: license, checkstyle, illuaminate

Test for moving into a rotated container
  projects/common/src/testFixtures/java/dan200/computercraft/test/shared/platform/ContainerTransferContract.java
Due: license, checkstyle, illuaminate

Fix OOB when item insertion wraps around (#1277)
  projects/common/src/main/java/dan200/computercraft/shared/util/InventoryUtil.java
  projects/common/src/test/java/dan200/computercraft/shared/util/InventoryUtilTest.java
Due: license, checkstyle, illuaminate

Simplify cable/modem block breaking code
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/CableBlock.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Turtle_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/api/TestExtensions.kt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.break_cable.snbt
  projects/fabric/src/main/java/dan200/computercraft/shared/FabricCommonHooks.java
Due: license, checkstyle, illuaminate

Correctly handle double chests on Fabric
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Inventory_Test.kt
  projects/common/src/testMod/resources/data/cctest/structures/inventory_test.double_chest_size.snbt
  projects/fabric/src/main/java/dan200/computercraft/shared/peripheral/generic/GenericPeripheralProvider.java
  projects/fabric/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethods.java
Due: license, checkstyle, illuaminate

Fix mouse_up not being fired on Fabric
  projects/common/src/client/java/dan200/computercraft/client/gui/AbstractComputerScreen.java
  projects/common/src/client/java/dan200/computercraft/client/gui/widgets/TerminalWidget.java
Due: license, checkstyle, illuaminate

Fix full-block wired modems not connecting
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/WiredModemFullBlockEntity.java
Due: license, checkstyle, illuaminate

Fix search tab showing up in itemGroups
  projects/common/src/main/java/dan200/computercraft/shared/details/ItemDetails.java
Due: license, checkstyle, illuaminate

Populate item groups on server start
  projects/common/src/main/java/dan200/computercraft/shared/CommonHooks.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Details_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/TestHooks.kt
  projects/fabric/src/main/java/dan200/computercraft/shared/ComputerCraft.java
  projects/forge/src/main/java/dan200/computercraft/shared/ForgeCommonHooks.java
Due: license, checkstyle, illuaminate

Clamp speaker volume again
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/DfpwmState.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/SpeakerPeripheral.java
Due: license, checkstyle, illuaminate

Clamp speaker volume again
  src/main/java/dan200/computercraft/shared/peripheral/speaker/DfpwmState.java
  src/main/java/dan200/computercraft/shared/peripheral/speaker/SpeakerPeripheral.java
Due: license, checkstyle, illuaminate

Increase the distance from which we drop items
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/diskdrive/DiskDriveBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/TurtleUtil.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtleDropCommand.java
  projects/common/src/main/java/dan200/computercraft/shared/util/DropConsumer.java
  projects/common/src/main/java/dan200/computercraft/shared/util/WorldUtil.java
Due: license, checkstyle, illuaminate

Improve our CI artifacts
  .github/workflows/main-ci.yml
Due: none

Test that wired modems form networks
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Modem_Test.kt
  projects/common/src/testMod/resources/data/cctest/structures/modem_test.full_modems_form_networks.snbt
Due: license

Translations for Italian
  projects/common/src/main/resources/assets/computercraft/lang/it_it.json
Due: none

Support resource conditions in upgrade JSON
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/impl/UpgradeManager.java
  projects/common/src/main/java/dan200/computercraft/shared/platform/PlatformHelper.java
  projects/common/src/test/java/dan200/computercraft/TestPlatformHelper.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
Due: license, checkstyle, illuaminate

Add support for shebangs, closes #551
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
  projects/core/src/test/resources/test-rom/spec/programs/shell_spec.lua
Due: illuaminate

Move our internal module into the main package path
  gradle/libs.versions.toml
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/import.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/import.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
Due: illuaminate

Include the licences of our dependencies in the credits
  projects/core/build.gradle.kts
  projects/core/src/main/resources/data/computercraft/lua/rom/help/credits.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/credits.txt
Due: license, illuaminate

Read computer threads directly from the config object
  projects/common/src/main/java/dan200/computercraft/shared/computer/core/ServerContext.java
  projects/common/src/main/java/dan200/computercraft/shared/config/Config.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigSpec.java
  projects/fabric/src/main/java/dan200/computercraft/shared/ComputerCraft.java
Due: license, checkstyle, illuaminate

Bump FCAP version
  gradle/libs.versions.toml
Due: none

Include the licences of our dependencies in the credits
  build.gradle.kts
  src/main/resources/data/computercraft/lua/rom/help/credits.md
  src/main/resources/data/computercraft/lua/rom/help/credits.txt
Due: license, illuaminate

Attempt to reduce test flakiness
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Modem_Test.kt
  projects/core/src/test/java/dan200/computercraft/core/computer/ComputerThreadTest.java
Due: license, checkstyle, illuaminate

Read computer threads directly from the config object (#1295)
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/shared/computer/core/ServerContext.java
  projects/common/src/main/java/dan200/computercraft/shared/config/Config.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigSpec.java
  projects/fabric/src/main/java/dan200/computercraft/shared/ComputerCraft.java
Due: license, checkstyle, illuaminate

Bump CC:T to 1.102.1
  gradle.properties
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: illuaminate

Fix stack overflow in logging code
  projects/core/src/main/java/dan200/computercraft/core/Logging.java
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: license, checkstyle, illuaminate

Fix printouts crashing in item frames
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Monitor_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Printout_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/TestHooks.kt
  projects/common/src/testMod/resources/data/cctest/structures/printout_test.render_in_frame.snbt
  projects/common/src/testMod/resources/data/cctest/structures/printouttest.in_frame_at_night.snbt
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/rednet.lua
  projects/fabric/src/client/java/dan200/computercraft/mixin/client/ItemFrameRendererMixin.java
Due: license, checkstyle, illuaminate

Move coverage to the Java side
  projects/core/src/test/java/dan200/computercraft/core/ComputerTestDelegate.java
  projects/core/src/test/java/dan200/computercraft/core/LuaCoverage.java
  projects/core/src/test/resources/test-rom/mcfly.lua
Due: license, checkstyle, illuaminate

Correctly track coverage for startup.lua too
  projects/core/src/test/java/dan200/computercraft/core/LuaCoverage.java
  projects/core/src/test/resources/test-rom/mcfly.lua
Due: license, checkstyle, illuaminate

Mount drives on the main thread
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/diskdrive/DiskDriveBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/diskdrive/DiskDrivePeripheral.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/diskdrive/MediaStack.java
  projects/common/src/testMod/java/dan200/computercraft/gametest/core/CCTestCommand.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Disk_Drive_Test.kt
  projects/common/src/testMod/resources/data/cctest/structures/disk_drive_test.creates_disk_id.snbt
Due: license, checkstyle, illuaminate

Bump CC:T to 1.102.2
  gradle.properties
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: illuaminate

Add a wee bit of docs
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
Due: illuaminate

Add support for shebangs (#1273)
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
  projects/core/src/test/resources/test-rom/spec/programs/shell_spec.lua
Due: illuaminate

Update redstone.md
  doc/events/redstone.md
Due: illuaminate

Update computer_command.md
  doc/events/computer_command.md
Due: illuaminate

Update term_resize.md
  doc/events/term_resize.md
Due: illuaminate

Update terminate.md
  doc/events/terminate.md
Due: illuaminate

Update turtle_inventory.md
  doc/events/turtle_inventory.md
Due: illuaminate
