Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2022 The CC: Tweaked Developers
#
# SPDX-License-Identifier: CC0-1.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-merge-conflict

  # Quick syntax checkers
  - id: check-xml
  - id: check-yaml
  - id: check-toml
  - id: check-json
    exclude: "tsconfig\\.json$"

- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: 2.7.2
  hooks:
  - id: editorconfig-checker
    args: ['-disable-indentation']
    exclude: "^(.*\\.(bat)|LICENSE)$"

- repo: https://github.com/fsfe/reuse-tool
  rev: v4.0.3
  hooks:
  - id: reuse

- repo: local
  hooks:
  - id: license
    name: Spotless
    files: ".*\\.(java|kt|kts)$"
    language: system
    entry: ./gradlew spotlessApply
    pass_filenames: false
    require_serial: true
  - id: checkstyle
    name: Check Java codestyle
    files: ".*\\.java$"
    language: system
    entry: ./gradlew checkstyle
    pass_filenames: false
    require_serial: true
  - id: illuaminate
    name: Check Lua code
    files: ".*\\.(lua|java|md)"
    language: system
    entry: ./gradlew lintLua
    pass_filenames: false
    require_serial: true

exclude: |
  (?x)^(
    projects/[a-z]+/src/generated|
    projects/core/src/test/resources/test-rom/data/json-parsing/|
    .*\.dfpwm
  )

Bump version to 1.120.1
  gradle.properties
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: illuaminate

Fix shell crashing if read() doesn't yield
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
Due: illuaminate

Reset pocket computer if family changes
  projects/common/src/main/java/dan200/computercraft/shared/pocket/items/PocketComputerItem.java
Due: license, checkstyle, illuaminate

Fix several BE render bounds
  projects/common/src/main/java/dan200/computercraft/shared/lectern/CustomLecternBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/monitor/MonitorBlockEntity.java
Due: license, checkstyle, illuaminate

Add missing @Nullability annotations to arg lists
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtlePlaceCommand.java
  projects/core-api/src/main/java/dan200/computercraft/api/lua/IArguments.java
Due: license, checkstyle, illuaminate

Add test for brewing stand item limit
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Inventory_Test.kt
  projects/common/src/testMod/resources/data/cctest/structures/inventory_test.brewing_stand_item_limit.snbt
Due: license

Waxable wired modems
  projects/common/src/datagen/java/dan200/computercraft/data/LanguageProvider.java
  projects/common/src/generated/resources/assets/computercraft/lang/en_us.json
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/CableBlock.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/CableBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/WiredModemFullBlock.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/WiredModemFullBlockEntity.java
Due: license, checkstyle, illuaminate

Emit getRenderBoundingBox bridge method on Fabric
  projects/common/src/client/java/dan200/computercraft/client/render/BoundedBlockEntityRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/monitor/MonitorBlockEntityRenderer.java
Due: license, checkstyle, illuaminate

Don't fall back to dirt when slot is empty
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethods.java
Due: license, checkstyle, illuaminate

Run pre-commit with --all-files in CI
  .github/workflows/main-ci.yml
Due: none

Add missing @GuardedBy
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/WiredModemPeripheral.java
Due: license, checkstyle, illuaminate

Some cleanup to CI workflow
  .github/workflows/main-ci.yml
  .github/workflows/make-doc.yml
  .pre-commit-config.yaml
Due: none

fix cables without modems being waxable too
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/CableBlock.java
Due: license, checkstyle, illuaminate

lint
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/CableBlock.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/CableBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/WiredModemFullBlock.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/WiredModemFullBlockEntity.java
Due: license, checkstyle, illuaminate

lint 2
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/WiredModemFullBlock.java
Due: license, checkstyle, illuaminate

changelog: document sleep()'s optional parameter, starting in 1.63
  doc/stub/global.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
Due: illuaminate

Mark time parameter as optional
  doc/stub/global.lua
  doc/stub/os.lua
Due: illuaminate

Document sleep()'s optional parameter (#2488)
  doc/stub/global.lua
  doc/stub/os.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
Due: illuaminate

Add all turtle/pocket upgrades to the search creative tab
  projects/common/src/client/java/dan200/computercraft/client/integration/jei/JEIComputerCraft.java
  projects/common/src/main/java/dan200/computercraft/impl/PocketUpgrades.java
  projects/common/src/main/java/dan200/computercraft/impl/TurtleUpgrades.java
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
  projects/common/src/main/java/dan200/computercraft/shared/integration/RecipeModHelpers.java
  projects/common/src/main/resources/computercraft-common.accesswidener
Due: license, checkstyle, illuaminate

Some small cleanup to the block placing code
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtlePlaceCommand.java
Due: license, checkstyle, illuaminate

Bump CC:T to 1.120.2
  gradle.properties
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: illuaminate

Centralise colour conversion in monitor VBO emitting
  projects/common/src/client/java/dan200/computercraft/client/integration/IrisShaderMod.java
  projects/common/src/client/java/dan200/computercraft/client/render/text/DirectFixedWidthFontRenderer.java
Due: license, checkstyle, illuaminate

Update NF and Fabric
  REUSE.toml
  gradle/libs.versions.toml
  projects/common/src/main/resources/banner.png
  projects/common/src/main/resources/computercraft-common.accesswidener
  projects/common/src/main/resources/computercraft.accesswidener
  projects/common/src/testFixtures/java/dan200/computercraft/test/shared/peripheral/generic/methods/InventoryMethodsContract.java
  projects/fabric/src/main/resources/fabric.mod.json
  projects/forge/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
  projects/forge/src/main/resources/META-INF/neoforge.mods.toml
Due: license, checkstyle, illuaminate

Sync translations from Crowdin
  projects/common/src/main/resources/assets/computercraft/lang/fr_fr.json
  projects/common/src/main/resources/assets/computercraft/lang/ru_ru.json
  projects/common/src/main/resources/assets/computercraft/lang/zh_cn.json
Due: none

Fix random indentation of two lines in bios.lua
  projects/core/src/main/resources/data/computercraft/lua/bios.lua
Due: illuaminate

Fix random indentation of two lines in bios.lua (#2495)
  projects/core/src/main/resources/data/computercraft/lua/bios.lua
Due: illuaminate

Fix multishell not culling after changing focus
  projects/common-api/src/overview.html
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/advanced/multishell.lua
  projects/core/src/test/resources/test-rom/spec/programs/advanced/multishell_spec.lua
Due: illuaminate

Use custom term size in pocket map renderer
  projects/common/src/client/java/dan200/computercraft/client/render/PocketItemRenderer.java
Due: license, checkstyle, illuaminate

Fix turtle.place() not skipping ItemStack.useOn
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtlePlaceCommand.java
Due: license, checkstyle, illuaminate

Fix deprecation warning in Fabric Gradle config
  projects/fabric/build.gradle.kts
Due: license

Fix chunk ticket hooks not being called on Fabric
  projects/fabric/src/main/java/dan200/computercraft/mixin/ChunkMapMixin.java
  projects/fabric/src/main/java/dan200/computercraft/shared/ComputerCraft.java
Due: license, checkstyle, illuaminate

Remove MC version from project name
  build.gradle.kts
  buildSrc/src/main/kotlin/cc-tweaked.fabric.gradle.kts
  buildSrc/src/main/kotlin/cc-tweaked.forge.gradle.kts
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  buildSrc/src/main/kotlin/cc-tweaked.mod-publishing.gradle.kts
  buildSrc/src/main/kotlin/cc-tweaked.vanilla.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  projects/common-api/build.gradle.kts
  settings.gradle.kts
Due: license, illuaminate

Fix a whole bunch of spelling mistakes
  buildSrc/src/main/kotlin/cc/tweaked/gradle/CCTweakedExtension.kt
  buildSrc/src/main/kotlin/cc/tweaked/gradle/MergeTrees.kt
  crowdin.yml
  doc/guides/gps_setup.md
  projects/common-api/src/client/java/dan200/computercraft/api/client/turtle/TurtleUpgradeModeller.java
  projects/common/src/client/java/dan200/computercraft/client/gui/GuiSprites.java
  projects/common/src/examples/java/com/example/examplemod/ExampleAPI.java
  projects/common/src/main/java/dan200/computercraft/impl/network/wired/InvariantChecker.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/apis/CommandAPI.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/core/ServerContext.java
  projects/common/src/main/java/dan200/computercraft/shared/platform/PlatformHelper.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/upgrades/TurtleTool.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/upgrades/TurtleToolSerialiser.java
  projects/common/src/test/java/dan200/computercraft/shared/turtle/upgrades/TurtleToolSerialiserTest.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/api/TestExtensions.kt
  projects/core/src/main/java/dan200/computercraft/core/apis/OSAPI.java
  projects/core/src/main/java/dan200/computercraft/core/redstone/RedstoneState.java
  projects/core/src/main/java/dan200/computercraft/core/util/AtomicHelpers.java
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/io.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/paint.txt
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/strings.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/fun/advanced/redirection.lua
  projects/core/src/test/resources/test-rom/mcfly.lua
  projects/core/src/test/resources/test-rom/spec/apis/gps_spec.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/expect_spec.lua
  projects/web/rollup.config.js
  typos.toml
Due: license, checkstyle, illuaminate

Update Gradle and dependencies
  build.gradle.kts
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  buildSrc/src/main/kotlin/cc-tweaked.mod-publishing.gradle.kts
  buildSrc/src/main/kotlin/cc-tweaked.mod.gradle.kts
  config/checkstyle/checkstyle.xml
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  projects/common-api/build.gradle.kts
  projects/common/build.gradle.kts
  projects/common/src/main/java/dan200/computercraft/shared/command/arguments/ComputerSelector.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/diskdrive/DiskDriveBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/util/TickScheduler.java
  projects/core-api/build.gradle.kts
  projects/core/build.gradle.kts
  projects/core/src/main/java/dan200/computercraft/core/filesystem/MemoryMount.java
  projects/fabric/build.gradle.kts
  projects/forge/build.gradle.kts
  projects/web/build.gradle.kts
  settings.gradle.kts
Due: license, checkstyle, illuaminate

Relax supported HTTP verbs
  projects/core/src/main/java/dan200/computercraft/core/apis/HTTPAPI.java
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/http/http.lua
Due: license, checkstyle, illuaminate

Some basic datapack documentation
  doc/reference/breaking_changes.md
  doc/reference/data_pack.md
  doc/reference/startup.md
  projects/common-api/src/main/java/dan200/computercraft/api/ComputerCraftTags.java
  projects/core/src/main/java/dan200/computercraft/core/apis/RedstoneAPI.java
  projects/core/src/main/java/dan200/computercraft/core/computer/computerthread/ComputerThread.java
  projects/core/src/main/resources/data/computercraft/lua/rom/help/http.txt
  projects/core/src/main/resources/data/computercraft/lua/rom/help/pastebin.txt
  projects/core/src/main/resources/data/computercraft/lua/rom/help/wget.txt
Due: license, checkstyle, illuaminate

Lower division count for vector round and __div, switch to string.format for __tostring
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/vector.lua
Due: illuaminate

Fix linter
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/vector.lua
Due: illuaminate

Move buildSrc to build-logic
  .gitignore
  build-logic/base/build.gradle.kts
  build-logic/base/src/main/kotlin/cc-tweaked.fabric.gradle.kts
  build-logic/base/src/main/kotlin/cc-tweaked.forge.gradle.kts
  build-logic/base/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  build-logic/base/src/main/kotlin/cc-tweaked.mod-publishing.gradle.kts
  build-logic/base/src/main/kotlin/cc-tweaked.mod.gradle.kts
  build-logic/base/src/main/kotlin/cc-tweaked.publishing.gradle.kts
  build-logic/base/src/main/kotlin/cc-tweaked.vanilla.gradle.kts
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/CCTweakedExtension.kt
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/CCTweakedPlugin.kt
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/CheckChangelog.kt
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/DependencyCheck.kt
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/ExecTasks.kt
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/Extensions.kt
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/IdeaExt.kt
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/Illuaminate.kt
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/MergeTrees.kt
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/MinecraftConfigurations.kt
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/MinecraftExec.kt
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/Node.kt
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/ProcessHelpers.kt
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/SourceSetReference.kt
  build-logic/build.gradle.kts
  build-logic/settings.gradle.kts
  build.gradle.kts
  buildSrc/settings.gradle.kts
  gradle/libs.versions.toml
  projects/ARCHITECTURE.md
Due: license, illuaminate
