Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

license:
  name: Spotless
  language: system
  entry: ./gradlew spotlessApply
  pass_filenames: false
  require_serial: true

checkstyle:
  name: Check Java codestyle
  language: system
  entry: ./gradlew checkstyle
  pass_filenames: false
  require_serial: true

illuaminate:
  name: Check Lua code
  language: system
  entry: ./gradlew lintLua
  pass_filenames: false
  require_serial: true

Initial Direcitonal support for turtle.place
  projects/common/src/main/java/dan200/computercraft/shared/turtle/apis/TurtleAPI.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtlePlaceCommand.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Turtle_Test.kt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_east.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_log_north.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_log_up.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_log_west.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_multi_parameter_stairs.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_north.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_relative_left.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_relative_right.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_shulker_box_down.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_shulker_box_up.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_slab_bottom.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_slab_top.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_south.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_torch_ground.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_torch_wall_north.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_upside_down_stairs.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_west.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_wired_modem_north.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_wired_modem_up.snbt
Due: license, checkstyle, illuaminate

Fixed Broken Test, Simplified Test Data File
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Turtle_Test.kt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_wired_modem_up.snbt
Due: license

Fixed two typos in dfpwm.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/audio/dfpwm.lua
Due: illuaminate

Fixed two typos in dfpwm.lua (#2272)
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/audio/dfpwm.lua
Due: illuaminate

Add bounds checks for compartment lookup
  projects/common/src/main/java/dan200/computercraft/shared/util/InventoryUtil.java
Due: license, checkstyle, illuaminate

Refactor, Removed cardinal Directions as Options, Updated Tests, Added Orientation Provider for mod specific behavior overrides, Consolidated Parameters, Moved Parsing to API level.
  projects/common-api/src/main/java/dan200/computercraft/api/ComputerCraftAPI.java
  projects/common-api/src/main/java/dan200/computercraft/api/turtle/TurtleOrientationProvider.java
  projects/common-api/src/main/java/dan200/computercraft/impl/ComputerCraftAPIService.java
  projects/common/src/main/java/dan200/computercraft/impl/AbstractComputerCraftAPI.java
  projects/common/src/main/java/dan200/computercraft/impl/TurtleOrientationProviders.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/apis/TurtleAPI.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtlePlaceCommand.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Turtle_Test.kt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_log_forward.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_log_left.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_log_west.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_wired_modem_facing_up.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.place_wired_modem_up.snbt
Due: license, checkstyle, illuaminate

Fixed Import
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtlePlaceCommand.java
Due: license, checkstyle, illuaminate

Fix some isues in SNBT parsing
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/textutils.lua
  projects/core/src/test/resources/test-rom/spec/apis/textutils_spec.lua
Due: illuaminate

Refactor rendering logic for CustomLecternRenderer and ItemMapLikeRenderer
  projects/common/src/client/java/dan200/computercraft/client/model/LecternPocketModel.java
  projects/common/src/client/java/dan200/computercraft/client/render/CustomLecternRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/ItemMapLikeRenderer.java
  projects/common/src/datagen/java/dan200/computercraft/data/DataProviders.java
  projects/common/src/datagen/java/dan200/computercraft/data/LootTableProvider.java
  projects/common/src/datagen/java/dan200/computercraft/data/RecipeProvider.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/upgrades/TurtleTool.java
  projects/common/src/testMod/java/dan200/computercraft/mixin/gametest/GameTestServerMixin.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Computer_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Recipe_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/api/ClientTestExtensions.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/api/TestExtensions.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/TestHooks.kt
  projects/forge/src/client/java/dan200/computercraft/client/ForgeClientHooks.java
  projects/forge/src/client/java/dan200/computercraft/mixin/client/ItemInHandRendererMixin.java
  projects/forge/src/client/resources/computercraft-client.forge.mixins.json
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/FluidMethods.java
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethods.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/FakePlayerExt.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
  projects/forge/src/main/resources/META-INF/accesstransformer.cfg
  projects/forge/src/main/resources/META-INF/neoforge.mods.toml
  projects/forge/src/test/java/dan200/computercraft/test/shared/NeoSetupHook.java
  projects/forge/src/testMod/java/dan200/computercraft/gametest/core/TestMod.java
Due: license, checkstyle, illuaminate

Get everything compiling
  buildSrc/src/main/kotlin/cc-tweaked.fabric.gradle.kts
  projects/common/src/datagen/java/dan200/computercraft/data/DataProviders.java
  projects/common/src/datagen/java/dan200/computercraft/data/LootTableProvider.java
  projects/common/src/datagen/java/dan200/computercraft/data/RecipeProvider.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/AbstractEnergyMethods.java
  projects/common/src/testFixtures/java/dan200/computercraft/test/shared/WithMinecraft.java
  projects/common/src/testMod/java/dan200/computercraft/mixin/gametest/GameTestServerMixin.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Computer_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Disk_Drive_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Monitor_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Recipe_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Turtle_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/api/ClientTestExtensions.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/api/TestExtensions.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/TestHooks.kt
  projects/forge/src/client/java/dan200/computercraft/client/ForgeClientHooks.java
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/EnergyMethods.java
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/FluidMethods.java
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethods.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/FakePlayerExt.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/ForgeContainerTransfer.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
  projects/forge/src/main/resources/META-INF/accesstransformer.cfg
  projects/forge/src/main/resources/META-INF/neoforge.mods.toml
  projects/forge/src/test/java/dan200/computercraft/shared/platform/ForgeContainerTransferTest.java
  projects/forge/src/test/java/dan200/computercraft/test/shared/NeoSetupHook.java
  projects/forge/src/testMod/java/dan200/computercraft/gametest/core/TestMod.java
Due: license, checkstyle, illuaminate

Update for NeoForge 1.21.10 API changes: adapt fluid and inventory handler capabilities, fix startRiding method signature, and refactor rendering logic.
  projects/forge/src/client/java/dan200/computercraft/client/ForgeClientHooks.java
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/FluidMethods.java
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethods.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/FakePlayerExt.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
Due: license, checkstyle, illuaminate

Remove deprecated drawHighlight method and prepare for NeoForge 1.21.10 API changes
  projects/forge/src/client/java/dan200/computercraft/client/ForgeClientHooks.java
Due: license, checkstyle, illuaminate

Add Kotlin test dependencies to Gradle build files for common, fabric, and forge projects
  projects/common/build.gradle.kts
  projects/fabric/build.gradle.kts
  projects/forge/build.gradle.kts
  projects/forge/src/main/java/dan200/computercraft/shared/platform/FakePlayerExt.java
Due: license, checkstyle, illuaminate

Finish lectern rendering
  buildSrc/build.gradle.kts
  gradle/libs.versions.toml
  projects/common-api/src/client/java/dan200/computercraft/api/client/StandaloneModel.java
  projects/common/src/client/java/dan200/computercraft/client/ClientHooks.java
  projects/common/src/client/java/dan200/computercraft/client/ClientRegistry.java
  projects/common/src/client/java/dan200/computercraft/client/gui/LookingAtBlockEntityDebugEntry.java
  projects/common/src/client/java/dan200/computercraft/client/model/LecternBookModel.java
  projects/common/src/client/java/dan200/computercraft/client/model/LecternPocketModel.java
  projects/common/src/client/java/dan200/computercraft/client/model/LecternPrintoutModel.java
  projects/common/src/client/java/dan200/computercraft/client/model/LecternPrintoutModelDefinitions.java
  projects/common/src/client/java/dan200/computercraft/client/render/CustomLecternRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/PocketItemRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/SpriteRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/TurtleBlockEntityRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/monitor/MonitorBlockEntityRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/text/FixedWidthFontRenderer.java
  projects/common/src/datagen/java/dan200/computercraft/data/DataProviders.java
  projects/fabric/src/client/java/dan200/computercraft/client/ComputerCraftClient.java
  projects/forge/build.gradle.kts
  projects/forge/src/client/java/dan200/computercraft/client/ForgeClientHooks.java
  projects/forge/src/client/java/dan200/computercraft/client/ForgeClientRegistry.java
  projects/forge/src/main/java/dan200/computercraft/ComputerCraft.java
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/FluidMethods.java
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethods.java
Due: license, checkstyle, illuaminate

Remove QuadEmitter
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  gradle/libs.versions.toml
  projects/common/build.gradle.kts
  projects/common/src/client/java/dan200/computercraft/client/gui/PrintoutScreen.java
  projects/common/src/client/java/dan200/computercraft/client/gui/widgets/TerminalWidget.java
  projects/common/src/client/java/dan200/computercraft/client/integration/emi/EMIComputerCraft.java
  projects/common/src/client/java/dan200/computercraft/client/render/CustomLecternRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/PocketItemRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/PrintoutRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/monitor/MonitorBlockEntityRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/text/FixedWidthFontRenderer.java
  projects/fabric/build.gradle.kts
  projects/fabric/src/main/resources/fabric.mod.json
  projects/forge/build.gradle.kts
  projects/forge/src/main/java/dan200/computercraft/shared/platform/FakePlayerExt.java
Due: license, checkstyle, illuaminate

Update Create for Fabric
  gradle/libs.versions.toml
  projects/fabric/src/main/java/dan200/computercraft/shared/integration/CreateIntegration.java
Due: license, checkstyle, illuaminate

Update to Gradle 9.2
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/cc-tweaked.fabric.gradle.kts
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  buildSrc/src/main/kotlin/cc-tweaked.mod.gradle.kts
  buildSrc/src/main/kotlin/cc/tweaked/gradle/CCTweakedExtension.kt
  buildSrc/src/main/kotlin/cc/tweaked/gradle/CCTweakedPlugin.kt
  buildSrc/src/main/kotlin/cc/tweaked/gradle/DependencyCheck.kt
  buildSrc/src/main/kotlin/cc/tweaked/gradle/Extensions.kt
  buildSrc/src/main/kotlin/cc/tweaked/gradle/MinecraftConfigurations.kt
  gradle/gradle-daemon-jvm.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  package-lock.json
  projects/common-api/build.gradle.kts
  projects/common-api/src/main/java/dan200/computercraft/api/turtle/ITurtleUpgrade.java
  projects/common/build.gradle.kts
  projects/common/src/main/java/dan200/computercraft/impl/network/wired/InvariantChecker.java
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
  projects/common/src/main/java/dan200/computercraft/shared/network/client/SpeakerStopClientMessage.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/WiredModemPeripheral.java
  projects/common/src/test/java/dan200/computercraft/impl/network/wired/NetworkBenchmark.java
  projects/core/build.gradle.kts
  projects/core/src/main/java/dan200/computercraft/core/apis/PeripheralAPI.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/CheckUrl.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/Resource.java
  projects/core/src/main/java/dan200/computercraft/core/asm/Generator.java
  projects/core/src/main/java/dan200/computercraft/core/computer/computerthread/ComputerThread.java
  projects/core/src/testFixtures/java/dan200/computercraft/test/core/ReplaceUnderscoresDisplayNameGenerator.java
  projects/fabric/build.gradle.kts
  projects/fabric/src/datagen/java/dan200/computercraft/data/FabricDataProviders.java
  projects/forge/build.gradle.kts
  projects/lints/build.gradle.kts
  projects/lints/src/main/kotlin/cc/tweaked/javadoc/SnippetTaglet.kt
  projects/standalone/src/main/java/cc/tweaked/standalone/Main.java
  projects/web/src/builder/java/cc/tweaked/web/builder/TransformingClassLoader.java
  projects/web/src/main/java/cc/tweaked/web/EmulatedComputer.java
  projects/web/src/main/java/dan200/computercraft/core/apis/http/request/THttpRequest.java
  settings.gradle.kts
Due: license, checkstyle, illuaminate

Update CI to use Java 21
  .github/workflows/main-ci.yml
  .github/workflows/make-doc.yml
  CONTRIBUTING.md
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
Due: license, illuaminate

Bump CC:T to 1.116.2
  gradle.properties
  gradle/libs.versions.toml
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: illuaminate

Move lectern material back to one of the models
  projects/common/src/client/java/dan200/computercraft/client/model/LecternBookModel.java
  projects/common/src/client/java/dan200/computercraft/client/model/LecternPrintoutModel.java
  projects/common/src/client/java/dan200/computercraft/client/model/LecternPrintoutModelDefinitions.java
  projects/common/src/client/java/dan200/computercraft/client/render/CustomLecternRenderer.java
  projects/common/src/datagen/java/dan200/computercraft/data/DataProviders.java
Due: license, checkstyle, illuaminate

Block highlight rendering
  gradle/libs.versions.toml
  projects/common/src/client/java/dan200/computercraft/client/ClientHooks.java
  projects/common/src/client/java/dan200/computercraft/client/render/BlockOutlineRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/CableHighlightRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/monitor/MonitorHighlightRenderer.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/CableBlock.java
  projects/fabric/src/client/java/dan200/computercraft/client/ComputerCraftClient.java
  projects/forge/src/client/java/dan200/computercraft/client/ForgeClientHooks.java
  projects/forge/src/client/java/dan200/computercraft/client/ForgeClientRegistry.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/FakePlayerExt.java
Due: license, checkstyle, illuaminate

Restore monitor VBO code
  projects/common/src/client/java/dan200/computercraft/client/render/monitor/MonitorBlockEntityRenderer.java
Due: license, checkstyle, illuaminate

Sync translations from Crowdin
  projects/common/src/main/resources/assets/computercraft/lang/es_es.json
  projects/common/src/main/resources/assets/computercraft/lang/hu_hu.json
  projects/common/src/main/resources/assets/computercraft/lang/it_it.json
  projects/common/src/main/resources/assets/computercraft/lang/pt_br.json
  projects/common/src/main/resources/assets/computercraft/lang/sv_se.json
  projects/common/src/main/resources/assets/computercraft/lang/zh_cn.json
Due: none

Remove Fabric config patcher
  buildSrc/src/main/kotlin/cc-tweaked.fabric.gradle.kts
  buildSrc/src/main/kotlin/cc/tweaked/gradle/IdeaRunConfigurations.kt
  gradle/libs.versions.toml
  projects/fabric/build.gradle.kts
Due: license

changelog: retroactively document changes to os.version()
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
Due: illuaminate

os.version: document as purely decorative
  doc/stub/os.lua
Due: illuaminate

os.version: add link to _HOST
  doc/stub/os.lua
Due: illuaminate

Made Pastebin uploads unlisted instead of public
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/http/pastebin.lua
Due: illuaminate

Clarify which sounds can be played with speaker
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/SpeakerPeripheral.java
Due: license, checkstyle, illuaminate

Fix missing return value docs in shell.openTab
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
Due: illuaminate

Fix missing return value docs in shell.openTab (#2333)
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
Due: illuaminate

Fix link to _HOST
  doc/stub/global.lua
  doc/stub/os.lua
Due: illuaminate

Retroactively document changes to os.version() (#2323)
  doc/stub/global.lua
  doc/stub/os.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
Due: illuaminate

Update build tooling
  buildSrc/src/main/kotlin/cc-tweaked.fabric.gradle.kts
  gradle/libs.versions.toml
Due: license

Encode stack components with RegistryOps
  projects/common/src/main/java/dan200/computercraft/shared/CommonHooks.java
  projects/common/src/main/java/dan200/computercraft/shared/details/ItemDetails.java
Due: license, checkstyle, illuaminate

Clarify behaviour around drawImage cursor
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/paintutils.lua
Due: illuaminate

Pass registries to details providers
  projects/common-api/src/main/java/dan200/computercraft/api/ComputerCraftAPI.java
  projects/common-api/src/main/java/dan200/computercraft/api/detail/BasicItemDetailProvider.java
  projects/common-api/src/main/java/dan200/computercraft/api/detail/ComponentDetailProvider.java
  projects/common-api/src/main/java/dan200/computercraft/api/detail/DetailProvider.java
  projects/common-api/src/main/java/dan200/computercraft/api/detail/DetailRegistry.java
  projects/common-api/src/main/java/dan200/computercraft/impl/ComputerCraftAPIService.java
  projects/common/src/examples/java/com/example/examplemod/ExamplePocketPeripheral.java
  projects/common/src/main/java/dan200/computercraft/impl/AbstractComputerCraftAPI.java
  projects/common/src/main/java/dan200/computercraft/impl/GenericSources.java
  projects/common/src/main/java/dan200/computercraft/impl/detail/DetailRegistryImpl.java
  projects/common/src/main/java/dan200/computercraft/shared/CommonHooks.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/apis/CommandAPI.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/core/ServerContext.java
  projects/common/src/main/java/dan200/computercraft/shared/details/ItemDetails.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/apis/TurtleAPI.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtleInspectCommand.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Details_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Turtle_Test.kt
  projects/fabric/src/main/java/dan200/computercraft/impl/ComputerCraftAPIImpl.java
  projects/fabric/src/main/java/dan200/computercraft/shared/ComputerCraft.java
  projects/fabric/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethods.java
  projects/forge/src/main/java/dan200/computercraft/ComputerCraft.java
  projects/forge/src/main/java/dan200/computercraft/impl/ComputerCraftAPIImpl.java
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/FluidMethods.java
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethods.java
Due: license, checkstyle, illuaminate

Rewrite computer input handling (again)
  projects/common/src/client/java/dan200/computercraft/client/gui/AbstractComputerScreen.java
  projects/common/src/client/java/dan200/computercraft/client/gui/ClientComputerActions.java
  projects/common/src/client/java/dan200/computercraft/client/gui/ClientComputerInput.java
  projects/common/src/client/java/dan200/computercraft/client/gui/ComputerScreen.java
  projects/common/src/client/java/dan200/computercraft/client/gui/NoTermComputerScreen.java
  projects/common/src/client/java/dan200/computercraft/client/gui/TurtleScreen.java
  projects/common/src/client/java/dan200/computercraft/client/gui/widgets/ComputerSidebar.java
  projects/common/src/client/java/dan200/computercraft/client/gui/widgets/TerminalWidget.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/core/InputHandler.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/core/ServerComputer.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/inventory/AbstractComputerMenu.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/menu/ServerInputHandler.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/menu/ServerInputState.java
  projects/common/src/main/java/dan200/computercraft/shared/network/server/ComputerActionServerMessage.java
  projects/common/src/main/java/dan200/computercraft/shared/network/server/KeyEventServerMessage.java
  projects/common/src/main/java/dan200/computercraft/shared/network/server/MouseEventServerMessage.java
  projects/common/src/main/java/dan200/computercraft/shared/network/server/PasteEventComputerMessage.java
  projects/core/src/main/java/dan200/computercraft/core/computer/Computer.java
  projects/core/src/main/java/dan200/computercraft/core/computer/ComputerEvents.java
  projects/core/src/main/java/dan200/computercraft/core/input/ComputerInput.java
  projects/core/src/main/java/dan200/computercraft/core/input/EventComputerInput.java
  projects/core/src/main/java/dan200/computercraft/core/input/UserComputerInput.java
  projects/core/src/main/java/dan200/computercraft/core/util/StringUtil.java
  projects/standalone/src/main/java/cc/tweaked/standalone/InputState.java
  projects/standalone/src/main/java/cc/tweaked/standalone/Main.java
Due: license, checkstyle, illuaminate

Path conditions:
  license: any of: .*\.(java|kt|kts)$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  checkstyle: any of: .*\.java$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  illuaminate: any of: .*\.(lua|java|md), but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

