Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

license:
  name: Spotless
  language: system
  entry: ./gradlew spotlessApply
  pass_filenames: false
  require_serial: true

checkstyle:
  name: Check Java codestyle
  language: system
  entry: ./gradlew checkstyle
  pass_filenames: false
  require_serial: true

illuaminate:
  name: Check Lua code
  language: system
  entry: ./gradlew lintLua
  pass_filenames: false
  require_serial: true

Remove ability for turtles to be GPS hosts
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/gps.lua
Due: illuaminate

unicode-support(wip)
  CONTRIBUTING.md
  doc/guides/gps_setup.md
  doc/guides/speaker_audio.md
  doc/reference/breaking_changes.md
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  package-lock.json
  package.json
  projects/common/src/client/java/dan200/computercraft/client/gui/ClientComputerInput.java
  projects/common/src/client/java/dan200/computercraft/client/gui/widgets/TerminalWidget.java
  projects/common/src/client/java/dan200/computercraft/client/render/text/DirectFixedWidthFontRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/text/FixedWidthFontRenderer.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/terminal/NetworkedTerminal.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/terminal/TerminalState.java
  projects/common/src/main/java/dan200/computercraft/shared/network/server/KeyEventServerMessage.java
  projects/common/src/main/java/dan200/computercraft/shared/network/server/PasteEventComputerMessage.java
  projects/common/src/main/resources/assets/computercraft/lang/ru_ru.json
  projects/core/src/main/java/dan200/computercraft/core/apis/TermMethods.java
  projects/core/src/main/java/dan200/computercraft/core/input/ComputerInput.java
  projects/core/src/main/java/dan200/computercraft/core/input/EventComputerInput.java
  projects/core/src/main/java/dan200/computercraft/core/input/UserComputerInput.java
  projects/core/src/main/java/dan200/computercraft/core/terminal/Terminal.java
  projects/core/src/main/java/dan200/computercraft/core/terminal/TextBuffer.java
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/settings.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/window.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/autorun/.ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/command/.ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/.ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/turtle/.ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
  projects/core/src/test/resources/test-rom/spec/programs/shell_spec.lua
  projects/web/src/frontend/typings.d.ts
  projects/web/tsconfig.json
Due: license, checkstyle, illuaminate

Cyrillic input fix
  projects/core/src/main/resources/data/computercraft/lua/bios.lua
Due: illuaminate

monitor fix
  projects/common/src/client/java/dan200/computercraft/client/render/monitor/MonitorBlockEntityRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/monitor/MonitorTextureBufferShader.java
  projects/core/src/main/resources/data/computercraft/lua/bios.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
Due: license, checkstyle, illuaminate

Invalid UTF-8 text fix1
  projects/core/src/main/resources/data/computercraft/lua/bios.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/window.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/pretty.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/strings.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
Due: illuaminate

pastebin fix1
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/textutils.lua
Due: illuaminate

backup
  projects/common/src/client/java/dan200/computercraft/client/gui/ClientComputerInput.java
  projects/common/src/client/java/dan200/computercraft/client/gui/widgets/TerminalWidget.java
  projects/common/src/client/java/dan200/computercraft/client/render/monitor/MonitorBlockEntityRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/monitor/MonitorTextureBufferShader.java
  projects/common/src/client/java/dan200/computercraft/client/render/text/DirectFixedWidthFontRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/text/FixedWidthFontRenderer.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/terminal/NetworkedTerminal.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/terminal/TerminalState.java
  projects/common/src/main/java/dan200/computercraft/shared/network/server/KeyEventServerMessage.java
  projects/common/src/main/java/dan200/computercraft/shared/network/server/PasteEventComputerMessage.java
  projects/common/src/main/resources/assets/computercraft/lang/ru_ru.json
  projects/core/src/main/java/dan200/computercraft/core/apis/TermMethods.java
  projects/core/src/main/java/dan200/computercraft/core/input/ComputerInput.java
  projects/core/src/main/java/dan200/computercraft/core/input/EventComputerInput.java
  projects/core/src/main/java/dan200/computercraft/core/input/UserComputerInput.java
  projects/core/src/main/java/dan200/computercraft/core/terminal/Terminal.java
  projects/core/src/main/java/dan200/computercraft/core/terminal/TextBuffer.java
  projects/core/src/main/resources/data/computercraft/lua/bios.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/window.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/autorun/.ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/command/.ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/.ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/turtle/.ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
  projects/core/src/test/resources/test-rom/spec/programs/shell_spec.lua
Due: license, checkstyle, illuaminate

invalid utf8 fix
  projects/core/src/main/resources/data/computercraft/lua/bios.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/window.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/pretty.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/strings.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
Due: illuaminate

pastebint utf
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/textutils.lua
Due: illuaminate

Remove unrelated reverts and leftover test changes
  projects/common/src/main/resources/assets/computercraft/lang/ru_ru.json
  projects/core/src/main/resources/data/computercraft/lua/rom/autorun/.ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/command/.ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/.ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/turtle/.ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
  projects/core/src/test/resources/test-rom/spec/programs/shell_spec.lua
Due: illuaminate

Remove redundant NeoForge plugin repository
  buildSrc/build.gradle.kts
  settings.gradle.kts
Due: license

Fix NF repositories
  buildSrc/build.gradle.kts
  projects/common/build.gradle.kts
  settings.gradle.kts
Due: license

Add timeout to rednet.lookup
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/rednet.lua
Due: illuaminate

Add commands.getEntity
  doc/reference/entity_details.md
  projects/common-api/src/main/java/dan200/computercraft/api/detail/VanillaDetailRegistries.java
  projects/common-api/src/main/java/dan200/computercraft/impl/ComputerCraftAPIService.java
  projects/common/src/main/java/dan200/computercraft/impl/AbstractComputerCraftAPI.java
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/apis/CommandAPI.java
  projects/common/src/main/java/dan200/computercraft/shared/details/EntityDetails.java
  projects/common/src/main/java/dan200/computercraft/shared/platform/RegistryWrappers.java
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/rednet.lua
Due: license, checkstyle, illuaminate

Bump CC:T to 1.118.0
  gradle.properties
  gradle/libs.versions.toml
  package-lock.json
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: illuaminate

Recipe sync fix
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
Due: license, checkstyle, illuaminate

Reorgainse recipe serialisers
  projects/common/src/datagen/java/dan200/computercraft/data/RecipeProvider.java
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
  projects/common/src/main/java/dan200/computercraft/shared/common/ClearColourRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/common/ColourableRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/media/recipes/DiskRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/media/recipes/PrintoutRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/recipes/PocketComputerUpgradeRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/recipe/CustomShapedRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/recipe/CustomShapelessRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/recipe/ImpostorShapedRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/recipe/ImpostorShapelessRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/recipe/TransformShapedRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/recipe/TransformShapelessRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/recipes/TurtleUpgradeRecipe.java
Due: license, checkstyle, illuaminate

Transform breaking overlay to match turtle's rotation
  projects/common/src/client/java/dan200/computercraft/client/render/TurtleBlockEntityRenderer.java
Due: license, checkstyle, illuaminate

Update JEI to MC 26.1.2 version
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/shared/integration/UpgradeRecipeGenerator.java
Due: license, checkstyle, illuaminate

Reshuffle shaped recipe code to work with JEI
  projects/common/src/client/java/dan200/computercraft/client/integration/jei/RecipeResolver.java
  projects/common/src/main/java/dan200/computercraft/shared/integration/UpgradeRecipeGenerator.java
  projects/common/src/main/java/dan200/computercraft/shared/recipe/CustomShapedRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/recipe/ImpostorShapedRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/recipe/TransformShapedRecipe.java
Due: license, checkstyle, illuaminate

Update supported versions
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

fix typo in shell.pathWithExtension
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
Due: illuaminate

Remove pathWithExtension
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
  projects/core/src/test/resources/test-rom/spec/programs/shell_spec.lua
Due: illuaminate

Bump CC:T to 1.118.1
  gradle.properties
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: illuaminate

Update dependencies
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  package-lock.json
Due: none

Fix handling of integer indexes in CobaltLuaTable
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/ManagedComputers.kt
  projects/core-api/src/main/java/dan200/computercraft/api/lua/LuaTable.java
  projects/core/src/main/java/dan200/computercraft/core/lua/TableImpl.java
  projects/core/src/test/java/dan200/computercraft/core/lua/CobaltLuaTableTest.java
  projects/core/src/test/java/dan200/computercraft/core/lua/LuaTableContract.java
  projects/core/src/test/java/dan200/computercraft/core/lua/ObjectLuaTableTest.java
  projects/lints/src/main/kotlin/cc/tweaked/linter/SideChecker.kt
Due: license, checkstyle, illuaminate

Stop using our fork of TeaVM
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  gradle/libs.versions.toml
Due: license, illuaminate

implement http stream reader close #1181
  .gitignore
  projects/core/src/main/java/dan200/computercraft/core/apis/HTTPAPI.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpRequest.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpRequestHandler.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpResponseHandle.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpStreamReader.java
Due: license, checkstyle, illuaminate

Remove Fabric Create integration
  projects/fabric/build.gradle.kts
  projects/fabric/src/main/java/dan200/computercraft/shared/ComputerCraft.java
  projects/fabric/src/main/java/dan200/computercraft/shared/integration/CreateIntegration.java
Due: license, checkstyle, illuaminate

Add commands.getDimension()
  projects/common/src/main/java/dan200/computercraft/shared/computer/apis/CommandAPI.java
Due: license, checkstyle, illuaminate

Fix `min` & `sec` field defaults in os.time
  projects/core/src/main/java/dan200/computercraft/core/apis/LuaDateTime.java
Due: license, checkstyle, illuaminate

Add tests
  projects/core/src/test/resources/test-rom/spec/apis/os_spec.lua
Due: illuaminate

Fix `min` & `sec` field defaults in os.time (#2436)
  projects/core/src/main/java/dan200/computercraft/core/apis/LuaDateTime.java
  projects/core/src/test/resources/test-rom/spec/apis/os_spec.lua
Due: license, checkstyle, illuaminate

Update Cobalt to 0.9.9
  doc/reference/feature_compat.md
  gradle/libs.versions.toml
Due: illuaminate

Add cc.base64 module
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/base64.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/base64_spec.lua
Due: illuaminate

Prohibit specifying interface in IPv6 addresses
  projects/core/src/main/java/dan200/computercraft/core/apis/http/NetworkUtils.java
  projects/core/src/test/java/dan200/computercraft/core/apis/http/NetworkUtilsTest.java
  projects/core/src/test/resources/test-rom/spec/apis/http_spec.lua
Due: license, checkstyle, illuaminate

Block NAT64 addresses
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/AddressPredicate.java
  projects/core/src/test/java/dan200/computercraft/core/apis/http/options/AddressRuleTest.java
Due: license, checkstyle, illuaminate

Bump CC:T to 1.119.0
  gradle.properties
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: illuaminate

Link `/computercraft queue` and computer_command docs
  doc/events/computer_command.md
  doc/reference/command.md
Due: illuaminate

Path conditions:
  license: any of: .*\.(java|kt|kts)$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  checkstyle: any of: .*\.java$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  illuaminate: any of: .*\.(lua|java|md), but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

