Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

license:
  name: Spotless
  language: system
  entry: ./gradlew spotlessApply
  pass_filenames: false
  require_serial: true

checkstyle:
  name: Check Java codestyle
  language: system
  entry: ./gradlew checkstyle
  pass_filenames: false
  require_serial: true

illuaminate:
  name: Check Lua code
  language: system
  entry: ./gradlew lintLua
  pass_filenames: false
  require_serial: true

Use lexer for edit's syntax highlighting
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/lexer.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/lexer_spec.md
Due: illuaminate

Use vanilla's nine-slice sprites for border rendering
  projects/common/src/client/java/dan200/computercraft/client/ClientRegistry.java
  projects/common/src/client/java/dan200/computercraft/client/gui/ComputerScreen.java
  projects/common/src/client/java/dan200/computercraft/client/gui/GuiSprites.java
  projects/common/src/client/java/dan200/computercraft/client/gui/TurtleScreen.java
  projects/common/src/client/java/dan200/computercraft/client/gui/widgets/ComputerSidebar.java
  projects/common/src/client/java/dan200/computercraft/client/render/ComputerBorderRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/PocketItemRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/RenderTypes.java
  projects/common/src/client/java/dan200/computercraft/client/render/SpriteRenderer.java
  projects/common/src/datagen/java/dan200/computercraft/data/DataProviders.java
  projects/common/src/datagen/java/dan200/computercraft/data/ResourceMetadataProvider.java
  projects/common/src/generated/resources/assets/computercraft/textures/gui/border_advanced.png.mcmeta
  projects/common/src/generated/resources/assets/computercraft/textures/gui/border_colour.png.mcmeta
  projects/common/src/generated/resources/assets/computercraft/textures/gui/border_command.png.mcmeta
  projects/common/src/generated/resources/assets/computercraft/textures/gui/border_normal.png.mcmeta
  projects/common/src/generated/resources/assets/computercraft/textures/gui/pocket_bottom_advanced.png.mcmeta
  projects/common/src/generated/resources/assets/computercraft/textures/gui/pocket_bottom_colour.png.mcmeta
  projects/common/src/generated/resources/assets/computercraft/textures/gui/pocket_bottom_normal.png.mcmeta
  projects/common/src/generated/resources/assets/computercraft/textures/gui/sidebar_advanced.png.mcmeta
  projects/common/src/generated/resources/assets/computercraft/textures/gui/sidebar_command.png.mcmeta
  projects/common/src/generated/resources/assets/computercraft/textures/gui/sidebar_normal.png.mcmeta
  projects/common/src/generated/resources/assets/minecraft/atlases/gui.json
  projects/fabric/src/client/java/dan200/computercraft/mixin/client/MinecraftMixin.java
  projects/forge/src/client/java/dan200/computercraft/client/ForgeClientRegistry.java
Due: license, checkstyle, illuaminate

Construct ByteBuffer manually in monitor renderer
  projects/common/src/client/java/dan200/computercraft/client/integration/IrisShaderMod.java
  projects/common/src/client/java/dan200/computercraft/client/integration/ShaderMod.java
  projects/common/src/client/java/dan200/computercraft/client/render/monitor/MonitorBlockEntityRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/text/DirectFixedWidthFontRenderer.java
Due: license, checkstyle, illuaminate

Switch from path to parentPath
  gradle/libs.versions.toml
  package-lock.json
  package.json
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/lexer_spec.md
  projects/web/src/frontend/typings.d.ts
  projects/web/src/htmlTransform/index.tsx
Due: illuaminate

Move edit_runner into its own module
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/edit_runner.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
Due: illuaminate

Add test for crafting of disks
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Disk_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/TestHooks.kt
Due: license

Miniscule typo fix in the shell.path() doc comment
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
Due: illuaminate

Data fixers for turtle owners
  projects/common/src/main/java/dan200/computercraft/mixin/DataFixersMixin.java
  projects/common/src/main/java/dan200/computercraft/shared/datafix/TurtleOwnerFix.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtleBrain.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Turtle_Test.kt
Due: license, checkstyle, illuaminate

Update to latest NeoForge
  gradle/libs.versions.toml
  projects/common/src/client/java/dan200/computercraft/client/ClientRegistry.java
  projects/common/src/client/java/dan200/computercraft/client/CustomModelManager.java
  projects/common/src/client/java/dan200/computercraft/client/platform/ClientPlatformHelper.java
  projects/fabric/src/client/java/dan200/computercraft/client/platform/ClientPlatformHelperImpl.java
  projects/forge/src/client/java/dan200/computercraft/client/ForgeClientRegistry.java
  projects/forge/src/client/java/dan200/computercraft/client/platform/ClientPlatformHelperImpl.java
  projects/forge/src/datagen/java/dan200/computercraft/data/ForgeDataProviders.java
  projects/forge/src/examples/java/com/example/examplemod/ForgeExampleModDataGenerator.java
  projects/forge/src/main/java/dan200/computercraft/ComputerCraft.java
Due: license, checkstyle, illuaminate

Move paint/edit menu bar into common module
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/menu.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/fun/advanced/paint.lua
Due: illuaminate

Syntax highlighting for multiline tokens in edit
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/lexer.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
Due: illuaminate

Bump CC:T to 1.116.0
  gradle.properties
  projects/common/src/main/resources/assets/computercraft/lang/cs_cz.json
  projects/common/src/main/resources/assets/computercraft/lang/ja_jp.json
  projects/common/src/main/resources/assets/computercraft/lang/tr_tr.json
  projects/common/src/main/resources/assets/computercraft/lang/zh_cn.json
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: illuaminate

Move Create integration setup to its proper place
  projects/fabric/src/main/java/dan200/computercraft/shared/ComputerCraft.java
Due: license, checkstyle, illuaminate

Update to Minecraft 1.21.7
  gradle.properties
  gradle/libs.versions.toml
  projects/common-api/src/client/java/dan200/computercraft/api/client/turtle/ItemUpgradeModel.java
  projects/common/src/client/java/dan200/computercraft/client/ClientRegistry.java
  projects/common/src/client/java/dan200/computercraft/client/platform/ClientNetworkContextImpl.java
  projects/fabric/src/client/java/dan200/computercraft/client/ComputerCraftClient.java
  projects/fabric/src/main/resources/fabric.mod.json
  projects/forge/src/client/java/dan200/computercraft/client/ForgeClientRegistry.java
  projects/forge/src/main/java/dan200/computercraft/ComputerCraft.java
  projects/forge/src/main/resources/META-INF/neoforge.mods.toml
Due: license, checkstyle, illuaminate

Update to latest TeaVM
  gradle/libs.versions.toml
  package-lock.json
  package.json
  projects/web/src/builder/java/cc/tweaked/web/builder/TransformingClassLoader.java
Due: license, checkstyle, illuaminate

Add lang hu_hu
  projects/common/src/main/resources/assets/computercraft/lang/hu_hu.json
Due: none

Add Crowdin config
  crowdin.yml
  projects/common/src/main/resources/assets/computercraft/lang/hu_hu.json
Due: none

Update allowed Minecraft versions
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

Add lang hu_hu (#2232)
  crowdin.yml
  projects/common/src/main/resources/assets/computercraft/lang/hu_hu.json
Due: none

Small bits of cleanup
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/monitor/MonitorRenderer.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/TestHooks.kt
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: license, checkstyle, illuaminate

Fix NPE when loading mcfunctions
  projects/common/src/main/java/dan200/computercraft/shared/command/UserLevel.java
Due: license, checkstyle, illuaminate

Don't use SpeakerPosition to get speaker's level
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/SpeakerBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/SpeakerPeripheral.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/UpgradeSpeakerPeripheral.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/peripherals/PocketSpeakerPeripheral.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/upgrades/TurtleSpeaker.java
Due: license, checkstyle, illuaminate

Add capacity to fluid tank data
  projects/fabric/src/main/java/dan200/computercraft/shared/details/FluidDetails.java
  projects/forge/src/main/java/dan200/computercraft/shared/details/FluidData.java
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/FluidMethods.java
Due: license, checkstyle, illuaminate

Sync translations from Crowdin
  projects/common/src/main/resources/assets/computercraft/lang/hu_hu.json
  projects/common/src/main/resources/assets/computercraft/lang/zh_cn.json
Due: none

Bump CC:T to 1.116.1
  gradle.properties
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: illuaminate

Re-enable JEI integration
  gradle/libs.versions.toml
  projects/common/build.gradle.kts
  projects/common/src/client/java/dan200/computercraft/client/integration/jei/JEIComputerCraft.java
  projects/common/src/client/java/dan200/computercraft/client/integration/jei/RecipeResolver.java
Due: license, checkstyle, illuaminate

Support LuaTable arguments in @LuaFunction
  projects/core-api/src/main/java/dan200/computercraft/api/lua/ObjectLuaTable.java
  projects/core/src/main/java/dan200/computercraft/core/asm/Generator.java
  projects/core/src/test/java/dan200/computercraft/core/asm/GeneratorTest.java
Due: license, checkstyle, illuaminate

Fix terminals not receiving scroll events
  projects/common/src/client/java/dan200/computercraft/client/gui/AbstractComputerScreen.java
Due: license, checkstyle, illuaminate

Update to Minecraft 1.21.8
  gradle.properties
  gradle/libs.versions.toml
  projects/fabric/src/main/resources/fabric.mod.json
  projects/forge/src/main/resources/META-INF/neoforge.mods.toml
Due: none

Remove empty-argument optimisation
  projects/core/src/main/java/dan200/computercraft/core/lua/VarargArguments.java
Due: license, checkstyle, illuaminate

Clarify behaviour of itemGroups field
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/AbstractInventoryMethods.java
Due: license, checkstyle, illuaminate

Fixed typo in docstring of textutils.serializeJSON
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/textutils.lua
Due: illuaminate

Fixed typo in docstring of textutils.serializeJSON (#2260)
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/textutils.lua
Due: illuaminate

Add a really simple way to summon new parallel functions after initial creation (WIP?)
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/parallel.lua
Due: illuaminate

Document said summon functions
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/parallel.lua
Due: illuaminate

Denote that this could be improved
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/parallel.lua
Due: illuaminate

Fix badtype error level
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/parallel.lua
Due: illuaminate

Add tests for postparallelism
  projects/core/src/test/resources/test-rom/spec/apis/parallel_spec.lua
Due: illuaminate

Path conditions:
  license: any of: .*\.(java|kt|kts)$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  checkstyle: any of: .*\.java$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  illuaminate: any of: .*\.(lua|java|md), but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

