Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2022 The CC: Tweaked Developers
#
# SPDX-License-Identifier: CC0-1.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-merge-conflict

  # Quick syntax checkers
  - id: check-xml
  - id: check-yaml
  - id: check-toml
  - id: check-json
    exclude: "tsconfig\\.json$"

- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: 2.7.2
  hooks:
  - id: editorconfig-checker
    args: ['-disable-indentation']
    exclude: "^(.*\\.(bat)|LICENSE)$"

- repo: https://github.com/fsfe/reuse-tool
  rev: v4.0.3
  hooks:
  - id: reuse

- repo: local
  hooks:
  - id: license
    name: Spotless
    files: ".*\\.(java|kt|kts)$"
    language: system
    entry: ./gradlew spotlessApply
    pass_filenames: false
    require_serial: true
  - id: checkstyle
    name: Check Java codestyle
    files: ".*\\.java$"
    language: system
    entry: ./gradlew checkstyle
    pass_filenames: false
    require_serial: true
  - id: illuaminate
    name: Check Lua code
    files: ".*\\.(lua|java|md)"
    language: system
    entry: ./gradlew lintLua
    pass_filenames: false
    require_serial: true

exclude: |
  (?x)^(
    projects/[a-z]+/src/generated|
    projects/core/src/test/resources/test-rom/data/json-parsing/|
    .*\.dfpwm
  )

Some more Gradle tweaks
  .gitignore
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/ExternalProjectArtifacts.kt
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/MergeTrees.kt
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/VerifyJavaCompile.kt
  projects/common-api/build.gradle.kts
  projects/common/build.gradle.kts
  projects/fabric/build.gradle.kts
  projects/forge/build.gradle.kts
  projects/web/build.gradle.kts
Due: license

Replace 26.2 with 26.3 in issue template
  .github/ISSUE_TEMPLATE/bug_report.yaml
  doc/reference/data_pack.md
  gradle/libs.versions.toml
  projects/common-api/src/overview.html
  projects/fabric/build.gradle.kts
Due: license, illuaminate

Fix reference to core-api in common javadoc task
  projects/common-api/build.gradle.kts
Due: license

Update MinecraftExec to work with config cache
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/CCTweakedExtension.kt
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/Extensions.kt
  build-logic/base/src/main/kotlin/cc/tweaked/gradle/MinecraftExec.kt
  gradle/libs.versions.toml
  projects/common-api/build.gradle.kts
  projects/fabric/build.gradle.kts
Due: license

Update Iris compat
  build-logic/base/src/main/kotlin/cc-tweaked.base-convention.gradle.kts
  gradle/libs.versions.toml
  projects/common/src/client/java/dan200/computercraft/client/integration/IrisShaderMod.java
  projects/common/src/client/java/dan200/computercraft/client/integration/ShaderMod.java
  projects/common/src/client/java/dan200/computercraft/client/render/monitor/MonitorBlockEntityRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/monitor/MonitorRenderState.java
  projects/common/src/client/java/dan200/computercraft/client/render/text/DirectFixedWidthFontRenderer.java
  projects/forge/src/client/java/dan200/computercraft/client/ForgeClientHooks.java
Due: license, checkstyle, illuaminate

Fix NeoForge version bound
  projects/forge/src/main/resources/META-INF/neoforge.mods.toml
Due: none

Update computer position in transferStateTo instead
  projects/common/src/main/java/dan200/computercraft/shared/computer/blocks/AbstractComputerBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtleBrain.java
Due: license, checkstyle, illuaminate

Refresh redstone output when first creating a computer
  projects/common/src/main/java/dan200/computercraft/shared/computer/blocks/AbstractComputerBlockEntity.java
Due: license, checkstyle, illuaminate

Check argument types to `shell.run` (#2507)
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
  projects/core/src/test/resources/test-rom/spec/programs/shell_spec.lua
Due: illuaminate

Support non-slotted Fabric inventories
  projects/fabric/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethods.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/FabricContainerTransfer.java
Due: license, checkstyle, illuaminate

Support NeoForge's config GUI
  REUSE.toml
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigFile.java
  projects/common/src/main/resources/banner.png
  projects/forge/src/client/java/dan200/computercraft/client/ComputerCraftClient.java
  projects/forge/src/main/java/dan200/computercraft/ComputerCraft.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/ForgeConfigFile.java
  projects/forge/src/main/resources/META-INF/neoforge.mods.toml
Due: license, checkstyle, illuaminate

Restrict GlobalEnvironment for the actual files we use
  projects/common/src/main/java/dan200/computercraft/shared/computer/core/ServerContext.java
  projects/core/src/main/java/dan200/computercraft/core/computer/ComputerExecutor.java
  projects/core/src/main/java/dan200/computercraft/core/computer/GlobalEnvironment.java
  projects/core/src/testFixtures/java/dan200/computercraft/test/core/computer/BasicEnvironment.java
  projects/standalone/src/main/java/cc/tweaked/standalone/StandaloneGlobalEnvironment.java
  projects/web/src/main/java/cc/tweaked/web/EmulatorEnvironment.java
Due: license, checkstyle, illuaminate

Make ComputerContext ctor's public
  projects/core/src/main/java/dan200/computercraft/core/ComputerContext.java
  projects/core/src/main/java/dan200/computercraft/core/asm/Reflect.java
  projects/web/ARCHITECTURE.md
  projects/web/src/main/java/cc/tweaked/web/JsComputerScheduler.java
  projects/web/src/main/java/cc/tweaked/web/Main.java
  projects/web/src/main/java/cc/tweaked/web/methods/MethodReflection.java
  projects/web/src/main/java/cc/tweaked/web/methods/StaticGenerator.java
  projects/web/src/main/java/cc/tweaked/web/methods/StaticLuaMethodSupplier.java
  projects/web/src/main/java/cc/tweaked/web/methods/StaticPeripheralMethodSupplier.java
Due: license, checkstyle, illuaminate

Abstract our HTTP implementation away
  projects/common/src/main/java/dan200/computercraft/shared/CommonHooks.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/core/ServerContext.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigFile.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigSpec.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ProxyPasswordConfig.java
  projects/core/src/main/java/dan200/computercraft/core/ComputerContext.java
  projects/core/src/main/java/dan200/computercraft/core/CoreConfig.java
  projects/core/src/main/java/dan200/computercraft/core/apis/HTTPAPI.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/CheckUrl.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/HttpHandler.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/NettyHttp.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/NetworkUtils.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/ProxyType.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpRequest.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/Websocket.java
  projects/core/src/main/java/dan200/computercraft/core/computer/ComputerExecutor.java
  projects/core/src/test/java/dan200/computercraft/core/apis/http/options/AddressRuleTest.java
  projects/core/src/test/kotlin/dan200/computercraft/core/apis/http/TestHttpApi.kt
  projects/forge/src/main/java/dan200/computercraft/ComputerCraft.java
  projects/standalone/src/main/java/cc/tweaked/standalone/Main.java
  projects/web/src/main/java/cc/tweaked/web/Main.java
  projects/web/src/main/java/cc/tweaked/web/http/HttpRequest.java
  projects/web/src/main/java/cc/tweaked/web/http/JsHttpHandler.java
  projects/web/src/main/java/cc/tweaked/web/http/Websocket.java
  projects/web/src/main/java/dan200/computercraft/core/TCoreConfig.java
  projects/web/src/main/java/dan200/computercraft/core/apis/http/TCheckUrl.java
Due: license, checkstyle, illuaminate

Set terminal focus in setInitialFocus
  projects/common/src/client/java/dan200/computercraft/client/gui/AbstractComputerScreen.java
  projects/common/src/client/java/dan200/computercraft/client/gui/NoTermComputerScreen.java
Due: license, checkstyle, illuaminate

Small perfomance improvements to vector
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/vector.lua
Due: illuaminate

Bump CC:T to 1.120.3
  gradle.properties
  gradle/libs.versions.toml
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
  projects/forge/build.gradle.kts
  projects/forge/src/main/java/dan200/computercraft/ComputerCraft.java
Due: license, checkstyle, illuaminate

Use Fabric mixin in common classes
  gradle/libs.versions.toml
  projects/common/build.gradle.kts
  projects/fabric/build.gradle.kts
  projects/forge/build.gradle.kts
Due: license

Replace ResourceQueue with a Cleaner
  projects/core/src/main/java/dan200/computercraft/core/apis/HTTPAPI.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/Resource.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/ResourceGroup.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/ResourceQueue.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/Websocket.java
  projects/core/src/main/java/dan200/computercraft/core/util/GlobalCleaner.java
  projects/core/src/test/kotlin/dan200/computercraft/core/apis/http/TestHttpApi.kt
  projects/web/src/main/java/cc/tweaked/web/http/Websocket.java
Due: license, checkstyle, illuaminate

Move some common Netty code into NetworkUtils
  projects/core/src/main/java/dan200/computercraft/core/apis/http/NetworkUtils.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpRequest.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/Websocket.java
Due: license, checkstyle, illuaminate

Fix several bugs with websocket closing
  projects/core/src/main/java/dan200/computercraft/core/apis/http/Resource.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/Websocket.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/WebsocketClient.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/WebsocketHandle.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/WebsocketHandler.java
  projects/core/src/test/kotlin/dan200/computercraft/core/apis/http/HttpServer.kt
  projects/core/src/test/kotlin/dan200/computercraft/core/apis/http/TestHttpApi.kt
  projects/forge/build.gradle.kts
  projects/web/src/main/java/cc/tweaked/web/http/Websocket.java
Due: license, checkstyle, illuaminate

apply checkstyle
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpStreamReader.java
Due: license, checkstyle, illuaminate

remove random logs
  logs/2024-01-12-2.log.gz
  logs/2024-01-12-3.log.gz
  logs/2024-01-13-1.log.gz
  logs/debug-1.log.gz
  logs/debug-2.log.gz
  logs/debug-3.log.gz
  logs/debug.log
  logs/latest.log
Due: none

Make SNBT parsing more conformant
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/textutils.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/json.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/snbt.lua
  projects/core/src/test/resources/test-rom/spec/apis/textutils_spec.lua
Due: illuaminate

Property testing for GPS logic
  projects/core/src/test/resources/test-rom/mcfly.lua
  projects/core/src/test/resources/test-rom/spec/apis/gps_spec.lua
Due: illuaminate

Write some tests for bandwidth/traffic limits
  projects/core/src/test/java/dan200/computercraft/core/ComputerTestDelegate.java
  projects/core/src/test/kotlin/dan200/computercraft/core/apis/http/HttpServer.kt
  projects/core/src/test/kotlin/dan200/computercraft/core/apis/http/TestHttpApi.kt
  projects/core/src/test/resources/junit-platform.properties
  projects/core/src/testFixtures/kotlin/dan200/computercraft/test/core/computer/LuaTaskRunner.kt
Due: license, checkstyle, illuaminate

make http streaming read does not consume internal buffer make read unable to alloc infinite internal buffer
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpRequest.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpRequestHandler.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpStreamReader.java
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/http/http.lua
Due: license, checkstyle, illuaminate

Support generic targets in GenericMethod
  projects/core/src/main/java/dan200/computercraft/core/asm/GenericMethod.java
  projects/core/src/test/java/dan200/computercraft/core/asm/GeneratorTest.java
Due: license, checkstyle, illuaminate

try make streaming read stop compatible with ratelimiter
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpRequestHandler.java
Due: license, checkstyle, illuaminate

handle the edge case that response body grow too large
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpRequestHandler.java
Due: license, checkstyle, illuaminate

fix typo in comment
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpRequestHandler.java
Due: license, checkstyle, illuaminate

Add cross-platform abstraction for inventories
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/AbstractInventoryMethods.java
  projects/common/src/main/java/dan200/computercraft/shared/platform/ContainerTransfer.java
  projects/common/src/main/java/dan200/computercraft/shared/platform/ItemContainer.java
  projects/common/src/main/java/dan200/computercraft/shared/platform/PlatformHelper.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/TurtleUtil.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtleDropCommand.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtleSuckCommand.java
  projects/common/src/test/java/dan200/computercraft/TestPlatformHelper.java
  projects/common/src/testFixtures/java/dan200/computercraft/test/shared/platform/ItemContainerContract.java
  projects/fabric/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethods.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/BasicSlottedStorage.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/FabricContainerTransfer.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/FabricItemContainer.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
  projects/fabric/src/test/java/dan200/computercraft/shared/platform/FabricContainerTransferTest.java
  projects/fabric/src/test/java/dan200/computercraft/shared/platform/FabricItemContainerTest.java
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethods.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/ForgeContainerTransfer.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/ForgeItemContainer.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
  projects/forge/src/test/java/dan200/computercraft/shared/platform/ForgeContainerTransferTest.java
  projects/forge/src/test/java/dan200/computercraft/shared/platform/ForgeItemContainerTest.java
Due: license, checkstyle, illuaminate

Shulker turtle upgrades
  projects/common/src/client/java/dan200/computercraft/client/ClientRegistry.java
  projects/common/src/datagen/java/dan200/computercraft/data/BlockModelProvider.java
  projects/common/src/datagen/java/dan200/computercraft/data/DataProviders.java
  projects/common/src/datagen/java/dan200/computercraft/data/LanguageProvider.java
  projects/common/src/datagen/java/dan200/computercraft/data/PrettyDataProvider.java
  projects/common/src/generated/resources/assets/computercraft/lang/en_us.json
  projects/common/src/generated/resources/assets/computercraft/models/block/turtle_shulker_left.json
  projects/common/src/generated/resources/assets/computercraft/models/block/turtle_shulker_right.json
  projects/common/src/generated/resources/pack.mcmeta
  projects/common/src/generated/resources/resourcepacks/turtle_storage/data/computercraft/computercraft/turtle_upgrades/black_shulker_box.json
  projects/common/src/generated/resources/resourcepacks/turtle_storage/data/computercraft/computercraft/turtle_upgrades/blue_shulker_box.json
  projects/common/src/generated/resources/resourcepacks/turtle_storage/data/computercraft/computercraft/turtle_upgrades/brown_shulker_box.json
  projects/common/src/generated/resources/resourcepacks/turtle_storage/data/computercraft/computercraft/turtle_upgrades/cyan_shulker_box.json
  projects/common/src/generated/resources/resourcepacks/turtle_storage/data/computercraft/computercraft/turtle_upgrades/gray_shulker_box.json
  projects/common/src/generated/resources/resourcepacks/turtle_storage/data/computercraft/computercraft/turtle_upgrades/green_shulker_box.json
  projects/common/src/generated/resources/resourcepacks/turtle_storage/data/computercraft/computercraft/turtle_upgrades/light_blue_shulker_box.json
  projects/common/src/generated/resources/resourcepacks/turtle_storage/data/computercraft/computercraft/turtle_upgrades/light_gray_shulker_box.json
  projects/common/src/generated/resources/resourcepacks/turtle_storage/data/computercraft/computercraft/turtle_upgrades/lime_shulker_box.json
  projects/common/src/generated/resources/resourcepacks/turtle_storage/data/computercraft/computercraft/turtle_upgrades/magenta_shulker_box.json
  projects/common/src/generated/resources/resourcepacks/turtle_storage/data/computercraft/computercraft/turtle_upgrades/orange_shulker_box.json
  projects/common/src/generated/resources/resourcepacks/turtle_storage/data/computercraft/computercraft/turtle_upgrades/pink_shulker_box.json
  projects/common/src/generated/resources/resourcepacks/turtle_storage/data/computercraft/computercraft/turtle_upgrades/purple_shulker_box.json
  projects/common/src/generated/resources/resourcepacks/turtle_storage/data/computercraft/computercraft/turtle_upgrades/red_shulker_box.json
  projects/common/src/generated/resources/resourcepacks/turtle_storage/data/computercraft/computercraft/turtle_upgrades/shulker_box.json
  projects/common/src/generated/resources/resourcepacks/turtle_storage/data/computercraft/computercraft/turtle_upgrades/white_shulker_box.json
  projects/common/src/generated/resources/resourcepacks/turtle_storage/data/computercraft/computercraft/turtle_upgrades/yellow_shulker_box.json
  projects/common/src/generated/resources/resourcepacks/turtle_storage/pack.mcmeta
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
  projects/common/src/main/java/dan200/computercraft/shared/platform/PlatformHelper.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/upgrades/TurtleStorage.java
  projects/common/src/main/resources/pack.mcmeta
  projects/common/src/test/java/dan200/computercraft/TestPlatformHelper.java
  projects/fabric/src/datagen/java/dan200/computercraft/data/FabricDataProviders.java
  projects/fabric/src/main/java/dan200/computercraft/shared/ComputerCraft.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/ShulkerItemStorage.java
  projects/forge/src/datagen/java/dan200/computercraft/data/ForgeDataProviders.java
  projects/forge/src/main/java/dan200/computercraft/ComputerCraft.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
Due: license, checkstyle, illuaminate

Update NeoForge for more breaking changes
  gradle/libs.versions.toml
  projects/forge/src/main/java/dan200/computercraft/ComputerCraft.java
Due: license, checkstyle, illuaminate

Update mod dependencies
  build-logic/base/src/main/kotlin/cc-tweaked.base-convention.gradle.kts
  gradle/libs.versions.toml
Due: license

Refactor RedstoneAccess to core-api
  projects/common-api/src/main/java/dan200/computercraft/api/lua/IComputerSystem.java
  projects/common/src/main/java/dan200/computercraft/shared/command/CommandComputerCraft.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/blocks/AbstractComputerBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/blocks/ComputerBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/core/ComputerSystem.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/core/ServerComputer.java
  projects/common/src/main/java/dan200/computercraft/shared/lectern/CustomLecternBlock.java
  projects/common/src/main/java/dan200/computercraft/shared/lectern/CustomLecternBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/redstone/RedstoneRelayBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/redstone/RedstoneRelayPeripheral.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/core/PocketBrain.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/items/PocketComputerItem.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/TurtleBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtleBrain.java
  projects/common/src/main/java/dan200/computercraft/shared/util/DirectionUtil.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Computer_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Modem_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Relay_Test.kt
  projects/core-api/src/main/java/dan200/computercraft/api/computer/ComputerSide.java
  projects/core-api/src/main/java/dan200/computercraft/api/redstone/RedstoneAccess.java
  projects/core/src/main/java/dan200/computercraft/core/redstone/RedstoneState.java
Due: license, checkstyle, illuaminate

Fix some missed imports
  projects/core/src/main/java/dan200/computercraft/core/apis/IAPIEnvironment.java
  projects/core/src/main/java/dan200/computercraft/core/apis/PeripheralAPI.java
  projects/core/src/main/java/dan200/computercraft/core/apis/RedstoneAPI.java
  projects/core/src/main/java/dan200/computercraft/core/apis/RedstoneMethods.java
  projects/core/src/main/java/dan200/computercraft/core/computer/Environment.java
  projects/web/src/main/java/cc/tweaked/web/EmulatedComputer.java
Due: license, checkstyle, illuaminate

Write some tests, fix readLine
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpRequestHandler.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpStreamReader.java
  projects/core/src/test/kotlin/dan200/computercraft/core/apis/http/HttpServer.kt
  projects/core/src/test/kotlin/dan200/computercraft/core/apis/http/TestHttpApi.kt
Due: license, checkstyle, illuaminate

Fix silly stack overflow.
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpStreamReader.java
  projects/core/src/test/kotlin/dan200/computercraft/core/apis/http/HttpServer.kt
  projects/core/src/test/kotlin/dan200/computercraft/core/apis/http/TestHttpApi.kt
Due: license, checkstyle, illuaminate
