Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2022 The CC: Tweaked Developers
#
# SPDX-License-Identifier: CC0-1.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-merge-conflict

  # Quick syntax checkers
  - id: check-xml
  - id: check-yaml
  - id: check-toml
  - id: check-json
    exclude: "tsconfig\\.json$"

- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: 2.7.2
  hooks:
  - id: editorconfig-checker
    args: ['-disable-indentation']
    exclude: "^(.*\\.(bat)|LICENSE)$"

- repo: https://github.com/fsfe/reuse-tool
  rev: v4.0.3
  hooks:
  - id: reuse

- repo: local
  hooks:
  - id: license
    name: Spotless
    files: ".*\\.(java|kt|kts)$"
    language: system
    entry: ./gradlew spotlessApply
    pass_filenames: false
    require_serial: true
  - id: checkstyle
    name: Check Java codestyle
    files: ".*\\.java$"
    language: system
    entry: ./gradlew checkstyle
    pass_filenames: false
    require_serial: true
  - id: illuaminate
    name: Check Lua code
    files: ".*\\.(lua|java|md)"
    language: system
    entry: ./gradlew lintLua
    pass_filenames: false
    require_serial: true

exclude: |
  (?x)^(
    projects/[a-z]+/src/generated|
    projects/core/src/test/resources/test-rom/data/json-parsing/|
    .*\.dfpwm
  )

Support mouse events for lectern pocket computers
  projects/common/src/client/java/dan200/computercraft/client/ClientRegistry.java
  projects/common/src/client/java/dan200/computercraft/client/gui/PocketComputerLecternScreen.java
  projects/common/src/client/java/dan200/computercraft/client/render/CustomLecternRenderer.java
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
  projects/common/src/main/java/dan200/computercraft/shared/lectern/CustomLecternBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/lectern/PocketComputerLecternMenu.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/items/PocketComputerItem.java
Due: license, checkstyle, illuaminate

Avoid using TickScheduler unless needed
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/CableBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/WiredModemFullBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/redstone/RedstoneRelayBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/util/TickScheduler.java
Due: license, checkstyle, illuaminate

Another build tooling bump
  buildSrc/src/main/kotlin/cc-tweaked.fabric.gradle.kts
  buildSrc/src/main/kotlin/cc-tweaked.forge.gradle.kts
  buildSrc/src/main/kotlin/cc/tweaked/gradle/Illuaminate.kt
  gradle/libs.versions.toml
  package-lock.json
  package.json
  projects/common/src/client/java/dan200/computercraft/client/render/monitor/MonitorRenderState.java
  projects/common/src/main/java/dan200/computercraft/shared/lectern/CustomLecternBlock.java
  projects/core/src/main/java/dan200/computercraft/core/apis/OSAPI.java
  projects/core/src/test/java/dan200/computercraft/core/ComputerTestDelegate.java
  projects/core/src/test/java/dan200/computercraft/core/terminal/TerminalTest.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
Due: license, checkstyle, illuaminate

Update TeaVM version
  gradle/libs.versions.toml
  projects/web/src/main/java/cc/tweaked/web/EmulatedComputer.java
  projects/web/src/main/java/cc/tweaked/web/js/JavascriptConv.java
  projects/web/src/main/java/dan200/computercraft/core/apis/http/request/THttpRequest.java
  projects/web/src/main/java/dan200/computercraft/core/apis/http/websocket/TWebsocket.java
Due: license, checkstyle, illuaminate

Enable TeaVM WASM GC Backend
  package-lock.json
  package.json
  projects/web/rollup.config.js
  projects/web/src/builder/java/cc/tweaked/web/builder/Builder.java
  projects/web/src/frontend/emu/java.ts
  projects/web/src/frontend/typings.d.ts
  projects/web/src/main/java/cc/tweaked/web/js/Callbacks.java
Due: license, checkstyle, illuaminate

Refresh relay input/output on load
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/redstone/RedstoneRelayBlockEntity.java
Due: license, checkstyle, illuaminate

Revert disableRecompilation
  buildSrc/src/main/kotlin/cc-tweaked.forge.gradle.kts
Due: license

Test for relay initial input
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Relay_Test.kt
Due: license

Let pocket computer on lecterns wrap the peripheral below
  projects/common/src/main/java/dan200/computercraft/shared/lectern/CustomLecternBlock.java
  projects/common/src/main/java/dan200/computercraft/shared/lectern/CustomLecternBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/items/PocketComputerItem.java
Due: license, checkstyle, illuaminate

Only set map colour if known
  projects/common/src/main/java/dan200/computercraft/shared/details/BlockDetails.java
  projects/common/src/main/java/dan200/computercraft/shared/details/DetailHelpers.java
  projects/common/src/main/java/dan200/computercraft/shared/details/ItemDetails.java
  projects/common/src/main/java/dan200/computercraft/shared/util/ARGB32.java
Due: license, checkstyle, illuaminate

Add MapColor metadata provider for block and item details (#2164)
  projects/common/src/main/java/dan200/computercraft/shared/details/BlockDetails.java
  projects/common/src/main/java/dan200/computercraft/shared/details/DetailHelpers.java
  projects/common/src/main/java/dan200/computercraft/shared/details/ItemDetails.java
  projects/common/src/main/java/dan200/computercraft/shared/util/ARGB32.java
Due: license, checkstyle, illuaminate

Clear turtle player inventory when syncing
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtlePlayer.java
Due: license, checkstyle, illuaminate

Add potion effects to item details
  projects/common/src/main/java/dan200/computercraft/shared/details/ItemDetails.java
  projects/common/src/main/java/dan200/computercraft/shared/platform/RegistryWrappers.java
Due: license, checkstyle, illuaminate

Handle more of Windows's weird paths
  projects/core/src/main/java/dan200/computercraft/core/filesystem/FileSystem.java
  projects/core/src/test/java/dan200/computercraft/core/filesystem/FileSystemTest.java
  projects/core/src/test/resources/test-rom/spec/apis/fs_spec.lua
Due: license, checkstyle, illuaminate

Add reference for block details
  doc/reference/block_details.md
  projects/common/src/main/java/dan200/computercraft/shared/computer/apis/CommandAPI.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/apis/TurtleAPI.java
  projects/web/src/frontend/index.tsx
Due: license, checkstyle, illuaminate

Remove jzlib
  gradle/libs.versions.toml
  projects/core/build.gradle.kts
  projects/fabric/build.gradle.kts
  projects/forge/build.gradle.kts
Due: license

Update JEI to MC 1.21.11
  gradle/libs.versions.toml
  projects/common/build.gradle.kts
  projects/common/src/client/java/dan200/computercraft/client/integration/jei/JEIComputerCraft.java
  projects/common/src/client/java/dan200/computercraft/client/integration/jei/RecipeResolver.java
Due: license, checkstyle, illuaminate

Dynamically pick the port in HTTP tests
  projects/core/src/test/kotlin/dan200/computercraft/core/apis/http/HttpServer.kt
  projects/core/src/test/kotlin/dan200/computercraft/core/apis/http/TestHttpApi.kt
Due: license

Fix usage of deprecated Netty APIs in tests
  projects/core/src/test/kotlin/dan200/computercraft/core/apis/http/HttpServer.kt
Due: license

Add reference for item details
  doc/reference/block_details.md
  doc/reference/item_details.md
  projects/common/src/main/java/dan200/computercraft/shared/details/ItemDetails.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/AbstractInventoryMethods.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/apis/TurtleAPI.java
Due: license, checkstyle, illuaminate

Add Websocket.getResponseHeaders method
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/CustomWebSocketHandshaker.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/Websocket.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/WebsocketHandle.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/WebsocketHandler.java
  projects/web/src/main/java/dan200/computercraft/core/apis/http/websocket/TWebsocket.java
Due: license, checkstyle, illuaminate

Rewrite the GPS setup guide
  doc/guides/gps_setup.md
  doc/images/gps-constellation-area.png
  doc/images/gps-constellation-built.png
  doc/images/gps-constellation-example.png
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/gps.lua
Due: illuaminate

Update Redstone in onNeighborChange
  projects/common/src/main/java/dan200/computercraft/shared/computer/blocks/AbstractComputerBlock.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/blocks/AbstractComputerBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/redstone/RedstoneRelayBlock.java
Due: license, checkstyle, illuaminate

Simplify event code in LuaTaskContext
  projects/core/src/testFixtures/kotlin/dan200/computercraft/test/core/computer/LuaTaskContext.kt
  projects/core/src/testFixtures/kotlin/dan200/computercraft/test/core/computer/LuaTaskRunner.kt
Due: license

Fix websocket_closed not always being queued on failure
  projects/core/src/main/java/dan200/computercraft/core/apis/http/NetworkUtils.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/WebsocketHandle.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/WebsocketHandler.java
  projects/core/src/test/kotlin/dan200/computercraft/core/apis/http/HttpServer.kt
  projects/core/src/test/kotlin/dan200/computercraft/core/apis/http/TestHttpApi.kt
Due: license, checkstyle, illuaminate

Add test for potion durations
  doc/reference/item_details.md
  projects/common/src/test/java/dan200/computercraft/shared/details/ItemDetailsTest.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Turtle_Test.kt
  projects/core/src/testFixtures/java/dan200/computercraft/test/core/CustomMatchers.java
Due: license, checkstyle, illuaminate

Bump CC:T to 1.117.0
  gradle.properties
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: illuaminate

Update pastebin.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/http/pastebin.lua
Due: illuaminate

Add tests for consistent getItemDetails behaviour
  projects/common/src/testFixtures/java/dan200/computercraft/test/shared/WithMinecraft.java
  projects/common/src/testFixtures/java/dan200/computercraft/test/shared/peripheral/generic/methods/InventoryMethodsContract.java
  projects/fabric/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethods.java
  projects/fabric/src/test/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethodsTest.java
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethods.java
  projects/forge/src/test/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethodsTest.java
Due: license, checkstyle, illuaminate

Remove MoreRed integration
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/shared/computer/blocks/AbstractComputerBlock.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/blocks/AbstractComputerBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/redstone/RedstoneRelayBlock.java
  projects/forge/src/main/java/dan200/computercraft/ComputerCraft.java
  projects/forge/src/main/java/dan200/computercraft/shared/integration/MoreRedIntegration.java
Due: license, checkstyle, illuaminate

Mention turtle.craft(0) in the docs
  doc/stub/turtle.lua
Due: illuaminate

remove CombinedTankWrapper check
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/FluidMethods.java
Due: license, checkstyle, illuaminate

Fix #2355
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/FluidMethods.java
Due: license, checkstyle, illuaminate

Flatten the loop slightly
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/FluidMethods.java
Due: license, checkstyle, illuaminate

Don't materialise the whole split list
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtlePlaceCommand.java
Due: license, checkstyle, illuaminate

Limit lenght of sound name
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/SpeakerPeripheral.java
Due: license, checkstyle, illuaminate

Fix #2355 (#2367)
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/FluidMethods.java
Due: license, checkstyle, illuaminate

Remove "CC may be installed incorrectly" message
  projects/core/src/main/java/dan200/computercraft/core/computer/ComputerExecutor.java
Due: license, checkstyle, illuaminate

Update some build tooling
  .github/workflows/main-ci.yml
  .github/workflows/make-doc.yml
  CONTRIBUTING.md
  buildSrc/src/main/kotlin/cc/tweaked/gradle/CCTweakedPlugin.kt
  gradle/gradle-daemon-jvm.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  package-lock.json
  projects/core-api/src/main/java/dan200/computercraft/api/lua/LuaFunction.java
Due: license, checkstyle, illuaminate
