Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

license:
  name: Spotless
  language: system
  entry: ./gradlew spotlessApply
  pass_filenames: false
  require_serial: true

checkstyle:
  name: Check Java codestyle
  language: system
  entry: ./gradlew checkstyle
  pass_filenames: false
  require_serial: true

illuaminate:
  name: Check Lua code
  language: system
  entry: ./gradlew lintLua
  pass_filenames: false
  require_serial: true

Fix usages of javax's Nullable annotation
  projects/common/src/main/java/dan200/computercraft/shared/media/MountMedia.java
  projects/common/src/main/java/dan200/computercraft/shared/media/items/TreasureDiskMedia.java
  projects/lints/src/main/kotlin/cc/tweaked/linter/ForbiddenImport.kt
Due: license, checkstyle, illuaminate

Fix syncing of colour between PocketBrain and item
  projects/common/src/main/java/dan200/computercraft/shared/pocket/core/PocketBrain.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/items/PocketComputerItem.java
Due: license, checkstyle, illuaminate

Add tags for disks and floppies
  projects/common-api/src/main/java/dan200/computercraft/api/ComputerCraftTags.java
  projects/common/src/datagen/java/dan200/computercraft/data/LanguageProvider.java
  projects/common/src/datagen/java/dan200/computercraft/data/TagProvider.java
  projects/common/src/generated/resources/assets/computercraft/lang/en_us.json
  projects/fabric/src/generated/resources/data/computercraft/tags/items/disks.json
  projects/fabric/src/generated/resources/data/computercraft/tags/items/pocket_computers.json
  projects/forge/src/generated/resources/data/computercraft/tags/items/disks.json
  projects/forge/src/generated/resources/data/computercraft/tags/items/pocket_computers.json
Due: license, checkstyle, illuaminate

Bump versions of build tooling
  .editorconfig
  buildSrc/src/main/kotlin/cc-tweaked.forge.gradle.kts
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  buildSrc/src/main/kotlin/cc/tweaked/gradle/ExecTasks.kt
  buildSrc/src/main/kotlin/cc/tweaked/gradle/IdeaRunConfigurations.kt
  gradle/libs.versions.toml
  package-lock.json
  package.json
  projects/core/src/main/java/dan200/computercraft/core/filesystem/MountHelpers.java
Due: license, checkstyle, illuaminate

Switch a few more places to use Java 17 features
  projects/common/src/main/java/dan200/computercraft/impl/network/wired/WiredNetworkImpl.java
  projects/common/src/main/java/dan200/computercraft/shared/command/builder/HelpingArgumentBuilder.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wireless/WirelessModemBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/monitor/MonitorPeripheral.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/monitor/MonitorWatcher.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/SpeakerBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/peripherals/PocketSpeaker.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtleDropCommand.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtleSuckCommand.java
  projects/common/src/main/java/dan200/computercraft/shared/util/DropConsumer.java
  projects/common/src/main/java/dan200/computercraft/shared/util/PrettyJsonWriter.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/ClientTestHooks.kt
  projects/core/src/main/java/dan200/computercraft/core/apis/LuaDateTime.java
  projects/core/src/main/java/dan200/computercraft/core/apis/OSAPI.java
  projects/core/src/main/java/dan200/computercraft/core/apis/handles/AbstractHandle.java
  projects/core/src/main/java/dan200/computercraft/core/lua/TableImpl.java
  projects/core/src/main/java/dan200/computercraft/core/lua/VarargArguments.java
  projects/core/src/test/java/dan200/computercraft/core/asm/MethodTest.java
  projects/web/src/builder/java/cc/tweaked/web/builder/TransformingClassLoader.java
Due: license, checkstyle, illuaminate

Add `color` tag to block detailed inspections containing the map color of the block.
  projects/common/src/main/java/dan200/computercraft/shared/details/BlockDetails.java
Due: license, checkstyle, illuaminate

Add `color` tag to Item Detail provider
  projects/common/src/main/java/dan200/computercraft/shared/details/BlockDetails.java
  projects/common/src/main/java/dan200/computercraft/shared/details/DetailHelpers.java
  projects/common/src/main/java/dan200/computercraft/shared/details/ItemDetails.java
Due: license, checkstyle, illuaminate

Remove allocation tracking for computers
  projects/common/src/datagen/java/dan200/computercraft/data/LanguageProvider.java
  projects/common/src/generated/resources/assets/computercraft/lang/en_us.json
  projects/common/src/main/java/dan200/computercraft/shared/util/TickScheduler.java
  projects/common/src/main/resources/assets/computercraft/lang/cs_cz.json
  projects/common/src/main/resources/assets/computercraft/lang/es_es.json
  projects/common/src/main/resources/assets/computercraft/lang/fr_fr.json
  projects/common/src/main/resources/assets/computercraft/lang/it_it.json
  projects/common/src/main/resources/assets/computercraft/lang/ja_jp.json
  projects/common/src/main/resources/assets/computercraft/lang/pt_br.json
  projects/common/src/main/resources/assets/computercraft/lang/ru_ru.json
  projects/common/src/main/resources/assets/computercraft/lang/sv_se.json
  projects/common/src/main/resources/assets/computercraft/lang/tr_tr.json
  projects/common/src/main/resources/assets/computercraft/lang/uk_ua.json
  projects/common/src/main/resources/assets/computercraft/lang/zh_cn.json
  projects/core/src/main/java/dan200/computercraft/core/computer/computerthread/ComputerThread.java
  projects/core/src/main/java/dan200/computercraft/core/metrics/Metrics.java
  projects/core/src/main/java/dan200/computercraft/core/metrics/ThreadAllocations.java
  projects/core/src/test/java/dan200/computercraft/core/computer/computerthread/ComputerThreadTest.java
Due: license, checkstyle, illuaminate

Update Cobalt to 0.9.6
  gradle/libs.versions.toml
  projects/core/src/main/java/dan200/computercraft/core/lua/CobaltLuaMachine.java
Due: license, checkstyle, illuaminate

Add network name parameter to `redstone` event when queued by a redstone relay peripheral
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/redstone/RedstoneRelayPeripheral.java
Due: license, checkstyle, illuaminate

Fix ConcurrentModificationException caused by timers
  src/main/java/dan200/computercraft/core/apis/OSAPI.java
Due: license, checkstyle, illuaminate

fix regex
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
Due: illuaminate

Undo dev changed to build script
  settings.gradle.kts
Due: license

strings now actually work
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
Due: illuaminate

Update to FAPI 0.122
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/shared/CommonHooks.java
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
  projects/common/src/main/java/dan200/computercraft/shared/util/TickScheduler.java
  projects/fabric/src/client/java/dan200/computercraft/client/ComputerCraftClient.java
  projects/fabric/src/main/java/dan200/computercraft/mixin/ChunkMapMixin.java
  projects/fabric/src/main/java/dan200/computercraft/shared/ComputerCraft.java
  projects/fabric/src/main/resources/fabric.mod.json
  projects/forge/src/main/java/dan200/computercraft/shared/ForgeCommonHooks.java
Due: license, checkstyle, illuaminate

Add a test for turtle upgrade crafting
  projects/common/src/main/java/dan200/computercraft/shared/turtle/recipes/TurtleUpgradeRecipe.java
  projects/common/src/testFixtures/java/dan200/computercraft/test/shared/ItemStackMatcher.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Turtle_Test.kt
Due: license, checkstyle, illuaminate

Allow equipping pocket computers on the bottom
  projects/common-api/src/main/java/dan200/computercraft/api/component/ComputerComponents.java
  projects/common-api/src/main/java/dan200/computercraft/api/pocket/IPocketAccess.java
  projects/common-api/src/main/java/dan200/computercraft/api/pocket/IPocketUpgrade.java
  projects/common-api/src/main/java/dan200/computercraft/api/pocket/PocketComputer.java
  projects/common/src/datagen/java/dan200/computercraft/data/LanguageProvider.java
  projects/common/src/datagen/java/dan200/computercraft/data/RecipeProvider.java
  projects/common/src/generated/resources/assets/computercraft/lang/en_us.json
  projects/common/src/generated/resources/data/computercraft/recipe/pocket_advanced/computercraft/speaker.json
  projects/common/src/generated/resources/data/computercraft/recipe/pocket_advanced/computercraft/wireless_modem_advanced.json
  projects/common/src/generated/resources/data/computercraft/recipe/pocket_advanced/computercraft/wireless_modem_normal.json
  projects/common/src/generated/resources/data/computercraft/recipe/pocket_normal/computercraft/speaker.json
  projects/common/src/generated/resources/data/computercraft/recipe/pocket_normal/computercraft/wireless_modem_advanced.json
  projects/common/src/generated/resources/data/computercraft/recipe/pocket_normal/computercraft/wireless_modem_normal.json
  projects/common/src/main/java/dan200/computercraft/impl/UpgradeManager.java
  projects/common/src/main/java/dan200/computercraft/mixin/DataFixersMixin.java
  projects/common/src/main/java/dan200/computercraft/mixin/V3818_3Mixin.java
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
  projects/common/src/main/java/dan200/computercraft/shared/datafix/ComponentizationFixers.java
  projects/common/src/main/java/dan200/computercraft/shared/datafix/RenamePocketComputerUpgradeFix.java
  projects/common/src/main/java/dan200/computercraft/shared/integration/RecipeModHelpers.java
  projects/common/src/main/java/dan200/computercraft/shared/integration/UpgradeRecipeGenerator.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/UpgradeSpeakerPeripheral.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/apis/PocketAPI.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/core/PocketBrain.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/core/PocketComputerInternal.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/core/PocketHolder.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/core/PocketSide.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/items/PocketComputerItem.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/peripherals/PocketSpeakerPeripheral.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/recipes/PocketComputerUpgradeRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/items/TurtleItem.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/upgrades/TurtleSpeaker.java
  projects/common/src/main/java/dan200/computercraft/shared/util/NonNegativeId.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Pocket_Computer_Test.kt
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/pocket/equip.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/pocket/unequip.lua
  projects/fabric/src/main/java/dan200/computercraft/shared/integration/rei/REIComputerCraft.java
Due: license, checkstyle, illuaminate

Fix a couple of rendering issues
  gradle/libs.versions.toml
  projects/common/src/datagen/java/dan200/computercraft/data/client/BlockModelProvider.java
  projects/common/src/generated/resources/assets/computercraft/blockstates/cable.json
  projects/common/src/main/java/dan200/computercraft/shared/pocket/apis/PocketAPI.java
  projects/fabric/src/client/java/dan200/computercraft/mixin/client/ItemFrameRendererMixin.java
Due: license, checkstyle, illuaminate

Load turtle overlays during model loading
  projects/common/src/client/java/dan200/computercraft/client/ClientRegistry.java
  projects/common/src/client/java/dan200/computercraft/client/item/model/TurtleOverlayModel.java
  projects/common/src/client/java/dan200/computercraft/client/item/properties/TurtleShowElfOverlay.java
  projects/common/src/client/java/dan200/computercraft/client/model/ExtraModels.java
  projects/common/src/client/java/dan200/computercraft/client/render/TurtleBlockEntityRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/turtle/TurtleOverlay.java
  projects/common/src/client/java/dan200/computercraft/client/turtle/TurtleOverlayManager.java
  projects/common/src/client/java/dan200/computercraft/client/turtle/TurtleUpgradeModels.java
  projects/common/src/datagen/java/dan200/computercraft/data/DataProviders.java
  projects/common/src/datagen/java/dan200/computercraft/data/RecipeProvider.java
  projects/common/src/datagen/java/dan200/computercraft/data/TurtleOverlays.java
  projects/common/src/datagen/java/dan200/computercraft/data/client/BlockModelProvider.java
  projects/common/src/datagen/java/dan200/computercraft/data/client/ExtraModelsProvider.java
  projects/common/src/generated/resources/assets/computercraft/computercraft/turtle_overlay/rainbow_flag.json
  projects/common/src/generated/resources/assets/computercraft/computercraft/turtle_overlay/trans_flag.json
  projects/common/src/generated/resources/assets/computercraft/extra_models.json
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/TurtleOverlay.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/TurtleBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtleBrain.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/items/TurtleItem.java
  projects/common/src/main/java/dan200/computercraft/shared/util/ConsList.java
  projects/common/src/main/java/dan200/computercraft/shared/util/ResourceUtils.java
  projects/common/src/test/java/dan200/computercraft/shared/util/ConsListTest.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Turtle_Test.kt
  projects/fabric/src/client/java/dan200/computercraft/client/ComputerCraftClient.java
  projects/fabric/src/client/java/dan200/computercraft/client/platform/FabricModelKey.java
  projects/fabric/src/main/java/dan200/computercraft/shared/ComputerCraft.java
  projects/forge/src/client/java/dan200/computercraft/client/ForgeClientRegistry.java
  projects/forge/src/client/java/dan200/computercraft/client/platform/ForgeModelKey.java
  projects/forge/src/main/java/dan200/computercraft/ComputerCraft.java
Due: license, checkstyle, illuaminate

Add notes about minor changed file handle behavior in 1.109.0
  projects/core/src/main/java/dan200/computercraft/core/apis/handles/AbstractHandle.java
Due: license, checkstyle, illuaminate

Allow changing terminal size with components
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/blocks/ComputerBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/core/ServerComputer.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/core/TerminalSize.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigSpec.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/core/PocketServerComputer.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/items/PocketComputerItem.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/TurtleBlockEntity.java
Due: license, checkstyle, illuaminate

Update build plugin versions
  gradle/libs.versions.toml
  projects/common/src/client/java/dan200/computercraft/client/render/TurtleBlockEntityRenderer.java
Due: license, checkstyle, illuaminate

Clarify readAll changes are only to binary-mode handles
  projects/core/src/main/java/dan200/computercraft/core/apis/handles/AbstractHandle.java
Due: license, checkstyle, illuaminate

Add notes about minor changed file handle behavior in 1.109.0 (#2203)
  projects/core/src/main/java/dan200/computercraft/core/apis/handles/AbstractHandle.java
Due: license, checkstyle, illuaminate

Handle keyboard layouts for our computer shortcuts
  projects/common/src/client/java/dan200/computercraft/client/gui/KeyConverter.java
  projects/common/src/client/java/dan200/computercraft/client/gui/widgets/TerminalWidget.java
Due: license, checkstyle, illuaminate

Fix crash when color == 0
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/window.lua
Due: illuaminate

Improve fix
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/window.lua
Due: illuaminate

Undo formatting changes, add test
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/window.lua
  projects/core/src/test/resources/test-rom/spec/apis/window_spec.lua
Due: illuaminate

Fix colors.toBlit too
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/colors.lua
  projects/core/src/test/resources/test-rom/spec/apis/colors_spec.lua
Due: illuaminate

Actually fix formatting
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/window.lua
Due: illuaminate

Fix 0 being treated as a valid colour (#2211)
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/colors.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/window.lua
  projects/core/src/test/resources/test-rom/spec/apis/colors_spec.lua
  projects/core/src/test/resources/test-rom/spec/apis/window_spec.lua
Due: illuaminate

Fix out-of-bounds when pasting too-long text
  projects/common/src/client/java/dan200/computercraft/client/gui/KeyConverter.java
  projects/core/src/main/java/dan200/computercraft/core/util/StringUtil.java
  projects/core/src/test/java/dan200/computercraft/core/util/StringUtilTest.java
Due: license, checkstyle, illuaminate

Update motd path in startup.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/startup.lua
Due: illuaminate

markups
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
Due: illuaminate

Undo formatting changes
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
Due: illuaminate

Fix syntax highlighting for strings ending in an escaped backslash (#2194)
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
Due: illuaminate

Move sidebar_advanced.png down by one pixel
  projects/common/src/main/resources/assets/computercraft/textures/gui/sidebar_advanced.png
Due: none

Path conditions:
  license: any of: .*\.(java|kt|kts)$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  checkstyle: any of: .*\.java$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  illuaminate: any of: .*\.(lua|java|md), but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

