Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2022 The CC: Tweaked Developers
#
# SPDX-License-Identifier: CC0-1.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-merge-conflict

  # Quick syntax checkers
  - id: check-xml
  - id: check-yaml
  - id: check-toml
  - id: check-json
    exclude: "tsconfig\\.json$"

- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: 2.3.54
  hooks:
  - id: editorconfig-checker
    args: ['-disable-indentation']
    exclude: "^(.*\\.(bat)|LICENSE)$"

- repo: https://github.com/fsfe/reuse-tool
  rev: v1.1.0
  hooks:
  - id: reuse

- repo: local
  hooks:
  - id: license
    name: Spotless
    files: ".*\\.(java|kt|kts)$"
    language: system
    entry: ./gradlew spotlessApply
    pass_filenames: false
    require_serial: true
  - id: checkstyle
    name: Check Java codestyle
    files: ".*\\.java$"
    language: system
    entry: ./gradlew checkstyleMain checkstyleTest
    pass_filenames: false
    require_serial: true
  - id: illuaminate
    name: Check Lua code
    files: ".*\\.(lua|java|md)"
    language: system
    entry: ./gradlew lintLua
    pass_filenames: false
    require_serial: true

exclude: |
  (?x)^(
    projects/[a-z]+/src/generated|
    projects/core/src/test/resources/test-rom/data/json-parsing/|
    .*\.dfpwm
  )

Allow GPS hosts to be closer together
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/gps.lua
Due: illuaminate

Some README cleanup
  README.md
  buildSrc/src/main/kotlin/cc-tweaked.mod-publishing.gradle.kts
  doc/index.md
  doc/mod-page.md
  projects/forge/src/main/resources/META-INF/mods.toml
Due: license, illuaminate

fix: on/off translation inverted
  projects/common/src/client/java/dan200/computercraft/client/gui/widgets/ComputerSidebar.java
Due: license, checkstyle, illuaminate

Fix arrow keys not working in the printout UI
  projects/common/src/client/java/dan200/computercraft/client/gui/PrintoutScreen.java
Due: license, checkstyle, illuaminate

Use Fabric's new SlottedStorage for inventory methods
  gradle/libs.versions.toml
  projects/fabric/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethods.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/FabricContainerTransfer.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/FakeNetHandler.java
  projects/fabric/src/main/resources/fabric.mod.json
Due: license, checkstyle, illuaminate

Make maximum upload file size configurable
  projects/common/src/client/java/dan200/computercraft/client/gui/AbstractComputerScreen.java
  projects/common/src/main/java/dan200/computercraft/data/LanguageProvider.java
  projects/common/src/main/java/dan200/computercraft/shared/config/Config.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigSpec.java
  projects/common/src/main/java/dan200/computercraft/shared/network/server/UploadFileMessage.java
  projects/common/src/test/java/dan200/computercraft/shared/network/server/UploadFileMessageTest.java
Due: license, checkstyle, illuaminate

Make requested changes
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigSpec.java
Due: license, checkstyle, illuaminate

Make uploadMaxSize load from server config
  projects/common/src/client/java/dan200/computercraft/client/gui/AbstractComputerScreen.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/inventory/AbstractComputerMenu.java
  projects/common/src/main/java/dan200/computercraft/shared/network/container/ComputerContainerData.java
Due: license, checkstyle, illuaminate

Update TurtleAPI.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/apis/TurtleAPI.java
Due: license, checkstyle, illuaminate

Backport several ROM/Lua commits
  src/main/resources/data/computercraft/lua/rom/apis/gps.lua
  src/main/resources/data/computercraft/lua/rom/apis/settings.lua
  src/main/resources/data/computercraft/lua/rom/apis/textutils.lua
  src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/errors.lua
  src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/parser.lua
  src/main/resources/data/computercraft/lua/rom/programs/fun/speaker.lua
Due: illuaminate

Use correct model for the turtle modem
  src/main/java/dan200/computercraft/shared/turtle/upgrades/TurtleModem.java
Due: license, checkstyle, illuaminate

Don't (metaphorically) explode on null explosions
  src/main/java/dan200/computercraft/shared/turtle/blocks/BlockTurtle.java
Due: license, checkstyle, illuaminate

Fix typo in docs
  projects/core/src/main/java/dan200/computercraft/core/apis/TermMethods.java
Due: license, checkstyle, illuaminate

Update to latest Fabric
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/mixin/ExplosionAccessor.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/TurtleBlock.java
  projects/common/src/main/resources/computercraft.mixins.json
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/FakeNetHandler.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/FakePlayer.java
Due: license, checkstyle, illuaminate

Speed up JSON string parsing
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/textutils.lua
  projects/fabric/src/main/resources/fabric.mod.json
Due: illuaminate

Translations for Ukrainian
  projects/common/src/main/resources/assets/computercraft/lang/uk_ua.json
Due: none

Fix a couple of wee bugs
  projects/common/src/client/java/dan200/computercraft/client/ClientHooks.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigSpec.java
Due: license, checkstyle, illuaminate

fix #1367: Add `colors.fromBlit`
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/colors.lua
Due: illuaminate

Rgenerate data
  projects/fabric/src/generated/resources/assets/computercraft/lang/en_us.json
  projects/forge/src/generated/resources/assets/computercraft/lang/en_us.json
Due: none

Force LF for .kts files too
  .gitattributes
Due: none

Fix formatting
  projects/common/src/main/java/dan200/computercraft/shared/computer/inventory/AbstractComputerMenu.java
  projects/common/src/main/java/dan200/computercraft/shared/network/container/ComputerContainerData.java
Due: license, checkstyle, illuaminate

Add tests for colors.fromBlit
  projects/core/src/test/resources/test-rom/spec/apis/colors_spec.lua
Due: illuaminate

Make maximum upload file size configurable (#1417)
  projects/common/src/client/java/dan200/computercraft/client/gui/AbstractComputerScreen.java
  projects/common/src/main/java/dan200/computercraft/data/LanguageProvider.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/inventory/AbstractComputerMenu.java
  projects/common/src/main/java/dan200/computercraft/shared/config/Config.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigSpec.java
  projects/common/src/main/java/dan200/computercraft/shared/network/container/ComputerContainerData.java
  projects/common/src/main/java/dan200/computercraft/shared/network/server/UploadFileMessage.java
  projects/common/src/test/java/dan200/computercraft/shared/network/server/UploadFileMessageTest.java
  projects/fabric/src/generated/resources/assets/computercraft/lang/en_us.json
  projects/forge/src/generated/resources/assets/computercraft/lang/en_us.json
Due: license, checkstyle, illuaminate

Improve documentation for colors.fromBlit and colors.toBlit
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/colors.lua
Due: illuaminate

Improve test for colors.fromBlit to show inverse
  projects/core/src/test/resources/test-rom/spec/apis/colors_spec.lua
Due: illuaminate

Improve argument validation in colors.fromBlit
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/colors.lua
Due: illuaminate

Convert to block comments
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/colors.lua
Due: illuaminate

Remove packet distance restriction for wired modems
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/WiredModemPeripheral.java
Due: license, checkstyle, illuaminate

Some core cleanup
  projects/common/src/main/java/dan200/computercraft/shared/util/ArgumentHelpers.java
  projects/core/src/main/java/dan200/computercraft/core/lua/CobaltLuaMachine.java
  projects/core/src/main/java/dan200/computercraft/core/util/ArgumentHelpers.java
  projects/fabric/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethods.java
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethods.java
Due: license, checkstyle, illuaminate

Support arguments being coerced from strings
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/printer/PrinterPeripheral.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Computer_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Pocket_Computer_Test.kt
  projects/core-api/src/main/java/dan200/computercraft/api/lua/Coerced.java
  projects/core-api/src/main/java/dan200/computercraft/api/lua/IArguments.java
  projects/core/src/main/java/dan200/computercraft/core/apis/TermMethods.java
  projects/core/src/main/java/dan200/computercraft/core/apis/handles/EncodedWritableHandle.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/WebsocketHandle.java
  projects/core/src/main/java/dan200/computercraft/core/asm/Generator.java
  projects/core/src/main/java/dan200/computercraft/core/asm/Reflect.java
  projects/core/src/main/java/dan200/computercraft/core/lua/VarargArguments.java
  projects/core/src/main/java/dan200/computercraft/core/util/StringUtil.java
  projects/core/src/test/java/dan200/computercraft/core/apis/ObjectWrapper.java
  projects/core/src/test/java/dan200/computercraft/core/asm/GeneratorTest.java
  projects/core/src/test/java/dan200/computercraft/core/asm/MethodTest.java
  projects/core/src/test/java/dan200/computercraft/core/filesystem/FileSystemTest.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/FabricConfigFile.java
Due: license, checkstyle, illuaminate

Use UTC formats for the 12am os.date tests
  projects/core/src/test/resources/test-rom/spec/apis/os_spec.lua
Due: illuaminate

Add support for HTTP timeouts
  projects/common/src/main/java/dan200/computercraft/shared/config/AddressRuleConfig.java
  projects/core/src/main/java/dan200/computercraft/core/apis/HTTPAPI.java
  projects/core/src/main/java/dan200/computercraft/core/apis/TableHelper.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/NetworkUtils.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/Action.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/AddressRule.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/Options.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/PartialOptions.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpRequest.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/Websocket.java
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/http/http.lua
  projects/core/src/test/kotlin/http/TestHttpApi.kt
Due: license, checkstyle, illuaminate

Cleaner handling of websocket handshake
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/Websocket.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/WebsocketHandler.java
Due: license, checkstyle, illuaminate

Add support for HTTP timeouts (#1453)
  projects/common/src/main/java/dan200/computercraft/shared/config/AddressRuleConfig.java
  projects/core/src/main/java/dan200/computercraft/core/apis/HTTPAPI.java
  projects/core/src/main/java/dan200/computercraft/core/apis/TableHelper.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/NetworkUtils.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/Action.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/AddressRule.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/Options.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/PartialOptions.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpRequest.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/Websocket.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/WebsocketHandler.java
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/http/http.lua
  projects/core/src/test/kotlin/http/TestHttpApi.kt
Due: license, checkstyle, illuaminate

Fix image links in Modrinth description
  .reuse/dep5
  buildSrc/src/main/kotlin/cc-tweaked.mod-publishing.gradle.kts
  doc/mod-page.md
  projects/core/src/test/resources/test-rom/spec/apis/window_spec.lua
  projects/core/src/test/resources/test-rom/spec/programs/turtle/craft_spec.lua
Due: license, illuaminate

Truncate longer error messages
  projects/core/src/main/java/dan200/computercraft/core/lua/CobaltLuaMachine.java
  projects/core/src/main/java/dan200/computercraft/core/lua/MachineEnvironment.java
  projects/core/src/main/java/dan200/computercraft/core/util/SanitisedError.java
  projects/core/src/test/java/dan200/computercraft/core/util/SanitisedErrorTest.java
Due: license, checkstyle, illuaminate

Normalise line endings in the SanitisedError test
  projects/core/src/test/java/dan200/computercraft/core/util/SanitisedErrorTest.java
Due: license, checkstyle, illuaminate

Detect playing HTML files in speaker
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/fun/speaker.lua
Due: illuaminate

Add specific fabric API for turtle and pocket upgrade serializers registration
  projects/fabric-api/src/main/java/dan200/computercraft/api/FabricComputerCraftAPI.java
  projects/fabric-api/src/main/java/dan200/computercraft/impl/ComputerCraftAPIFabricService.java
  projects/fabric/src/main/java/dan200/computercraft/impl/ComputerCraftAPIImpl.java
  projects/fabric/src/main/java/dan200/computercraft/shared/ComputerCraft.java
Due: license, checkstyle, illuaminate

Update docs in FabricComputerCraftAPI
  projects/fabric-api/src/main/java/dan200/computercraft/api/FabricComputerCraftAPI.java
Due: license, checkstyle, illuaminate
