Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

license:
  name: Spotless
  language: system
  entry: ./gradlew spotlessApply
  pass_filenames: false
  require_serial: true

checkstyle:
  name: Check Java codestyle
  language: system
  entry: ./gradlew checkstyleMain checkstyleTest
  pass_filenames: false
  require_serial: true

illuaminate:
  name: Check Lua code
  language: system
  entry: ./gradlew lintLua
  pass_filenames: false
  require_serial: true

feat: HTTP proxy (closes #369)
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/shared/config/AddressRuleConfig.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigSpec.java
  projects/core/build.gradle.kts
  projects/core/src/main/java/dan200/computercraft/core/CoreConfig.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/NetworkUtils.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/Action.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/Options.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/PartialOptions.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/ProxyType.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpRequest.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/Websocket.java
  projects/fabric/build.gradle.kts
  projects/forge/build.gradle.kts
Due: license, checkstyle, illuaminate

feat: store proxy password in separate file
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigSpec.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ProxyPasswordConfig.java
  projects/fabric/src/main/java/dan200/computercraft/shared/ComputerCraft.java
  projects/forge/src/main/java/dan200/computercraft/ComputerCraft.java
Due: license, checkstyle, illuaminate

chore: add missing copyright headers
  projects/common/src/main/java/dan200/computercraft/shared/config/ProxyPasswordConfig.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/ProxyType.java
Due: license, checkstyle, illuaminate

Fix enums not being added to config files
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/FabricConfigFile.java
Due: license, checkstyle, illuaminate

Fix breaking computers having no particle or sound
  projects/common/src/main/java/dan200/computercraft/shared/computer/blocks/AbstractComputerBlock.java
Due: license, checkstyle, illuaminate

Show an error message when editing read-only files
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
Due: illuaminate

Move MainThread config to its own class
  projects/common/src/main/java/dan200/computercraft/shared/computer/core/ServerContext.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigSpec.java
  projects/core/src/main/java/dan200/computercraft/core/CoreConfig.java
  projects/core/src/main/java/dan200/computercraft/core/computer/ComputerSystem.java
  projects/core/src/main/java/dan200/computercraft/core/computer/mainthread/MainThread.java
  projects/core/src/main/java/dan200/computercraft/core/computer/mainthread/MainThreadConfig.java
  projects/core/src/main/java/dan200/computercraft/core/computer/mainthread/MainThreadExecutor.java
  projects/core/src/test/java/dan200/computercraft/core/computer/ComputerBootstrap.java
  projects/core/src/test/java/dan200/computercraft/core/terminal/TerminalTest.java
  projects/core/src/test/java/dan200/computercraft/core/terminal/TextBufferTest.java
  projects/core/src/testFixtures/java/dan200/computercraft/test/core/CallCounter.java
  projects/core/src/testFixtures/java/dan200/computercraft/test/core/terminal/TerminalMatchers.java
Due: license, checkstyle, illuaminate

Better logging in the term code
  projects/core/src/main/java/dan200/computercraft/core/apis/TermMethods.java
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/colors.lua
Due: license, checkstyle, illuaminate

Add a couple of tests for HTTP
  projects/core/src/test/kotlin/dan200/computercraft/core/apis/http/HttpServer.kt
  projects/core/src/test/kotlin/dan200/computercraft/core/apis/http/TestHttpApi.kt
  projects/core/src/test/kotlin/http/TestHttpApi.kt
  projects/core/src/testFixtures/kotlin/dan200/computercraft/test/core/computer/LuaTaskRunner.kt
Due: license

Document some of our client classes
  projects/common-api/src/client/java/dan200/computercraft/api/client/ComputerCraftAPIClient.java
  projects/common/src/client/java/dan200/computercraft/client/ClientTableFormatter.java
  projects/common/src/client/java/dan200/computercraft/client/FrameInfo.java
  projects/common/src/client/java/dan200/computercraft/client/gui/AbstractComputerScreen.java
  projects/common/src/client/java/dan200/computercraft/client/gui/ClientInputHandler.java
  projects/common/src/client/java/dan200/computercraft/client/gui/ComputerScreen.java
  projects/common/src/client/java/dan200/computercraft/client/gui/DiskDriveScreen.java
  projects/common/src/client/java/dan200/computercraft/client/gui/NoTermComputerScreen.java
  projects/common/src/client/java/dan200/computercraft/client/gui/OptionScreen.java
  projects/common/src/client/java/dan200/computercraft/client/gui/PrinterScreen.java
  projects/common/src/client/java/dan200/computercraft/client/gui/PrintoutScreen.java
  projects/common/src/client/java/dan200/computercraft/client/gui/TurtleScreen.java
  projects/common/src/client/java/dan200/computercraft/client/gui/widgets/TerminalWidget.java
  projects/common/src/client/java/dan200/computercraft/client/render/ComputerBorderRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/ItemMapLikeRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/PrintoutRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/RenderTypes.java
  projects/common/src/client/java/dan200/computercraft/client/render/monitor/MonitorRenderState.java
  projects/common/src/client/java/dan200/computercraft/client/render/monitor/MonitorTextureBufferShader.java
  projects/common/src/client/java/dan200/computercraft/client/sound/DfpwmStream.java
  projects/common/src/client/java/dan200/computercraft/client/sound/SpeakerSound.java
  projects/common/src/client/java/dan200/computercraft/client/turtle/TurtleModemModeller.java
  projects/common/src/client/java/dan200/computercraft/client/turtle/TurtleUpgradeModellers.java
  projects/common/src/main/java/dan200/computercraft/shared/command/CommandComputerCraft.java
  projects/common/src/main/java/dan200/computercraft/shared/command/builder/HelpingArgumentBuilder.java
  projects/common/src/main/java/dan200/computercraft/shared/command/text/ChatHelpers.java
  projects/common/src/main/java/dan200/computercraft/shared/command/text/TableFormatter.java
  projects/common/src/main/java/dan200/computercraft/shared/container/BasicContainer.java
  projects/common/src/main/java/dan200/computercraft/shared/container/BasicWorldlyContainer.java
  projects/common/src/main/java/dan200/computercraft/shared/container/InvisibleSlot.java
  projects/common/src/main/java/dan200/computercraft/shared/container/ValidatingSlot.java
  projects/fabric/src/client/java/dan200/computercraft/client/model/turtle/TurtleModel.java
  projects/fabric/src/client/java/dan200/computercraft/client/model/turtle/TurtleModelLoader.java
  projects/forge/src/client/java/dan200/computercraft/client/model/TransformedBakedModel.java
  projects/forge/src/client/java/dan200/computercraft/client/model/turtle/TurtleModel.java
  projects/forge/src/client/java/dan200/computercraft/client/model/turtle/TurtleModelLoader.java
Due: license, checkstyle, illuaminate

Eagerly create upgrade registries for Fabric
  projects/common-api/src/main/java/dan200/computercraft/api/pocket/PocketUpgradeDataProvider.java
  projects/common-api/src/main/java/dan200/computercraft/api/pocket/PocketUpgradeSerialiser.java
  projects/common-api/src/main/java/dan200/computercraft/api/turtle/TurtleUpgradeDataProvider.java
  projects/common-api/src/main/java/dan200/computercraft/api/turtle/TurtleUpgradeSerialiser.java
  projects/common-api/src/main/java/dan200/computercraft/impl/ComputerCraftAPIService.java
  projects/common/src/main/java/dan200/computercraft/impl/AbstractComputerCraftAPI.java
  projects/common/src/main/java/dan200/computercraft/impl/PocketUpgrades.java
  projects/common/src/main/java/dan200/computercraft/impl/TurtleUpgrades.java
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
  projects/common/src/main/java/dan200/computercraft/shared/network/client/UpgradesLoadedMessage.java
  projects/common/src/test/java/dan200/computercraft/impl/network/wired/NetworkTest.java
  projects/fabric/src/main/java/dan200/computercraft/impl/ComputerCraftAPIImpl.java
  projects/fabric/src/main/java/dan200/computercraft/shared/ComputerCraft.java
  projects/forge/src/main/java/dan200/computercraft/ComputerCraft.java
Due: license, checkstyle, illuaminate

Clean up our thread creation code a little
  projects/core/src/main/java/dan200/computercraft/core/apis/http/NetworkUtils.java
  projects/core/src/main/java/dan200/computercraft/core/computer/ComputerThread.java
  projects/core/src/main/java/dan200/computercraft/core/util/ThreadUtils.java
Due: license, checkstyle, illuaminate

Draft implemention of upgrade data passing from and to respectful items
  projects/common-api/src/main/java/dan200/computercraft/api/upgrades/UpgradeBase.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/apis/PocketAPI.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtleEquipCommand.java
Due: license, checkstyle, illuaminate

Clean up turtle/pocket computer item creation
  projects/common/src/main/java/dan200/computercraft/data/RecipeProvider.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/inventory/AbstractComputerMenu.java
  projects/common/src/main/java/dan200/computercraft/shared/integration/RecipeModHelpers.java
  projects/common/src/main/java/dan200/computercraft/shared/integration/UpgradeRecipeGenerator.java
  projects/common/src/main/java/dan200/computercraft/shared/integration/jei/JEIComputerCraft.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/items/PocketComputerItem.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/items/PocketComputerItemFactory.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/recipes/PocketComputerUpgradeRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/ITurtleBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/TurtleBlock.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/TurtleBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/items/ITurtleItem.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/items/TurtleItem.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/items/TurtleItemFactory.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/recipes/TurtleOverlayRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/recipes/TurtleRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/recipes/TurtleUpgradeRecipe.java
Due: license, checkstyle, illuaminate

resolved #1466
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/colors.lua
Due: illuaminate

Update to latest JEI
  gradle/libs.versions.toml
Due: none

Fix channel names in colors documentation (#1467)
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/colors.lua
Due: illuaminate

fix: proxy pw config on forge dedicated server
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigSpec.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ProxyPasswordConfig.java
  projects/forge/src/main/java/dan200/computercraft/ComputerCraft.java
Due: license, checkstyle, illuaminate

fix: ensure sslContext for HTTPS proxies
  projects/core/src/main/java/dan200/computercraft/core/apis/http/NetworkUtils.java
Due: license, checkstyle, illuaminate

A couple of small tweaks
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigFile.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigSpec.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ProxyPasswordConfig.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/NetworkUtils.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpRequest.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/Websocket.java
  projects/fabric/src/main/java/dan200/computercraft/shared/ComputerCraft.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/FabricConfigFile.java
  projects/forge/src/main/java/dan200/computercraft/ComputerCraft.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/ForgeConfigFile.java
Due: license, checkstyle, illuaminate

Document ProxyType
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/ProxyType.java
Due: license, checkstyle, illuaminate

Add support for proxying HTTP requests (#1461)
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/shared/config/AddressRuleConfig.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigFile.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigSpec.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ProxyPasswordConfig.java
  projects/core/build.gradle.kts
  projects/core/src/main/java/dan200/computercraft/core/CoreConfig.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/NetworkUtils.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/Action.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/Options.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/PartialOptions.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/ProxyType.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/request/HttpRequest.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/Websocket.java
  projects/fabric/build.gradle.kts
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/FabricConfigFile.java
  projects/forge/build.gradle.kts
  projects/forge/src/main/java/dan200/computercraft/ComputerCraft.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/ForgeConfigFile.java
Due: license, checkstyle, illuaminate

persist turtle upgrade information inside turtle item
  projects/common/src/main/java/dan200/computercraft/data/RecipeProvider.java
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
  projects/common/src/main/java/dan200/computercraft/shared/integration/RecipeModHelpers.java
  projects/common/src/main/java/dan200/computercraft/shared/integration/UpgradeRecipeGenerator.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/TurtleBlock.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/items/ITurtleItem.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/items/TurtleItem.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/items/TurtleItemFactory.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/recipes/TurtleOverlayRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/recipes/TurtleRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/recipes/TurtleUpgradeRecipe.java
Due: license, checkstyle, illuaminate

Revert "persist turtle upgrade information inside turtle item"
  projects/common/src/main/java/dan200/computercraft/data/RecipeProvider.java
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
  projects/common/src/main/java/dan200/computercraft/shared/integration/RecipeModHelpers.java
  projects/common/src/main/java/dan200/computercraft/shared/integration/UpgradeRecipeGenerator.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/TurtleBlock.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/items/ITurtleItem.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/items/TurtleItem.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/items/TurtleItemFactory.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/recipes/TurtleOverlayRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/recipes/TurtleRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/recipes/TurtleUpgradeRecipe.java
Due: license, checkstyle, illuaminate

persist turtle upgrade information inside turtle item
  projects/common/src/main/java/dan200/computercraft/data/RecipeProvider.java
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
  projects/common/src/main/java/dan200/computercraft/shared/integration/RecipeModHelpers.java
  projects/common/src/main/java/dan200/computercraft/shared/integration/UpgradeRecipeGenerator.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/TurtleBlock.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/items/TurtleItem.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/recipes/TurtleOverlayRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/recipes/TurtleRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/recipes/TurtleUpgradeRecipe.java
Due: license, checkstyle, illuaminate

Add translations for HTTP proxy config
  projects/common/src/main/java/dan200/computercraft/data/LanguageProvider.java
  projects/common/src/main/java/dan200/computercraft/shared/command/CommandComputerCraft.java
  projects/fabric/src/generated/resources/assets/computercraft/lang/en_us.json
  projects/forge/src/generated/resources/assets/computercraft/lang/en_us.json
Due: license, checkstyle, illuaminate

Add toggleModem method to Turtle API
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/WiredModemFullBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/apis/TurtleAPI.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtleToggleModemCommand.java
Due: license, checkstyle, illuaminate

Deprecate ITurtleAccess.getVisual{Position,Yaw}
  .github/ISSUE_TEMPLATE/bug_report.yaml
  projects/common-api/src/main/java/dan200/computercraft/api/turtle/ITurtleAccess.java
Due: license, checkstyle, illuaminate

Use Minecraft's method for checking paste events
  projects/common/src/client/java/dan200/computercraft/client/gui/widgets/TerminalWidget.java
Due: license, checkstyle, illuaminate

Deprecate itemGroups field
  projects/common/src/main/java/dan200/computercraft/shared/details/ItemDetails.java
  projects/common/src/main/java/dan200/computercraft/shared/platform/PlatformHelper.java
  projects/common/src/test/java/dan200/computercraft/TestPlatformHelper.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethods.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
Due: license, checkstyle, illuaminate

Make turtle placing consistent at all positions
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtlePlaceCommand.java
Due: license, checkstyle, illuaminate

Bump CC:T to 1.104.0
  buildSrc/src/main/kotlin/cc-tweaked.mod-publishing.gradle.kts
  buildSrc/src/main/kotlin/cc-tweaked.publishing.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  projects/common/src/client/java/dan200/computercraft/client/ClientTableFormatter.java
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
  projects/fabric/build.gradle.kts
Due: license, checkstyle, illuaminate

Fixed typo in cc.image.nft docs
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/image/nft.lua
Due: illuaminate

Fix missing curly brace in instrument list
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/SpeakerPeripheral.java
Due: license, checkstyle, illuaminate

Clarify the README a little
  .reuse/dep5
  README.md
  doc/logo.png
Due: illuaminate

Update to Minecraft 1.20.1
  gradle.properties
  gradle/libs.versions.toml
  projects/fabric/src/main/resources/fabric.mod.json
  projects/forge/src/main/resources/META-INF/mods.toml
Due: none

Fix a couple of back-compatibility issues
  src/main/java/cc/tweaked/patch/ClassTransformer.java
  src/main/java/cc/tweaked/patch/mixins/TurtleAPIMixin.java
  src/main/resources/assets/cctweaked/lua/rom/apis/peripheral.lua
  src/main/resources/assets/cctweaked/lua/rom/apis/turtle/turtle.lua
  src/main/resources/assets/cctweaked/lua/rom/programs/redprobe.lua
  src/main/resources/assets/cctweaked/lua/rom/programs/redpulse.lua
  src/main/resources/assets/cctweaked/lua/rom/programs/redset.lua
  src/main/resources/assets/cctweaked/lua/rom/programs/redstone.lua
  src/main/resources/assets/cctweaked/lua/rom/programs/turtle/equip.lua
  src/main/resources/assets/cctweaked/lua/rom/programs/turtle/unequip.lua
Due: license, checkstyle, illuaminate

Bump CC:T to 1.105.1
  gradle.properties
Due: none

Path conditions:
  license: any of: .*\.(java|kt|kts)$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  checkstyle: any of: .*\.java$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  illuaminate: any of: .*\.(lua|java|md), but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

