Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

license:
  name: Spotless
  language: system
  entry: ./gradlew spotlessApply
  pass_filenames: false
  require_serial: true

checkstyle:
  name: Check Java codestyle
  language: system
  entry: ./gradlew checkstyleMain checkstyleTest
  pass_filenames: false
  require_serial: true

illuaminate:
  name: Check Lua code
  language: system
  entry: ./gradlew lintLua
  pass_filenames: false
  require_serial: true

Refactor common {Jar,Resource}Mount code into a parent class
  projects/common/src/main/java/dan200/computercraft/shared/computer/core/ResourceMount.java
  projects/core-api/src/main/java/dan200/computercraft/api/filesystem/FileAttributes.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/ArchiveMount.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/JarMount.java
  projects/core/src/testFixtures/java/dan200/computercraft/test/core/computer/BasicEnvironment.java
Due: license, checkstyle, illuaminate

Make Mount.openForRead always return a SeekableByteChannel
  projects/core-api/src/main/java/dan200/computercraft/api/filesystem/Mount.java
  projects/core/src/main/java/dan200/computercraft/core/apis/handles/BinaryReadableHandle.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/ArchiveMount.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/FileMount.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/FileSystem.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/MountWrapper.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/SubMount.java
  projects/core/src/testFixtures/java/dan200/computercraft/test/core/filesystem/MemoryMount.java
Due: license, checkstyle, illuaminate

Run core tests on Windows/OSX too
  .github/workflows/main-ci.yml
Due: none

Support renaming files directly without copying/deleting
  .github/workflows/main-ci.yml
  gradle/libs.versions.toml
  illuaminate.sexp
  projects/core-api/src/main/java/dan200/computercraft/api/filesystem/WritableMount.java
  projects/core/build.gradle.kts
  projects/core/src/main/java/dan200/computercraft/core/filesystem/FileMount.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/FileSystem.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/MountWrapper.java
  projects/core/src/test/java/dan200/computercraft/core/computer/ComputerThreadTest.java
  projects/core/src/test/java/dan200/computercraft/core/filesystem/FileMountTest.java
  projects/core/src/test/java/dan200/computercraft/core/filesystem/FileSystemTest.java
  projects/core/src/test/java/dan200/computercraft/core/filesystem/WritableMountContract.java
  projects/core/src/test/resources/test-rom/mcfly.lua
  projects/core/src/test/resources/test-rom/spec/apis/fs_spec.lua
  projects/core/src/testFixtures/java/dan200/computercraft/test/core/filesystem/MemoryMount.java
Due: license, checkstyle, illuaminate

Correctly format 12AM/PM with %I
  projects/core/src/main/java/dan200/computercraft/core/apis/LuaDateTime.java
  projects/core/src/test/resources/test-rom/spec/apis/os_spec.lua
Due: license, checkstyle, illuaminate

Finish a sentence
  projects/core-api/src/main/java/dan200/computercraft/api/lua/LuaException.java
Due: license, checkstyle, illuaminate

A couple of fixes to the HTTP API
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/http/http.lua
  projects/core/src/test/resources/test-rom/spec/apis/http_spec.lua
  projects/core/src/test/resources/test-rom/spec/test_helpers.lua
Due: illuaminate

Update README with the new maven coordinates
  README.md
Due: illuaminate

Actually update README with the new maven coordinates
  README.md
  gradle/libs.versions.toml
Due: illuaminate

Some refactoring of mounts
  projects/common-api/src/main/java/dan200/computercraft/api/ComputerCraftAPI.java
  projects/common-api/src/main/java/dan200/computercraft/impl/ComputerCraftAPIService.java
  projects/common/build.gradle.kts
  projects/common/src/main/java/dan200/computercraft/impl/AbstractComputerCraftAPI.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/core/ResourceMount.java
  projects/common/src/main/java/dan200/computercraft/shared/network/server/UploadFileMessage.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/diskdrive/DiskDriveBlockEntity.java
  projects/common/src/test/java/dan200/computercraft/TestPlatformHelper.java
  projects/common/src/test/java/dan200/computercraft/shared/computer/core/ResourceMountTest.java
  projects/core-api/src/main/java/dan200/computercraft/api/filesystem/WritableMount.java
  projects/core/src/main/java/dan200/computercraft/core/apis/FSAPI.java
  projects/core/src/main/java/dan200/computercraft/core/apis/handles/BinaryWritableHandle.java
  projects/core/src/main/java/dan200/computercraft/core/apis/handles/HandleGeneric.java
  projects/core/src/main/java/dan200/computercraft/core/computer/ComputerEnvironment.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/ArchiveMount.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/FileMount.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/FileSystem.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/JarMount.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/MountWrapper.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/WritableFileMount.java
  projects/core/src/test/java/dan200/computercraft/core/ComputerTestDelegate.java
  projects/core/src/test/java/dan200/computercraft/core/computer/ComputerBootstrap.java
  projects/core/src/test/java/dan200/computercraft/core/filesystem/FileMountTest.java
  projects/core/src/test/java/dan200/computercraft/core/filesystem/FileSystemTest.java
  projects/core/src/test/java/dan200/computercraft/core/filesystem/JarMountTest.java
  projects/core/src/test/java/dan200/computercraft/core/filesystem/WritableFileMountTest.java
  projects/core/src/testFixtures/java/dan200/computercraft/test/core/CloseScope.java
  projects/core/src/testFixtures/java/dan200/computercraft/test/core/computer/BasicEnvironment.java
  projects/core/src/testFixtures/java/dan200/computercraft/test/core/filesystem/MemoryMount.java
  projects/core/src/testFixtures/java/dan200/computercraft/test/core/filesystem/MountContract.java
  projects/core/src/testFixtures/java/dan200/computercraft/test/core/filesystem/ReadOnlyWritableMount.java
  projects/core/src/testFixtures/java/dan200/computercraft/test/core/filesystem/WritableMountContract.java
  projects/fabric/src/main/java/dan200/computercraft/impl/ComputerCraftAPIImpl.java
  projects/forge/src/main/java/dan200/computercraft/impl/ComputerCraftAPIImpl.java
  tools/parse-reports.py
Due: license, checkstyle, illuaminate

Some further improvemnets to mount error handling
  projects/core-api/src/main/java/dan200/computercraft/api/filesystem/WritableMount.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/FileMount.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/MountWrapper.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/WritableFileMount.java
Due: license, checkstyle, illuaminate

Fix a couple of packaging issues
  gradle/libs.versions.toml
  projects/fabric/build.gradle.kts
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
  projects/forge/build.gradle.kts
  projects/forge/src/client/resources/computercraft-client.forge.mixins.json
Due: license, checkstyle, illuaminate

Use git shortlog for gathering contributors
  buildSrc/src/main/kotlin/cc/tweaked/gradle/CCTweakedExtension.kt
  buildSrc/src/main/kotlin/cc/tweaked/gradle/ProcessHelpers.kt
  projects/core-api/build.gradle.kts
  projects/core/build.gradle.kts
Due: license

Fix some typos in ARCHITECTURE.md
  projects/ARCHITECTURE.md
Due: illuaminate

Fix out-of-bounds read in ByteBufferChannel
  projects/core/src/main/java/dan200/computercraft/core/apis/handles/ByteBufferChannel.java
  projects/core/src/test/java/dan200/computercraft/core/apis/handles/ArrayByteChannelTest.java
  projects/core/src/test/java/dan200/computercraft/core/apis/handles/ByteBufferChannelTest.java
  projects/core/src/testFixtures/java/dan200/computercraft/test/core/filesystem/ReadableChannelContract.java
Due: license, checkstyle, illuaminate

Use the correct import path in import.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/import.lua
  projects/core/src/test/resources/test-rom/spec/programs/import_spec.lua
  projects/core/src/test/resources/test-rom/spec/programs/shell_spec.lua
Due: illuaminate

Use the correct import path in import.lua
  src/main/resources/data/computercraft/lua/rom/programs/import.lua
  src/test/resources/test-rom/spec/programs/import_spec.lua
  src/test/resources/test-rom/spec/programs/shell_spec.lua
Due: illuaminate

Update to latest Forge
  gradle/libs.versions.toml
  projects/core/build.gradle.kts
  projects/core/src/test/kotlin/http/TestHttpApi.kt
  projects/forge/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
Due: license, checkstyle, illuaminate

Don't round trip values in executeMainThreadTask
  projects/core-api/src/main/java/dan200/computercraft/api/lua/TaskCallback.java
  projects/core/src/test/java/dan200/computercraft/core/asm/MethodTest.java
Due: license, checkstyle, illuaminate

Use RenderSystem for setting polygon offsets
  projects/common/src/client/java/dan200/computercraft/client/render/monitor/MonitorBlockEntityRenderer.java
  projects/common/src/testMod/java/dan200/computercraft/mixin/gametest/client/WorldOpenFlowsMixin.java
  projects/common/src/testMod/resources/computercraft-gametest.mixins.json
Due: license, checkstyle, illuaminate

Satiate the demons of checkstyle
  projects/common/src/testMod/java/dan200/computercraft/mixin/gametest/client/WorldOpenFlowsMixin.java
Due: license, checkstyle, illuaminate

Time fs and peripheral operations
  projects/core/src/main/java/dan200/computercraft/core/apis/FSAPI.java
  projects/core/src/main/java/dan200/computercraft/core/apis/IAPIEnvironment.java
  projects/core/src/main/java/dan200/computercraft/core/apis/PeripheralAPI.java
  projects/core/src/main/java/dan200/computercraft/core/computer/Environment.java
  projects/core/src/main/java/dan200/computercraft/core/metrics/Metrics.java
  projects/core/src/main/java/dan200/computercraft/core/metrics/OperationTimer.java
  projects/core/src/test/java/dan200/computercraft/core/ComputerTestDelegate.java
  projects/core/src/testFixtures/java/dan200/computercraft/test/core/apis/BasicApiEnvironment.java
Due: license, checkstyle, illuaminate

Make the turtle label move with the turtle
  projects/common/src/client/java/dan200/computercraft/client/render/TurtleBlockEntityRenderer.java
Due: license, checkstyle, illuaminate

Deliver x86_64 Illuaminate binaries to all Macs
  buildSrc/src/main/kotlin/cc/tweaked/gradle/Illuaminate.kt
Due: license

Fix duplicated swing animations on high-ping servers
  projects/common/src/main/java/dan200/computercraft/shared/computer/blocks/AbstractComputerBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/media/items/PrintoutItem.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/CableBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/CableBlockItem.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/WiredModemFullBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/monitor/MonitorBlock.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/items/PocketComputerItem.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/TurtleBlockEntity.java
Due: license, checkstyle, illuaminate

Bump Cobalt and ForgeConfigAPI versions
  gradle/libs.versions.toml
Due: none

Bump Cobalt version
  gradle/libs.versions.toml
Due: none

Changed alias 'clr' to 'cls'
  projects/core/src/main/resources/data/computercraft/lua/rom/startup.lua
Due: illuaminate

Testcommit
  projects/core/src/main/resources/data/computercraft/lua/rom/startup.lua
Due: illuaminate

Prepare for 1.102.0
  README.md
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: license, illuaminate

Added optional parameter to shell.complete to list the full name and quote the names if necessary (#1256)
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
Due: illuaminate

Fix computer upgrade recipes
  src/generated/resources/data/computercraft/recipes/computer_advanced_upgrade.json
  src/generated/resources/data/computercraft/recipes/turtle_advanced_upgrade.json
  src/main/java/dan200/computercraft/data/RecipeGenerator.java
Due: license, checkstyle, illuaminate

Fix crash on Fabric when attempting to use a non-fuel item as fuel.
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
Due: license, checkstyle, illuaminate

Fix bug where turtle drops inventory when moving
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/TurtleBlock.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/TurtleBlockEntity.java
Due: license, checkstyle, illuaminate

Add a quick test too
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Turtle_Test.kt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.refuel_fail.snbt
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
Due: license, checkstyle, illuaminate

Fix crash on Fabric when attempting to use a non-fuel item as fuel. (#1275)
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Turtle_Test.kt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.refuel_fail.snbt
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
Due: license, checkstyle, illuaminate

Add a small test too
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/TurtleBlock.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/TurtleBlockEntity.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Turtle_Test.kt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.move_preserves_state.snbt
Due: license, checkstyle, illuaminate

Fix crash when turtle digs with a full inventory and any slot other than slot 1 is selected
  projects/common/src/main/java/dan200/computercraft/shared/util/InventoryUtil.java
Due: license, checkstyle, illuaminate

Set location when creating a pocket modem
  projects/common/src/main/java/dan200/computercraft/shared/pocket/peripherals/PocketModem.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/peripherals/PocketModemPeripheral.java
Due: license, checkstyle, illuaminate

Path conditions:
  license: any of: .*\.(java|kt|kts)$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  checkstyle: any of: .*\.java$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  illuaminate: any of: .*\.(lua|java|md), but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

