Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2022 The CC: Tweaked Developers
#
# SPDX-License-Identifier: CC0-1.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-merge-conflict

  # Quick syntax checkers
  - id: check-xml
  - id: check-yaml
  - id: check-toml
  - id: check-json
    exclude: "tsconfig\\.json$"

- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: 2.7.2
  hooks:
  - id: editorconfig-checker
    args: ['-disable-indentation']
    exclude: "^(.*\\.(bat)|LICENSE)$"

- repo: https://github.com/fsfe/reuse-tool
  rev: v4.0.3
  hooks:
  - id: reuse

- repo: local
  hooks:
  - id: license
    name: Spotless
    files: ".*\\.(java|kt|kts)$"
    language: system
    entry: ./gradlew spotlessApply
    pass_filenames: false
    require_serial: true
  - id: checkstyle
    name: Check Java codestyle
    files: ".*\\.java$"
    language: system
    entry: ./gradlew checkstyle
    pass_filenames: false
    require_serial: true
  - id: illuaminate
    name: Check Lua code
    files: ".*\\.(lua|java|md)"
    language: system
    entry: ./gradlew lintLua
    pass_filenames: false
    require_serial: true

exclude: |
  (?x)^(
    projects/[a-z]+/src/generated|
    projects/core/src/test/resources/test-rom/data/json-parsing/|
    .*\.dfpwm
  )

Shadow netty rather than jar-in-jaring
  gradle/libs.versions.toml
  projects/core/build.gradle.kts
  projects/forge/build.gradle.kts
Due: license

Write colour channel as a single int
  projects/common/src/client/java/dan200/computercraft/client/render/text/DirectFixedWidthFontRenderer.java
Due: license, checkstyle, illuaminate

Bump CC:T to 1.113.1
  gradle.properties
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: illuaminate

Unify Iris integrations
  buildSrc/src/main/kotlin/cc/tweaked/gradle/MinecraftExec.kt
  gradle/libs.versions.toml
  projects/common/src/client/java/dan200/computercraft/client/integration/IrisShaderMod.java
  projects/common/src/main/java/dan200/computercraft/shared/platform/PlatformHelper.java
  projects/common/src/test/java/dan200/computercraft/TestPlatformHelper.java
  projects/fabric/build.gradle.kts
  projects/fabric/src/client/java/dan200/computercraft/client/integration/IrisShaderMod.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
  projects/forge/build.gradle.kts
  projects/forge/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
  tools/screenshots.py
Due: license, checkstyle, illuaminate

Update Cobalt to add math.atan(y, x) support
  doc/reference/feature_compat.md
  gradle/libs.versions.toml
Due: illuaminate

Add a helper class for working with attached computers
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/monitor/MonitorBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/SpeakerPeripheral.java
  projects/core-api/src/main/java/dan200/computercraft/api/peripheral/AttachedComputerSet.java
  projects/core-api/src/main/java/dan200/computercraft/api/peripheral/IPeripheral.java
Due: license, checkstyle, illuaminate

tr_tr.json Turkish Localization
  projects/common/src/main/resources/assets/computercraft/lang/tr_tr.json
Due: none

tr_tr.json Turkish Localization - 1.21.1
  projects/common/src/main/resources/assets/computercraft/lang/tr_tr.json
Due: none

Add Turkish language mapping
  crowdin.yml
Due: none

Update tr_tr.json
  projects/common/src/main/resources/assets/computercraft/lang/tr_tr.json
Due: none

Add Turkish translation
  projects/common/src/main/resources/assets/computercraft/lang/tr_tr.json
Due: none

New translations en_us.json (Turkish)
  projects/common/src/main/resources/assets/computercraft/lang/tr_tr.json
Due: none

small german translation changes
  projects/common/src/main/resources/assets/computercraft/lang/de_de.json
Due: none

fix my translation mistakes
  projects/common/src/main/resources/assets/computercraft/lang/de_de.json
Due: none

Remove command translation keys
  projects/common/src/generated/resources/assets/computercraft/lang/en_us.json
  projects/common/src/main/java/dan200/computercraft/data/LanguageProvider.java
  projects/common/src/main/java/dan200/computercraft/shared/command/text/ChatHelpers.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/AbstractInventoryMethods.java
  projects/forge/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethods.java
Due: license, checkstyle, illuaminate

New translations en_us.json (Japanese)
  projects/common/src/main/resources/assets/computercraft/lang/ja_jp.json
Due: none

Install/run pre-commit directly
  .github/workflows/main-ci.yml
Due: none

Small german translation update (#1992)
  projects/common/src/main/resources/assets/computercraft/lang/de_de.json
Due: none

Fix wrong link in os.date docs
  projects/core/src/main/java/dan200/computercraft/core/apis/OSAPI.java
Due: license, checkstyle, illuaminate

Render pocket computers in tooltips
  projects/common/src/client/java/dan200/computercraft/client/pocket/ClientPocketComputers.java
  projects/common/src/client/java/dan200/computercraft/client/pocket/PocketClientTooltipComponent.java
  projects/common/src/client/java/dan200/computercraft/client/render/SpriteRenderer.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/items/PocketComputerItem.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/items/PocketTooltipComponent.java
  projects/fabric/src/client/java/dan200/computercraft/client/ComputerCraftClient.java
  projects/forge/src/client/java/dan200/computercraft/client/ForgeClientRegistry.java
Due: license, checkstyle, illuaminate

New translations en_us.json (French)
  projects/common/src/main/resources/assets/computercraft/lang/fr_fr.json
Due: none

New translations en_us.json (Spanish)
  projects/common/src/main/resources/assets/computercraft/lang/es_es.json
Due: none

New translations en_us.json (Czech)
  projects/common/src/main/resources/assets/computercraft/lang/cs_cs.json
Due: none

New translations en_us.json (German)
  projects/common/src/main/resources/assets/computercraft/lang/de_de.json
Due: none

New translations en_us.json (Italian)
  projects/common/src/main/resources/assets/computercraft/lang/it_it.json
Due: none

New translations en_us.json (Korean)
  projects/common/src/main/resources/assets/computercraft/lang/ko_kr.json
Due: none

New translations en_us.json (Dutch)
  projects/common/src/main/resources/assets/computercraft/lang/nl_nl.json
Due: none

New translations en_us.json (Polish)
  projects/common/src/main/resources/assets/computercraft/lang/pl_pl.json
Due: none

New translations en_us.json (Russian)
  projects/common/src/main/resources/assets/computercraft/lang/ru_ru.json
Due: none

New translations en_us.json (Swedish)
  projects/common/src/main/resources/assets/computercraft/lang/sv_se.json
Due: none

New translations en_us.json (Ukrainian)
  projects/common/src/main/resources/assets/computercraft/lang/uk_ua.json
Due: none

New translations en_us.json (Chinese Simplified)
  projects/common/src/main/resources/assets/computercraft/lang/zh_cn.json
Due: none

New translations en_us.json (Toki Pona)
  projects/common/src/main/resources/assets/computercraft/lang/tok.json
Due: none

New translations en_us.json (Norwegian Bokmal)
  projects/common/src/main/resources/assets/computercraft/lang/nb_no.json
Due: none

New translations en_us.json (Czech)
  projects/common/src/main/resources/assets/computercraft/lang/cs_cz.json
Due: none
