Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

license:
  name: Spotless
  language: system
  entry: ./gradlew spotlessApply
  pass_filenames: false
  require_serial: true

checkstyle:
  name: Check Java codestyle
  language: system
  entry: ./gradlew checkstyle
  pass_filenames: false
  require_serial: true

illuaminate:
  name: Check Lua code
  language: system
  entry: ./gradlew lintLua
  pass_filenames: false
  require_serial: true

Clarify behaviour of readAll at the end of a file
  projects/core/src/main/java/dan200/computercraft/core/apis/handles/AbstractHandle.java
  projects/core/src/test/resources/test-rom/spec/apis/fs_spec.lua
Due: license, checkstyle, illuaminate

Test behaviour of fs.getName/getDir with relative paths
  projects/core/src/main/java/dan200/computercraft/core/filesystem/FileSystem.java
  projects/core/src/test/resources/test-rom/spec/apis/fs_spec.lua
Due: license, checkstyle, illuaminate

Test path manipulation methods sanitise correctly
  projects/core/src/main/java/dan200/computercraft/core/apis/FSAPI.java
  projects/core/src/main/java/dan200/computercraft/core/filesystem/FileSystem.java
  projects/core/src/test/resources/test-rom/spec/apis/fs_spec.lua
Due: license, checkstyle, illuaminate

Remove usage of deprecated legacy Java Date API
  projects/core/src/main/java/dan200/computercraft/core/apis/OSAPI.java
Due: license, checkstyle, illuaminate

Some tweaks to the turtle docs
  projects/common/src/main/java/dan200/computercraft/shared/turtle/apis/TurtleAPI.java
Due: license, checkstyle, illuaminate

Add recipes for pocket computers too
  projects/common/src/main/java/dan200/computercraft/shared/pocket/apis/PocketAPI.java
Due: license, checkstyle, illuaminate

Fix pocket computers not being active in the off-hand
  projects/common/src/main/java/dan200/computercraft/shared/pocket/items/PocketComputerItem.java
  projects/common/src/main/java/dan200/computercraft/shared/util/InventoryUtil.java
Due: license, checkstyle, illuaminate

Bump CC:T to 1.113.0
  gradle.properties
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: illuaminate

Update JEI to fix crash with NF
  gradle/libs.versions.toml
Due: none

Fix repeated words in DFPWM docs
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/audio/dfpwm.lua
Due: illuaminate

Fix turtle owning player not being set
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/TurtleBlock.java
Due: license, checkstyle, illuaminate

Japanese translation update
  projects/common/src/main/resources/assets/computercraft/lang/ja_jp.json
Due: none

Reformat ja_jp
  projects/common/src/main/resources/assets/computercraft/lang/ja_jp.json
Due: none

Japanese translation update (#1950)
  projects/common/src/main/resources/assets/computercraft/lang/ja_jp.json
Due: none

Add Crowdin config
  crowdin.yml
Due: none

New translations en_us.json (French)
  fr/projects/common/src/main/resources/assets/computercraft/lang/fr_fr.json
Due: none

New translations en_us.json (Spanish)
  es-ES/projects/common/src/main/resources/assets/computercraft/lang/es_es.json
Due: none

New translations en_us.json (Czech)
  cs/projects/common/src/main/resources/assets/computercraft/lang/cs_cz.json
Due: none

New translations en_us.json (Danish)
  da/projects/common/src/main/resources/assets/computercraft/lang/da_dk.json
Due: none

New translations en_us.json (German)
  de/projects/common/src/main/resources/assets/computercraft/lang/de_de.json
Due: none

Write translations to the root
  crowdin.yml
Due: none

New translations en_us.json (French)
  projects/common/src/main/resources/assets/computercraft/lang/fr_fr.json
Due: none

New translations en_us.json (Spanish)
  projects/common/src/main/resources/assets/computercraft/lang/es_es.json
Due: none

New translations en_us.json (Czech)
  projects/common/src/main/resources/assets/computercraft/lang/cs_cz.json
Due: none

New translations en_us.json (Danish)
  projects/common/src/main/resources/assets/computercraft/lang/da_dk.json
Due: none

New translations en_us.json (German)
  projects/common/src/main/resources/assets/computercraft/lang/de_de.json
Due: none

New translations en_us.json (French)
  projects/common/src/main/resources/assets/computercraft/lang/fr_FR.json
Due: none

Sad, sad noises
  crowdin.yml
  cs/projects/common/src/main/resources/assets/computercraft/lang/cs_cz.json
  da/projects/common/src/main/resources/assets/computercraft/lang/da_dk.json
  de/projects/common/src/main/resources/assets/computercraft/lang/de_de.json
  es-ES/projects/common/src/main/resources/assets/computercraft/lang/es_es.json
  fr/projects/common/src/main/resources/assets/computercraft/lang/fr_fr.json
  projects/common/src/main/resources/assets/computercraft/lang/cs_cz.json
  projects/common/src/main/resources/assets/computercraft/lang/da_dk.json
  projects/common/src/main/resources/assets/computercraft/lang/de_de.json
  projects/common/src/main/resources/assets/computercraft/lang/es_es.json
  projects/common/src/main/resources/assets/computercraft/lang/fr_FR.json
  projects/common/src/main/resources/assets/computercraft/lang/fr_fr.json
Due: none

Mention Crowdin in our documentation
  CONTRIBUTING.md
  crowdin.yml
Due: illuaminate

Fix overflow when converting recursive objects to Lua
  projects/core/src/main/java/dan200/computercraft/core/lua/CobaltLuaMachine.java
  projects/core/src/main/java/dan200/computercraft/core/util/LuaUtil.java
  projects/core/src/test/resources/test-rom/spec/apis/os_spec.lua
Due: license, checkstyle, illuaminate

Make common's CC:T dependencies api, not impl
  projects/common/build.gradle.kts
Due: license

Some small optimisations to textutils.urlEncode
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/textutils.lua
  projects/core/src/test/resources/test-rom/spec/apis/textutils_spec.lua
Due: illuaminate

Update IrisShaderMod.java
  projects/forge/src/client/java/dan200/computercraft/client/integration/IrisShaderMod.java
Due: license, checkstyle, illuaminate

Wait until the turtle has gone in explosion tests
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Turtle_Test.kt
Due: license

Some stability fixes to client tests
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Monitor_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Printout_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/ClientTestHooks.kt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.render_turtle_items.snbt
Due: license

Use ARGB32 to store palette colours
  projects/common/src/client/java/dan200/computercraft/client/render/PocketItemRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/text/DirectFixedWidthFontRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/text/FixedWidthFontRenderer.java
  projects/common/src/main/java/dan200/computercraft/shared/util/ARGB32.java
  projects/core/src/main/java/dan200/computercraft/core/terminal/Palette.java
  projects/core/src/main/java/dan200/computercraft/core/util/Colour.java
  projects/fabric/src/client/java/dan200/computercraft/client/integration/IrisShaderMod.java
  projects/forge/src/client/java/dan200/computercraft/client/integration/IrisShaderMod.java
Due: license, checkstyle, illuaminate

Path conditions:
  license: any of: .*\.(java|kt|kts)$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  checkstyle: any of: .*\.java$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  illuaminate: any of: .*\.(lua|java|md), but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

