Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2022 The CC: Tweaked Developers
#
# SPDX-License-Identifier: CC0-1.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-merge-conflict

  # Quick syntax checkers
  - id: check-xml
  - id: check-yaml
  - id: check-toml
  - id: check-json
    exclude: "tsconfig\\.json$"

- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: 2.7.2
  hooks:
  - id: editorconfig-checker
    args: ['-disable-indentation']
    exclude: "^(.*\\.(bat)|LICENSE)$"

- repo: https://github.com/fsfe/reuse-tool
  rev: v4.0.3
  hooks:
  - id: reuse

- repo: local
  hooks:
  - id: license
    name: Spotless
    files: ".*\\.(java|kt|kts)$"
    language: system
    entry: ./gradlew spotlessApply
    pass_filenames: false
    require_serial: true
  - id: checkstyle
    name: Check Java codestyle
    files: ".*\\.java$"
    language: system
    entry: ./gradlew checkstyle
    pass_filenames: false
    require_serial: true
  - id: illuaminate
    name: Check Lua code
    files: ".*\\.(lua|java|md)"
    language: system
    entry: ./gradlew lintLua
    pass_filenames: false
    require_serial: true

exclude: |
  (?x)^(
    projects/[a-z]+/src/generated|
    projects/core/src/test/resources/test-rom/data/json-parsing/|
    .*\.dfpwm
  )

Fix discrepancy in `type` help
  projects/core/src/main/resources/data/computercraft/lua/rom/help/type.txt
Due: none

Add cat, echo, and touch shell programs
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/cat.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/echo.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/touch.lua
Due: illuaminate

Disable "disableRecompilation" in CI
  buildSrc/src/main/kotlin/cc-tweaked.forge.gradle.kts
Due: license

Bump Fabric loader version
  gradle/libs.versions.toml
Due: none

Fix more issues caused by Java 25 update
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  gradle/libs.versions.toml
  projects/forge/build.gradle.kts
Due: license, illuaminate

Fix discrepancy in `type` help (#2374)
  projects/core/src/main/resources/data/computercraft/lua/rom/help/type.txt
Due: none

Fix getResponseHeaders @since version
  projects/core/src/main/java/dan200/computercraft/core/apis/http/websocket/WebsocketHandle.java
Due: license, checkstyle, illuaminate

Update TurtleAPI documentation for block breaking
  projects/common/src/main/java/dan200/computercraft/shared/turtle/apis/TurtleAPI.java
Due: license, checkstyle, illuaminate

Update TurtleAPI documentation for block breaking (#2380)
  projects/common/src/main/java/dan200/computercraft/shared/turtle/apis/TurtleAPI.java
Due: license, checkstyle, illuaminate

Add optional password to rednet chat
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/rednet/chat.lua
Due: illuaminate

Update chat.lua to use challenge-response authentication and encrypted messaging when password is set
  projects/core/src/main/java/dan200/computercraft/core/apis/CryptoAPI.java
  projects/core/src/main/java/dan200/computercraft/core/computer/ComputerExecutor.java
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/rednet/chat.lua
Due: license, checkstyle, illuaminate

Bump CC:T to 1.117.1
  .pre-commit-config.yaml
  gradle.properties
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: illuaminate

fix spelling mistake in gps_setup.md
  doc/guides/gps_setup.md
Due: illuaminate

fix another spelling mistake in gps_setup.md
  doc/guides/gps_setup.md
Due: illuaminate

spelling mistake fix in breaking_changes.md
  doc/reference/breaking_changes.md
Due: illuaminate

Fix spelling mistakes in documentation (#2395)
  doc/guides/gps_setup.md
  doc/reference/breaking_changes.md
Due: illuaminate

Fix missing reference to data packs in .ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/autorun/.ignoreme
Due: none

Fix missing reference to datapacks in .ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/command/.ignoreme
Due: none

Add missing reference to datapacks in .ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/.ignoreme
Due: none

Add missing reference to datapacks in .ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/turtle/.ignoreme
Due: none

Fix shebang absolute path handling
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
Due: illuaminate

Adjust existing shebang tests and add a new test
  projects/core/src/test/resources/test-rom/spec/programs/shell_spec.lua
Due: illuaminate

Create resolve-args.lua
  projects/core/src/test/resources/test-rom/data/resolve-args.lua
Due: illuaminate

Changed name of program and exposed global variable used for the additional test.
  projects/core/src/test/resources/test-rom/spec/programs/shell_spec.lua
Due: illuaminate

Remove references to resource packs
  projects/core/src/main/resources/data/computercraft/lua/rom/autorun/.ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/command/.ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/.ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/turtle/.ignoreme
Due: none

Replace references to resource packs with data packs (#2396)
  projects/core/src/main/resources/data/computercraft/lua/rom/autorun/.ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/command/.ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/.ignoreme
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/turtle/.ignoreme
Due: none

Fix shebang absolute path handling (#2398)
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
  projects/core/src/test/resources/test-rom/data/resolve-args.lua
  projects/core/src/test/resources/test-rom/spec/programs/shell_spec.lua
Due: illuaminate

feat: add sampleOffset field to EncodedAudio for audio sync
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/DfpwmState.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/EncodedAudio.java
  projects/common/src/test/java/dan200/computercraft/client/sound/DfpwmStreamTest.java
  projects/common/src/test/java/dan200/computercraft/shared/peripheral/speaker/EncodedAudioTest.java
Due: license, checkstyle, illuaminate

feat: remove wall-clock pacing, add sample offset tracking to DfpwmState
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/DfpwmState.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/SpeakerPeripheral.java
  projects/common/src/test/java/dan200/computercraft/shared/peripheral/speaker/DfpwmStateTest.java
Due: license, checkstyle, illuaminate

feat: add drift detection and sync correction to DfpwmStream
  projects/common/src/client/java/dan200/computercraft/client/sound/DfpwmStream.java
  projects/common/src/test/java/dan200/computercraft/client/sound/DfpwmStreamTest.java
Due: license, checkstyle, illuaminate

style: remove unnecessary parentheses in DfpwmState.isPlaying()
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/DfpwmState.java
Due: license, checkstyle, illuaminate

Add Ctrl+key text navigation and editing shortcuts
  projects/core/src/main/resources/data/computercraft/lua/bios.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
Due: illuaminate

Clear terminal in edit program on resize event
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
Due: illuaminate

Refactor Ctrl key handling for text navigation and editing
  projects/core/src/main/resources/data/computercraft/lua/bios.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
Due: illuaminate

Create setting_changed.md
  doc/events/setting_changed.md
Due: illuaminate

Update dependencies
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  package-lock.json
  package.json
  projects/web/src/frontend/typings.d.ts
  projects/web/tsconfig.json
Due: none

A couple of small doc tweaks
  CONTRIBUTING.md
  doc/guides/speaker_audio.md
Due: illuaminate

Link docs from "settings" and add an example
  doc/events/setting_changed.md
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/settings.lua
Due: illuaminate

Add documentation for the setting_changed event (#2405)
  doc/events/setting_changed.md
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/settings.lua
Due: illuaminate
