Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

license:
  name: Spotless
  language: system
  entry: ./gradlew spotlessApply
  pass_filenames: false
  require_serial: true

checkstyle:
  name: Check Java codestyle
  language: system
  entry: ./gradlew checkstyle
  pass_filenames: false
  require_serial: true

illuaminate:
  name: Check Lua code
  language: system
  entry: ./gradlew lintLua
  pass_filenames: false
  require_serial: true

Kinda rewrite things
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/parallel.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/exception.lua
  projects/core/src/test/resources/test-rom/spec/apis/parallel_spec.lua
Due: illuaminate

Fix error levels
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/parallel.lua
Due: illuaminate

Fix/cleaning can_spawn code
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/parallel.lua
  projects/core/src/test/resources/test-rom/spec/apis/parallel_spec.lua
Due: illuaminate

Support spawning new parallel functions (#2263)
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/parallel.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/exception.lua
  projects/core/src/test/resources/test-rom/spec/apis/parallel_spec.lua
Due: illuaminate

Support Fabric's getCreatorNamespace
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/shared/pocket/items/PocketComputerItem.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/items/TurtleItem.java
  projects/fabric/src/main/resources/fabric.mod.json
Due: license, checkstyle, illuaminate

Document internal exception protocol
  doc/reference/exceptions.md
Due: illuaminate

Some documentation on startup files
  doc/guides/startup.md
  doc/reference/exceptions.md
  doc/reference/startup.md
  projects/web/src/frontend/index.tsx
Due: illuaminate

Fix typo in startup docs
  doc/guides/startup.md
Due: illuaminate

Block RFC 8215-style addresses too.
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/AddressPredicate.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/AddressRule.java
  projects/core/src/test/java/dan200/computercraft/core/apis/http/options/AddressRuleTest.java
Due: license, checkstyle, illuaminate

Fix a few small typos
  doc/guides/speaker_audio.md
  doc/mod-page.md
  doc/reference/item_details.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
Due: illuaminate

Refactor host rule code a little
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/AddressPredicate.java
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/AddressRule.java
  projects/core/src/test/java/dan200/computercraft/core/apis/http/options/AddressRuleTest.java
Due: license, checkstyle, illuaminate

Revert redundant indexOf
  projects/core/src/main/java/dan200/computercraft/core/apis/http/options/AddressRule.java
Due: license, checkstyle, illuaminate

Add/bump foojay resolver plugin
  settings.gradle.kts
Due: license

Update dependencies
  gradle/libs.versions.toml
  package-lock.json
  projects/fabric/build.gradle.kts
  projects/web/src/main/java/dan200/computercraft/core/asm/MethodReflection.java
  projects/web/src/main/java/dan200/computercraft/core/asm/StaticGenerator.java
Due: license, checkstyle, illuaminate

Bump CC:T to 1.120.0
  gradle.properties
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
  projects/forge/build.gradle.kts
Due: license, illuaminate

Re-enable REI integration
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/shared/platform/PlatformHelper.java
  projects/fabric/build.gradle.kts
  projects/fabric/src/client/java/dan200/computercraft/client/integration/rei/UpgradeDisplayGenerator.java
  projects/fabric/src/main/resources/fabric.mod.json
Due: license, checkstyle, illuaminate

Replace 26.1 with 26.2 in issue template
  .github/ISSUE_TEMPLATE/bug_report.yaml
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: illuaminate

Dependency verification
  .github/workflows/main-ci.yml
  .github/workflows/make-doc.yml
  gradle/verification-metadata.xml
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/WiredModemPeripheral.java
Due: license, checkstyle, illuaminate

Run with --refresh-dependencies
  REUSE.toml
  gradle/verification-metadata.xml
Due: none

Exclude generated mappings
  gradle/verification-metadata.xml
Due: none

More dependencies
  .github/workflows/main-ci.yml
  gradle/verification-metadata.xml
Due: none

This is 100% broken
  gradle/verification-metadata.xml
Due: none

Use keyring where possible
  REUSE.toml
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
Due: none

Revert previous commit, fix illuaminate
  .pre-commit-config.yaml
  REUSE.toml
  buildSrc/src/main/kotlin/cc/tweaked/gradle/Illuaminate.kt
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
Due: license

Run datagen
  gradle/libs.versions.toml
  projects/common/src/generated/resources/data/computercraft/loot_table/blocks/cable.json
  projects/common/src/generated/resources/data/computercraft/loot_table/blocks/computer_advanced.json
  projects/common/src/generated/resources/data/computercraft/loot_table/blocks/computer_command.json
  projects/common/src/generated/resources/data/computercraft/loot_table/blocks/computer_normal.json
  projects/common/src/generated/resources/data/computercraft/loot_table/blocks/disk_drive.json
  projects/common/src/generated/resources/data/computercraft/loot_table/blocks/lectern.json
  projects/common/src/generated/resources/data/computercraft/loot_table/blocks/monitor_advanced.json
  projects/common/src/generated/resources/data/computercraft/loot_table/blocks/monitor_normal.json
  projects/common/src/generated/resources/data/computercraft/loot_table/blocks/printer.json
  projects/common/src/generated/resources/data/computercraft/loot_table/blocks/redstone_relay.json
  projects/common/src/generated/resources/data/computercraft/loot_table/blocks/speaker.json
  projects/common/src/generated/resources/data/computercraft/loot_table/blocks/turtle_advanced.json
  projects/common/src/generated/resources/data/computercraft/loot_table/blocks/turtle_normal.json
  projects/common/src/generated/resources/data/computercraft/loot_table/blocks/wired_modem_full.json
  projects/common/src/generated/resources/data/computercraft/loot_table/blocks/wireless_modem_advanced.json
  projects/common/src/generated/resources/data/computercraft/loot_table/blocks/wireless_modem_normal.json
  projects/common/src/generated/resources/data/computercraft/recipe/skull_cloudy.json
  projects/common/src/generated/resources/data/computercraft/recipe/skull_dan200.json
  projects/common/src/generated/resources/data/computercraft/tags/block/turtle_sword_harvestable.json
  projects/common/src/generated/resources/data/minecraft/recipe/wired_modem_from_wired_modem_full.json
  projects/common/src/generated/resources/data/minecraft/recipe/wired_modem_full_from_wired_modem.json
Due: none

Switch to Fabric's new feature renderer API
  gradle/libs.versions.toml
  projects/fabric/src/client/java/dan200/computercraft/client/ComputerCraftClient.java
  projects/fabric/src/client/java/dan200/computercraft/client/platform/ClientPlatformHelperImpl.java
  projects/fabric/src/client/java/dan200/computercraft/impl/client/ExtendedOrderedSubmitNodeCollector.java
  projects/fabric/src/client/java/dan200/computercraft/mixin/client/FeatureRenderDispatcherMixin.java
  projects/fabric/src/client/java/dan200/computercraft/mixin/client/OrderedSubmitNodeCollectorMixin.java
  projects/fabric/src/client/java/dan200/computercraft/mixin/client/SubmitNodeCollectionMixin.java
  projects/fabric/src/client/java/dan200/computercraft/mixin/client/SubmitNodeCollectorMixin.java
  projects/fabric/src/client/resources/computercraft-client.fabric.mixins.json
  projects/fabric/src/main/resources/fabric.mod.json
Due: license, checkstyle, illuaminate

Remove redundant cast
  projects/fabric/src/client/java/dan200/computercraft/client/platform/ClientPlatformHelperImpl.java
Due: license, checkstyle, illuaminate

remover
  .deepseek/instructions.md
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/cc-tweaked.mod-publishing.gradle.kts
  buildSrc/src/main/kotlin/cc-tweaked.publishing.gradle.kts
  gradle/libs.versions.toml
  projects/common-api/build.gradle.kts
  projects/common/build.gradle.kts
  projects/core-api/build.gradle.kts
  projects/core/build.gradle.kts
  projects/fabric-api/build.gradle.kts
  projects/fabric/build.gradle.kts
  projects/forge-api/build.gradle.kts
  projects/forge/build.gradle.kts
Due: license, illuaminate

change1
  .github/workflows/build-luajit-native.yml
  .github/workflows/main-ci.yml
  .github/workflows/make-doc.yml
  LUJIT_README.md
  gradle/libs.versions.toml
  projects/core/build.gradle.kts
  projects/core/src/main/java/dan200/computercraft/core/ComputerContext.java
  projects/core/src/main/java/dan200/computercraft/core/luajit/LuaJITLib.java
  projects/core/src/main/java/dan200/computercraft/core/luajit/LuaJITMachine.java
  projects/core/src/main/resources/data/computercraft/lua/rom/lua53_shim.lua
  tools/build-luajit-native.sh
Due: license, checkstyle, illuaminate

Clarify text mode changes in 1.109
  doc/reference/breaking_changes.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
Due: illuaminate

Replace boring List with exciting ColorCollection
  projects/common/src/main/java/dan200/computercraft/shared/media/recipes/DiskRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/platform/PlatformHelper.java
  projects/common/src/main/java/dan200/computercraft/shared/util/ColourUtils.java
  projects/common/src/test/java/dan200/computercraft/TestPlatformHelper.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
Due: license, checkstyle, illuaminate

Add tests to check dynamic recipes are well-formed
  projects/common/src/datagen/java/dan200/computercraft/data/RecipeProvider.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/items/PocketComputerItem.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Recipe_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/api/TestExtensions.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/TestReporters.kt
  projects/fabric/build.gradle.kts
  projects/fabric/src/generated/resources/data/computercraft/recipes/turtle_advanced_overlays/turtle_rainbow_overlay.json
  projects/fabric/src/generated/resources/data/computercraft/recipes/turtle_advanced_overlays/turtle_trans_overlay.json
  projects/fabric/src/generated/resources/data/computercraft/recipes/turtle_normal_overlays/turtle_rainbow_overlay.json
  projects/fabric/src/generated/resources/data/computercraft/recipes/turtle_normal_overlays/turtle_trans_overlay.json
  projects/forge/src/generated/resources/data/computercraft/recipes/turtle_advanced_overlays/turtle_rainbow_overlay.json
  projects/forge/src/generated/resources/data/computercraft/recipes/turtle_advanced_overlays/turtle_trans_overlay.json
  projects/forge/src/generated/resources/data/computercraft/recipes/turtle_normal_overlays/turtle_rainbow_overlay.json
  projects/forge/src/generated/resources/data/computercraft/recipes/turtle_normal_overlays/turtle_trans_overlay.json
Due: license, checkstyle, illuaminate

Link to write/print in term.write docs
  projects/core/src/main/java/dan200/computercraft/core/apis/TermMethods.java
Due: license, checkstyle, illuaminate

tests/rednet: Test airgapping
  projects/core/src/test/resources/test-rom/spec/apis/rednet_spec.lua
Due: illuaminate

tests/rednet: Detached and reconnected modems are not open
  projects/core/src/test/resources/test-rom/spec/apis/rednet_spec.lua
Due: illuaminate

rednet: Allow sending through specified modems
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/rednet.lua
Due: illuaminate

Lower size/time-taken in base64 test
  projects/core/src/test/resources/test-rom/spec/modules/cc/base64_spec.lua
Due: illuaminate

Deprecate ITurtleUpgrade.createKey
  projects/common-api/src/main/java/dan200/computercraft/api/turtle/ITurtleUpgrade.java
  projects/common-api/src/main/java/dan200/computercraft/api/turtle/TurtleToolBuilder.java
  projects/common/src/datagen/java/dan200/computercraft/data/TurtleUpgradeProvider.java
  projects/common/src/examples/java/com/example/examplemod/data/TurtleUpgradeProvider.java
Due: license, checkstyle, illuaminate

Rename "bottom" pocket upgrade slot to "top"
  projects/common/src/client/java/dan200/computercraft/client/integration/jei/JEIComputerCraft.java
  projects/common/src/datagen/java/dan200/computercraft/data/RecipeProvider.java
  projects/common/src/generated/resources/data/computercraft/recipe/pocket_advanced/computercraft/speaker.json
  projects/common/src/generated/resources/data/computercraft/recipe/pocket_advanced/computercraft/wireless_modem_advanced.json
  projects/common/src/generated/resources/data/computercraft/recipe/pocket_advanced/computercraft/wireless_modem_normal.json
  projects/common/src/generated/resources/data/computercraft/recipe/pocket_normal/computercraft/speaker.json
  projects/common/src/generated/resources/data/computercraft/recipe/pocket_normal/computercraft/wireless_modem_advanced.json
  projects/common/src/generated/resources/data/computercraft/recipe/pocket_normal/computercraft/wireless_modem_normal.json
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
  projects/common/src/main/java/dan200/computercraft/shared/datafix/ComponentizationFixers.java
  projects/common/src/main/java/dan200/computercraft/shared/integration/UpgradeRecipeGenerator.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/apis/PocketAPI.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/core/PocketBrain.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/core/PocketSide.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/items/PocketComputerItem.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/recipes/PocketComputerUpgradeRecipe.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Pocket_Computer_Test.kt
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/pocket/equip.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/pocket/unequip.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/startup.lua
  projects/fabric/src/main/java/dan200/computercraft/shared/integration/rei/REIComputerCraft.java
Due: license, checkstyle, illuaminate

Path conditions:
  license: any of: .*\.(java|kt|kts)$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  checkstyle: any of: .*\.java$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  illuaminate: any of: .*\.(lua|java|md), but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

