Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-merge-conflict

  # Quick syntax checkers
  - id: check-xml
  - id: check-yaml
  - id: check-toml
  - id: check-json
    exclude: "tsconfig\\.json$"

- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: 2.3.54
  hooks:
  - id: editorconfig-checker
    args: ['-disable-indentation']
    exclude: "^(.*\\.(bat)|LICENSE)$"

- repo: local
  hooks:
  - id: license
    name: Spotless
    files: ".*\\.(java|kt|kts)$"
    language: system
    entry: ./gradlew spotlessApply
    pass_filenames: false
    require_serial: true
  - id: checkstyle
    name: Check Java codestyle
    files: ".*\\.java$"
    language: system
    entry: ./gradlew checkstyleMain checkstyleTest
    pass_filenames: false
    require_serial: true
  - id: illuaminate
    name: Check Lua code
    files: ".*\\.(lua|java|md)"
    language: system
    entry: ./gradlew lintLua
    pass_filenames: false
    require_serial: true

exclude: |
  (?x)^(
    projects/[a-z]+/src/generated|
    projects/core/src/test/resources/test-rom/data/json-parsing/|
    .*\.dfpwm
  )

Fix a whole bunch of tests
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  gradle/libs.versions.toml
  projects/core/src/main/resources/data/computercraft/lua/bios.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/fs.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/exception.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/exception.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/lua.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
  projects/core/src/test/java/dan200/computercraft/core/LuaCoverage.java
  projects/core/src/test/java/dan200/computercraft/core/computer/ComputerTest.java
  projects/core/src/test/resources/test-rom/spec/apis/parallel_spec.lua
  projects/core/src/test/resources/test-rom/spec/base_spec.lua
Due: license, checkstyle, illuaminate

Allow undying items using a sponge
  projects/common/src/main/java/dan200/computercraft/data/RecipeProvider.java
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
  projects/common/src/main/java/dan200/computercraft/shared/common/ClearColourRecipe.java
  projects/fabric/src/generated/resources/data/computercraft/recipes/clear_colour.json
  projects/forge/src/generated/resources/data/computercraft/recipes/clear_colour.json
Due: license, checkstyle, illuaminate

Don't dye/undye turtles when right clicked
  projects/common/src/main/java/dan200/computercraft/shared/turtle/blocks/TurtleBlockEntity.java
Due: license, checkstyle, illuaminate

Fall back to the default item when rendering non-turtles
  src/main/java/dan200/computercraft/client/render/TurtleSmartItemModel.java
Due: license, checkstyle, illuaminate

Be a little more robust in turtle item rendering
  projects/common/src/client/java/dan200/computercraft/client/model/turtle/TurtleModelParts.java
  projects/common/src/client/java/dan200/computercraft/client/render/TurtleBlockEntityRenderer.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtleBrain.java
  projects/common/src/main/java/dan200/computercraft/shared/util/Holiday.java
  projects/common/src/main/java/dan200/computercraft/shared/util/HolidayUtil.java
Due: license, checkstyle, illuaminate

Add a couple of missing version annotations
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/fs.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
Due: illuaminate

Queue key presses for a short period after pressing a computer shortcut
  projects/common/src/client/java/dan200/computercraft/client/gui/widgets/TerminalWidget.java
Due: license, checkstyle, illuaminate

Remove exceptions from the public interface for now
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/parallel.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/exception.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/exception.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/lua.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
Due: illuaminate

Improve display of runtime errors (#1320)
  gradle/libs.versions.toml
  projects/core/src/main/resources/data/computercraft/lua/bios.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/exception.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/edit.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/lua.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
  projects/core/src/test/java/dan200/computercraft/core/LuaCoverage.java
  projects/core/src/test/java/dan200/computercraft/core/computer/ComputerTest.java
  projects/core/src/test/resources/test-rom/spec/apis/parallel_spec.lua
  projects/core/src/test/resources/test-rom/spec/base_spec.lua
Due: license, checkstyle, illuaminate

Bump CC:T to 1.103.0
  gradle.properties
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/parser.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/parser_exhaustive_spec.md
Due: illuaminate

Bump CC:T to 1.103.1
  gradle.properties
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/exception.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/init.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/parser.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/parser_exhaustive_spec.md
Due: illuaminate

Remove wrapping from a couple of changelog items
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
Due: illuaminate

Added translation for Czech
  projects/common/src/main/resources/assets/computercraft/lang/cs_CZ.json
Due: none

Sync changelog and whatsnew
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: illuaminate

Translations for Czech
  projects/common/src/main/resources/assets/computercraft/lang/cs_CZ.json
Due: none

Fix casing on Czech language file
  projects/common/src/main/resources/assets/computercraft/lang/cs_cz.json
Due: none

Hide the internal redirect methods in multishell
  gradle/libs.versions.toml
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/advanced/multishell.lua
Due: illuaminate

Bump illuaminate
  gradle/libs.versions.toml
Due: none

Bump CC:T to 1.101.2
  gradle.properties
  src/main/resources/data/computercraft/lua/rom/help/changelog.md
  src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
Due: illuaminate

Translations for Czech
  projects/common/src/main/resources/assets/computercraft/lang/cs_cz.json
Due: none

Use the VBO monitor renderer by default
  projects/common/src/client/java/dan200/computercraft/client/ClientHooks.java
  projects/common/src/client/java/dan200/computercraft/client/integration/Optifine.java
  projects/common/src/client/java/dan200/computercraft/client/integration/ShaderMod.java
  projects/common/src/client/java/dan200/computercraft/client/render/monitor/MonitorBlockEntityRenderer.java
  projects/fabric/src/client/java/dan200/computercraft/client/integration/IrisShaderMod.java
  projects/fabric/src/client/java/dan200/computercraft/mixin/client/DebugScreenOverlayMixin.java
  projects/forge/src/client/java/dan200/computercraft/client/ForgeClientHooks.java
  projects/forge/src/client/java/dan200/computercraft/client/integration/IrisShaderMod.java
Due: license, checkstyle, illuaminate

Be more rigorous in checking for invalid values in settings.load
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/settings.lua
  projects/core/src/test/resources/test-rom/spec/apis/settings_spec.lua
Due: illuaminate

Small update to help newbies a bit.
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/errors.lua
Due: illuaminate

Improve several comma related parse errors
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/errors.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/parser.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/parser_spec.md
Due: illuaminate

No duplicates in gps calculation.
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/gps.lua
Due: illuaminate

Fix lint
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/gps.lua
Due: illuaminate

Translations for Czech
  projects/common/src/main/resources/assets/computercraft/lang/cs_cz.json
  projects/common/src/main/resources/assets/computercraft/lang/fr_fr.json
  projects/common/src/main/resources/assets/computercraft/lang/it_it.json
Due: none

Fix introduction dates of os.cancel[Alarm|Timer]
  projects/core/src/main/java/dan200/computercraft/core/apis/OSAPI.java
Due: license, checkstyle, illuaminate

Add certificate workaround for Let's Encrypt
  src/main/java/dan200/computercraft/core/apis/http/NetworkUtils.java
Due: license, checkstyle, illuaminate

Added version check to certificate addition
  src/main/java/dan200/computercraft/core/apis/http/NetworkUtils.java
Due: license, checkstyle, illuaminate

Fixed CI
  src/main/java/dan200/computercraft/core/apis/http/NetworkUtils.java
Due: license, checkstyle, illuaminate

Distinguish between all parsers passing and failing
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/init.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/internal/syntax/init_spec.lua
Due: illuaminate

Don't create a TrustManagerFactory
  projects/core/src/main/java/dan200/computercraft/core/apis/http/NetworkUtils.java
Due: license, checkstyle, illuaminate

Try to ensure atomic writes to our ID file
  projects/common/src/main/java/dan200/computercraft/shared/util/IDAssigner.java
Due: license, checkstyle, illuaminate

Allow placing items against some blocks
  projects/common-api/src/main/java/dan200/computercraft/api/ComputerCraftTags.java
  projects/common/src/main/java/dan200/computercraft/data/TagProvider.java
  projects/common/src/main/java/dan200/computercraft/shared/platform/PlatformHelper.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/core/TurtlePlaceCommand.java
  projects/common/src/test/java/dan200/computercraft/TestPlatformHelper.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Turtle_Test.kt
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/ManagedComputers.kt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.cleaned_with_cauldrons.snbt
  projects/fabric/src/generated/resources/data/computercraft/tags/blocks/turtle_can_use.json
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
  projects/forge/src/generated/resources/data/computercraft/tags/blocks/turtle_can_use.json
  projects/forge/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
Due: license, checkstyle, illuaminate

Translations for Norwegian Bokmål
  projects/common/src/main/resources/assets/computercraft/lang/nb_no.json
Due: none

Fixed a typo in CableBlockEntity
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/CableBlockEntity.java
Due: license, checkstyle, illuaminate

Distinguish between all parsers passing and failing
  src/main/resources/data/computercraft/lua/rom/modules/main/cc/internal/syntax/init.lua
  src/test/resources/test-rom/spec/modules/cc/internal/syntax/init_spec.lua
Due: illuaminate
