Repository cc-tweaked/CC-Tweaked: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, checkstyle, illuaminate

license:
  name: Spotless
  language: system
  entry: ./gradlew spotlessApply
  pass_filenames: false
  require_serial: true

checkstyle:
  name: Check Java codestyle
  language: system
  entry: ./gradlew checkstyleMain checkstyleTest
  pass_filenames: false
  require_serial: true

illuaminate:
  name: Check Lua code
  language: system
  entry: ./gradlew lintLua
  pass_filenames: false
  require_serial: true

Add workaround for FG not picking up transitive deps
  README.md
Due: illuaminate

Fix typo in modem NBT key
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/CableBlockEntity.java
  projects/common/src/testMod/resources/data/cctest/structures/inventory_test.checks_valid_item.snbt
  projects/common/src/testMod/resources/data/cctest/structures/inventory_test.fails_on_full.snbt
  projects/common/src/testMod/resources/data/cctest/structures/modem_test.gains_peripherals.snbt
  projects/common/src/testMod/resources/data/cctest/structures/modem_test.have_peripherals.snbt
  projects/common/src/testMod/resources/data/cctest/structures/turtle_test.break_cable.snbt
Due: license, checkstyle, illuaminate

Fix NBT key name from the previous commit
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/modem/wired/CableBlockEntity.java
Due: license, checkstyle, illuaminate

Bump dependency versions
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  package-lock.json
  package.json
  projects/common/src/main/java/dan200/computercraft/shared/command/builder/CommandBuilder.java
  projects/common/src/main/java/dan200/computercraft/shared/util/Holiday.java
  projects/common/src/testMod/java/dan200/computercraft/mixin/gametest/SharedConstantsMixin.java
  projects/fabric-api/build.gradle.kts
  projects/fabric-api/src/main/modJson/fabric.mod.json
  projects/fabric/build.gradle.kts
  projects/fabric/src/main/java/dan200/computercraft/shared/ComputerCraft.java
  projects/fabric/src/main/resources/fabric.mod.json
  projects/fabric/src/testMod/java/dan200/computercraft/mixin/gametest/StructureUtilsMixin.java
  projects/fabric/src/testMod/resources/computercraft-gametest.fabric.mixins.json
  projects/fabric/src/testMod/resources/fabric.mod.json
  projects/web/rollup.config.js
  projects/web/src/transform.tsx
Due: license, checkstyle, illuaminate

Replace Forge Config port with a NYI version
  README.md
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/data/LanguageProvider.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigFile.java
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigSpec.java
  projects/common/src/main/java/dan200/computercraft/shared/platform/PlatformHelper.java
  projects/common/src/main/java/dan200/computercraft/shared/util/Trie.java
  projects/common/src/test/java/dan200/computercraft/TestPlatformHelper.java
  projects/fabric/build.gradle.kts
  projects/fabric/src/main/java/dan200/computercraft/shared/ComputerCraft.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/FabricConfigFile.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
  projects/forge/src/main/java/dan200/computercraft/ComputerCraft.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/ForgeConfigFile.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
Due: license, checkstyle, illuaminate

Update to 1.19.4
  gradle.properties
  gradle/libs.versions.toml
  projects/common/src/client/java/dan200/computercraft/client/ClientRegistry.java
  projects/common/src/client/java/dan200/computercraft/client/gui/ComputerScreen.java
  projects/common/src/client/java/dan200/computercraft/client/gui/ItemToast.java
  projects/common/src/client/java/dan200/computercraft/client/gui/PrintoutScreen.java
  projects/common/src/client/java/dan200/computercraft/client/gui/widgets/DynamicImageButton.java
  projects/common/src/client/java/dan200/computercraft/client/gui/widgets/TerminalWidget.java
  projects/common/src/client/java/dan200/computercraft/client/render/ComputerBorderRenderer.java
  projects/common/src/client/java/dan200/computercraft/client/render/TurtleBlockEntityRenderer.java
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
  projects/common/src/main/java/dan200/computercraft/shared/command/CommandComputerCraft.java
  projects/common/src/main/java/dan200/computercraft/shared/common/ClearColourRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/common/ColourableRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/computer/recipe/ComputerConvertRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/media/recipes/DiskRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/media/recipes/PrintoutRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/SpeakerPeripheral.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/recipes/PocketComputerUpgradeRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/recipes/TurtleUpgradeRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/upgrades/TurtleInventoryCrafting.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/upgrades/TurtleTool.java
  projects/common/src/main/java/dan200/computercraft/shared/util/ImpostorRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/util/ImpostorShapelessRecipe.java
  projects/common/src/main/resources/computercraft-common.accesswidener
  projects/common/src/testMod/java/dan200/computercraft/export/Exporter.java
  projects/common/src/testMod/java/dan200/computercraft/gametest/core/CCTestCommand.java
  projects/common/src/testMod/java/dan200/computercraft/mixin/gametest/SharedConstantsMixin.java
  projects/common/src/testMod/java/dan200/computercraft/mixin/gametest/client/MinecraftMixin.java
  projects/common/src/testMod/java/dan200/computercraft/mixin/gametest/client/WorldOpenFlowsMixin.java
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/Recipe_Test.kt
  projects/common/src/testMod/resources/computercraft-gametest.mixins.json
  projects/fabric/src/client/java/dan200/computercraft/client/ComputerCraftClient.java
  projects/fabric/src/client/java/dan200/computercraft/client/model/CustomBakedModel.java
  projects/fabric/src/main/java/dan200/computercraft/shared/peripheral/generic/GenericPeripheralProvider.java
  projects/fabric/src/main/java/dan200/computercraft/shared/peripheral/generic/methods/InventoryMethods.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
  settings.gradle.kts
Due: license, checkstyle, illuaminate

Forge port, fix some bugs
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/SpeakerPeripheral.java
  projects/fabric/src/main/resources/fabric.mod.json
  projects/forge/src/client/java/dan200/computercraft/client/ForgeClientRegistry.java
  projects/forge/src/client/java/dan200/computercraft/client/model/turtle/TurtleModel.java
  projects/forge/src/main/java/dan200/computercraft/data/Generators.java
  projects/forge/src/main/resources/META-INF/mods.toml
  settings.gradle.kts
Due: license, checkstyle, illuaminate

Correctly obey stack limits in OffsetStorage.extract/insert
  gradle/libs.versions.toml
  projects/common/src/test/java/dan200/computercraft/shared/util/InventoryUtilTest.java
  projects/common/src/testFixtures/java/dan200/computercraft/test/shared/ItemStackMatcher.java
  projects/common/src/testFixtures/java/dan200/computercraft/test/shared/platform/ContainerTransferContract.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/FabricContainerTransfer.java
Due: license, checkstyle, illuaminate

Bump Forge version
  gradle/libs.versions.toml
Due: none

Fix client tests hanging on onboarding screen
  gradle/libs.versions.toml
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/ClientTestHooks.kt
Due: license

Relicense the new files
  projects/common/src/main/java/dan200/computercraft/shared/config/ConfigFile.java
  projects/common/src/main/java/dan200/computercraft/shared/util/Trie.java
  projects/fabric/src/main/java/dan200/computercraft/shared/platform/FabricConfigFile.java
  projects/forge/src/main/java/dan200/computercraft/shared/platform/ForgeConfigFile.java
Due: license, checkstyle, illuaminate

Gitignore our /jars folder
  .gitignore
Due: none

Ignore metatables in textutils.serialize
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/textutils.lua
  projects/core/src/test/resources/test-rom/spec/apis/textutils_spec.lua
Due: illuaminate

Add back missing PlatformHelper
  projects/forge/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
Due: license, checkstyle, illuaminate

Construct ILuaMachines in one go
  projects/common/src/testMod/kotlin/dan200/computercraft/gametest/core/ManagedComputers.kt
  projects/core/src/main/java/dan200/computercraft/core/computer/ComputerExecutor.java
  projects/core/src/main/java/dan200/computercraft/core/lua/CobaltLuaMachine.java
  projects/core/src/main/java/dan200/computercraft/core/lua/ILuaMachine.java
  projects/core/src/main/java/dan200/computercraft/core/lua/MachineEnvironment.java
  projects/core/src/main/java/dan200/computercraft/core/lua/MachineException.java
  projects/core/src/main/java/dan200/computercraft/core/lua/MachineResult.java
  projects/core/src/test/java/dan200/computercraft/core/ComputerTestDelegate.java
  projects/core/src/testFixtures/kotlin/dan200/computercraft/test/core/computer/KotlinComputerManager.kt
  projects/core/src/testFixtures/kotlin/dan200/computercraft/test/core/computer/KotlinLuaMachine.kt
Due: license, checkstyle, illuaminate

Publish Fabric jars to CF/Modrinth
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/cc-tweaked.mod-publishing.gradle.kts
  buildSrc/src/main/kotlin/cc/tweaked/gradle/Extensions.kt
  doc/mod-page.md
  gradle/libs.versions.toml
  projects/fabric-api/build.gradle.kts
  projects/fabric/build.gradle.kts
  projects/forge/build.gradle.kts
Due: license, illuaminate

Add more explanation on how `os.epoch("ingame")` works
  projects/core/src/main/java/dan200/computercraft/core/apis/OSAPI.java
Due: license, checkstyle, illuaminate

Translations for French
  projects/common/src/main/resources/assets/computercraft/lang/fr_fr.json
Due: none

A couple of CSS tweaks
  projects/web/src/index.tsx
  projects/web/src/styles.css
  projects/web/src/transform.tsx
Due: none

fix: sort compounds in NBT lists for hashing
  projects/common/src/main/java/dan200/computercraft/shared/util/NBTUtil.java
  projects/common/src/test/java/dan200/computercraft/shared/util/NBTUtilTest.java
Due: license, checkstyle, illuaminate

Add a couple of extra tests
  projects/common/src/main/java/dan200/computercraft/shared/util/NBTUtil.java
  projects/common/src/test/java/dan200/computercraft/shared/util/NBTUtilTest.java
Due: license, checkstyle, illuaminate

Sort compounds in NBT lists for hashing (#1391)
  projects/common/src/main/java/dan200/computercraft/shared/util/NBTUtil.java
  projects/common/src/test/java/dan200/computercraft/shared/util/NBTUtilTest.java
Due: license, checkstyle, illuaminate

Update Cobalt to 0.7
  doc/reference/feature_compat.md
  gradle/libs.versions.toml
  projects/common/src/main/java/dan200/computercraft/data/LanguageProvider.java
  projects/core/src/main/java/dan200/computercraft/core/computer/TimeoutState.java
  projects/core/src/main/java/dan200/computercraft/core/lua/CobaltLuaMachine.java
  projects/core/src/main/java/dan200/computercraft/core/lua/TableImpl.java
  projects/core/src/main/java/dan200/computercraft/core/lua/VarargArguments.java
  projects/core/src/main/java/dan200/computercraft/core/metrics/Metrics.java
  projects/core/src/test/java/dan200/computercraft/core/ComputerTestDelegate.java
Due: license, checkstyle, illuaminate

Support __name inside cc.expect
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/expect.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/expect_spec.lua
Due: illuaminate

Re-license several more files under MPL-2.0
  doc/events/alarm.md
  doc/events/disk.md
  doc/events/disk_eject.md
  doc/events/http_check.md
  doc/events/http_failure.md
  doc/events/http_success.md
  doc/events/modem_message.md
  doc/events/monitor_resize.md
  doc/events/monitor_touch.md
  doc/events/paste.md
  doc/events/peripheral.md
  doc/events/peripheral_detach.md
  doc/events/rednet_message.md
  doc/events/timer.md
  doc/events/websocket_closed.md
  doc/events/websocket_failure.md
  doc/events/websocket_message.md
  doc/events/websocket_success.md
  doc/reference/feature_compat.md
  doc/stub/turtle.lua
  projects/common/src/client/java/dan200/computercraft/client/render/monitor/MonitorTextureBufferShader.java
  projects/core/src/main/java/dan200/computercraft/core/apis/handles/BinaryReadableHandle.java
  projects/core/src/main/java/dan200/computercraft/core/apis/handles/BinaryWritableHandle.java
  projects/core/src/main/java/dan200/computercraft/core/apis/handles/EncodedReadableHandle.java
  projects/core/src/main/java/dan200/computercraft/core/apis/handles/EncodedWritableHandle.java
  projects/core/src/main/java/dan200/computercraft/core/apis/handles/HandleGeneric.java
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/about.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/fun/speaker.lua
  projects/core/src/test/resources/test-rom/spec/apis/parallel_spec.lua
  projects/core/src/test/resources/test-rom/spec/apis/rednet_spec.lua
  projects/core/src/test/resources/test-rom/spec/support/debug_ext.lua
  projects/core/src/test/resources/test-rom/spec/support/fake_computer.lua
  projects/web/src/styles.css
Due: license, checkstyle, illuaminate

Some cleanup to argument checking
  projects/core-api/src/main/java/dan200/computercraft/api/lua/IArguments.java
  projects/core-api/src/main/java/dan200/computercraft/api/lua/LuaValues.java
  projects/core/src/main/java/dan200/computercraft/core/apis/handles/BinaryWritableHandle.java
  projects/core/src/main/java/dan200/computercraft/core/lua/VarargArguments.java
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/disk.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/http/http.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/io.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/parallel.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/textutils.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/expect.lua
  projects/core/src/main/resources/data/computercraft/lua/rom/modules/main/cc/shell/completion.lua
  projects/core/src/test/resources/test-rom/mcfly.lua
  projects/core/src/test/resources/test-rom/spec/apis/colors_spec.lua
  projects/core/src/test/resources/test-rom/spec/apis/fs_spec.lua
  projects/core/src/test/resources/test-rom/spec/apis/gps_spec.lua
  projects/core/src/test/resources/test-rom/spec/apis/help_spec.lua
  projects/core/src/test/resources/test-rom/spec/apis/io_spec.lua
  projects/core/src/test/resources/test-rom/spec/apis/keys_spec.lua
  projects/core/src/test/resources/test-rom/spec/apis/os_spec.lua
  projects/core/src/test/resources/test-rom/spec/apis/paintutils_spec.lua
  projects/core/src/test/resources/test-rom/spec/apis/parallel_spec.lua
  projects/core/src/test/resources/test-rom/spec/apis/peripheral_spec.lua
  projects/core/src/test/resources/test-rom/spec/apis/rednet_spec.lua
  projects/core/src/test/resources/test-rom/spec/apis/settings_spec.lua
  projects/core/src/test/resources/test-rom/spec/apis/term_spec.lua
  projects/core/src/test/resources/test-rom/spec/apis/textutils_spec.lua
  projects/core/src/test/resources/test-rom/spec/apis/window_spec.lua
  projects/core/src/test/resources/test-rom/spec/base_spec.lua
  projects/core/src/test/resources/test-rom/spec/lua/call_spec.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/expect_spec.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/image/nft_spec.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/pretty_spec.lua
  projects/core/src/test/resources/test-rom/spec/modules/cc/strings_spec.lua
  projects/core/src/test/resources/test-rom/spec/programs/advanced/multishell_spec.lua
  projects/core/src/test/resources/test-rom/spec/programs/shell_spec.lua
Due: license, checkstyle, illuaminate

Fix pocket computers rendering as greyscale
  projects/common/src/client/java/dan200/computercraft/client/pocket/ClientPocketComputers.java
Due: license, checkstyle, illuaminate

Prevent use of shell as a hashbang program
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/shell.lua
  projects/core/src/test/resources/test-rom/spec/programs/shell_spec.lua
Due: illuaminate

Bundle jzlib with our published jar
  gradle/libs.versions.toml
  projects/core/build.gradle.kts
  projects/fabric/build.gradle.kts
  projects/forge/build.gradle.kts
Due: license

Detect common audio containers in "speaker"
  projects/core/src/main/resources/data/computercraft/lua/rom/programs/fun/speaker.lua
Due: illuaminate

Put our bundled deps are on the classpath for gametests
  projects/forge/build.gradle.kts
Due: license

Turtle flags
  .gitignore
  buildSrc/src/main/kotlin/cc-tweaked.java-convention.gradle.kts
  projects/common/src/client/java/dan200/computercraft/client/ClientRegistry.java
  projects/common/src/main/java/dan200/computercraft/data/RecipeProvider.java
  projects/common/src/main/java/dan200/computercraft/shared/ModRegistry.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/recipes/TurtleOverlayRecipe.java
  projects/common/src/main/java/dan200/computercraft/shared/util/ColourUtils.java
  projects/common/src/main/resources/assets/computercraft/models/block/turtle_rainbow_overlay.json
  projects/common/src/main/resources/assets/computercraft/models/block/turtle_rainbow_overlay.json.license
  projects/common/src/main/resources/assets/computercraft/models/block/turtle_trans_overlay.json
  projects/common/src/main/resources/assets/computercraft/models/block/turtle_trans_overlay.json.license
  projects/common/src/main/resources/assets/computercraft/textures/block/turtle_rainbow_overlay.png
  projects/common/src/main/resources/assets/computercraft/textures/block/turtle_rainbow_overlay.png.license
  projects/common/src/main/resources/assets/computercraft/textures/block/turtle_trans_overlay.png
  projects/common/src/main/resources/assets/computercraft/textures/block/turtle_trans_overlay.png.license
  projects/fabric/src/generated/resources/assets/computercraft/lang/en_us.json
  projects/fabric/src/generated/resources/data/computercraft/advancements/recipes/redstone/turtle_advanced_overlays/turtle_rainbow_overlay.json
  projects/fabric/src/generated/resources/data/computercraft/advancements/recipes/redstone/turtle_advanced_overlays/turtle_trans_overlay.json
  projects/fabric/src/generated/resources/data/computercraft/advancements/recipes/redstone/turtle_normal_overlays/turtle_rainbow_overlay.json
  projects/fabric/src/generated/resources/data/computercraft/advancements/recipes/redstone/turtle_normal_overlays/turtle_trans_overlay.json
  projects/fabric/src/generated/resources/data/computercraft/recipes/turtle_advanced_overlays/turtle_rainbow_overlay.json
  projects/fabric/src/generated/resources/data/computercraft/recipes/turtle_advanced_overlays/turtle_trans_overlay.json
  projects/fabric/src/generated/resources/data/computercraft/recipes/turtle_normal_overlays/turtle_rainbow_overlay.json
  projects/fabric/src/generated/resources/data/computercraft/recipes/turtle_normal_overlays/turtle_trans_overlay.json
  projects/forge/src/generated/resources/assets/computercraft/lang/en_us.json
  projects/forge/src/generated/resources/data/computercraft/advancements/recipes/redstone/turtle_advanced_overlays/turtle_rainbow_overlay.json
  projects/forge/src/generated/resources/data/computercraft/advancements/recipes/redstone/turtle_advanced_overlays/turtle_trans_overlay.json
  projects/forge/src/generated/resources/data/computercraft/advancements/recipes/redstone/turtle_normal_overlays/turtle_rainbow_overlay.json
  projects/forge/src/generated/resources/data/computercraft/advancements/recipes/redstone/turtle_normal_overlays/turtle_trans_overlay.json
  projects/forge/src/generated/resources/data/computercraft/recipes/turtle_advanced_overlays/turtle_rainbow_overlay.json
  projects/forge/src/generated/resources/data/computercraft/recipes/turtle_advanced_overlays/turtle_trans_overlay.json
  projects/forge/src/generated/resources/data/computercraft/recipes/turtle_normal_overlays/turtle_rainbow_overlay.json
  projects/forge/src/generated/resources/data/computercraft/recipes/turtle_normal_overlays/turtle_trans_overlay.json
Due: license, checkstyle, illuaminate

Relicense a couple more files
  projects/common/src/main/java/dan200/computercraft/shared/details/ItemDetails.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/SpeakerBlockEntity.java
  projects/common/src/main/java/dan200/computercraft/shared/peripheral/speaker/SpeakerPeripheral.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/peripherals/PocketSpeaker.java
  projects/common/src/main/java/dan200/computercraft/shared/pocket/peripherals/PocketSpeakerPeripheral.java
  projects/common/src/main/java/dan200/computercraft/shared/turtle/upgrades/TurtleSpeaker.java
  projects/common/src/main/resources/assets/computercraft/textures/block/speaker_front.png.license
  projects/common/src/main/resources/assets/computercraft/textures/block/speaker_side.png.license
  projects/common/src/main/resources/assets/computercraft/textures/block/speaker_top.png.license
  projects/common/src/main/resources/assets/computercraft/textures/block/turtle_speaker_face.png.license
  projects/core/src/test/resources/test-rom/spec/apis/paintutils_spec.lua
Due: license, checkstyle, illuaminate

Properly scope IArguments to the current function call
  projects/common/src/main/java/dan200/computercraft/shared/turtle/apis/TurtleAPI.java
  projects/core-api/src/main/java/dan200/computercraft/api/lua/IArguments.java
  projects/core-api/src/main/java/dan200/computercraft/api/lua/ObjectArguments.java
  projects/core/src/main/java/dan200/computercraft/core/apis/OSAPI.java
  projects/core/src/main/java/dan200/computercraft/core/asm/LuaMethod.java
  projects/core/src/main/java/dan200/computercraft/core/asm/PeripheralMethod.java
  projects/core/src/main/java/dan200/computercraft/core/lua/TableImpl.java
  projects/core/src/main/java/dan200/computercraft/core/lua/VarargArguments.java
  projects/core/src/test/java/dan200/computercraft/core/computer/ComputerBootstrap.java
  projects/core/src/test/java/dan200/computercraft/core/lua/VarargArgumentsTest.java
Due: license, checkstyle, illuaminate

Handle duplicate pings received by gps.locate
  projects/core/src/main/resources/data/computercraft/lua/rom/apis/gps.lua
  projects/core/src/test/resources/test-rom/spec/apis/gps_spec.lua
  projects/core/src/test/resources/test-rom/spec/support/fake_computer.lua
Due: illuaminate

Bump CC:T to 1.104.0
  gradle.properties
  gradle/libs.versions.toml
  projects/core/src/main/resources/data/computercraft/lua/rom/help/changelog.md
  projects/core/src/main/resources/data/computercraft/lua/rom/help/whatsnew.md
  projects/core/src/test/resources/test-rom/spec/support/fake_computer.lua
  projects/forge/src/main/java/dan200/computercraft/shared/platform/PlatformHelperImpl.java
Due: license, checkstyle, illuaminate

Path conditions:
  license: any of: .*\.(java|kt|kts)$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  checkstyle: any of: .*\.java$, but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

  illuaminate: any of: .*\.(lua|java|md), but not: (?x)^(
  projects/[a-z]+/src/generated|
  projects/core/src/test/resources/test-rom/data/json-parsing/|
  .*\.dfpwm
)

